{% extends "layout.html" %}
{% block pageTitle %}
  Company authentication - GOV.UK 
{% endblock %}


{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/api-filing/authentication" method="post" novalidate>


        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">
              Enter the company authentication code</h1>
            </label>

            <p class="govuk-body">To file company information you will need an authentication code</p>

            <p class="govuk-body">Authenticating for</p>

            <p class="govuk-body govuk-!-font-weight-bold">FLOWERS LIMITED (1234466) </p>

          
          <input class="govuk-input" id="event-name" name="event-name" type="text">
        </div>

      {{ govukButton({
        text: "Authenticate",
        href:"consent"
      }) }}

      <p class="govuk-body"> <a href="#" class="govuk-link">Request an authentication code</a></p>


{% endblock %}
