{% extends "layout.html" %}
{% block pageTitle %}
  Consent 
{% endblock %}


{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/consent-to-emails/email-consent" method="post" novalidate>


        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "sign-in",
          name: "sign-in",
          fieldset: {
            legend: {
              text: "Do you give consent for a third-party to file on your behalf?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "consent-yes",
              text: "Yes"
            },
            {
              value: "consent-no",
              text: "No"
            }
          ]
        }) }}

      {{ govukButton({
        text: "Continue",
        href:""
      }) }}
{% endblock %}
