{% extends "layout/layout-signin.html" %}

{% block pageTitle %}
  Change your password
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/change-your-password" method="post" novalidate>


      <h1 class="govuk-heading-xl">What is your email address?</h1>

      <p class="govuk-body">Enter the email address you used to create your Companies House WebFiling account.</p>

      {{ govukInput({
        label: {
          text: "Email address"
        },
        id: "email",
        name: "email",
        type: "email",
        autocomplete: "email",
        spellcheck: false
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>
    </div>
  </div>
{% endblock %}
