{% extends "layout.html" %}

{% block pageTitle %}
  Reset your password
{% endblock %}

{% from "govuk/components/header/macro.njk" import govukHeader %}

{% block header %}
    {{ govukHeader({ serviceName: "" }) }}
{% endblock %}

{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Service name",
  serviceUrl: "#"
}) }}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/reset-your-password" method="post" novalidate>

  <h1 class="govuk-heading-l">Companies House WebFiling account: <br>reset your password</h1>
        <p class="govuk-body">You've received this email because you've requested to reset your password for your Companies House WebFiling account. <br> <br> To reset your password, select the following link: <br> <a href="../forgotten-password/reset-your-password" class="govuk-link">https://find-and-update.company-information.service.gov.uk/reset_password_sdfhjbsjhbfjs_jhsdjhbsjhbjh</a> </p>

              {{ govukInsetText({
              text: "This link expires in 24 hours. If you run out of time, return to WebFiling and select 'I've forgotten my password'."
            }) }}

      </form>
    </div>
  </div>
{% endblock %}
