{% extends "layout.html" %}

{% block pageTitle %}
  Reset your password
{% endblock %}

{% from "govuk/components/header/macro.njk" import govukHeader %}

{% block header %}
    {{ govukHeader({ serviceName: "" }) }}
{% endblock %}

{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Service name",
  serviceUrl: "#"
}) }}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/reset-your-password" method="post" novalidate>

        
        <p class="govuk-body">Hello, <br><br> You've asked to reset your password for your Companies House account. <br> <br> To choose a new password, you need to click on this link: <br> <a href="#" class="govuk-link">https://find-and-update.company-information.service.gov.uk/reset_password_sdfhjbsjhbfjs_jhsdjhbsjhbjh</a> </p>

        <p class="govuk-body">The link will expire in 6 hours. You can ask for new reset password link if you run out of time: <br> <a href="#" class="govuk-link">https://find-and-update.company-information.service.gov.uk/account/password/reset</a> </p>

        <p class="govuk-body"> If you are still having trouble signing in, contact us: </p>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <p class="govuk-body"> This is an automated email, please do not reply. </p>



      </form>
    </div>
  </div>
{% endblock %}
