{% extends "layout/layout-signin.html" %}

{% block pageTitle %}
  Reset your password
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/reset-password-check-email" method="post" novalidate>


      <h1 class="govuk-heading-l">Check your emails</h1>

      <p class="govuk-body">We've sent an email to <span class='govuk-body govuk-!-font-weight-bold'>hannah.salt@example.com</span> which contains a link to reset your password.
      <div class="govuk-inset-text">
      The link will expire in 6 hours.
      </div>
      {{ govukDetails({
        summaryText: "I have not received an email",
        html: "The email may take a few minutes to arrive. Its subject line is 'Companies House: reset your password'. </br> </br> Check your junk folder. If it still has not arrived, you can <a href='' class='govuk-link'>ask us to send you another email</a></a>. </br></br> If you have given us the wrong email address, you can <a href='../forgotten-password/change-your-password' class='govuk-link'>give us a different email address</a>."
      }) }}


      </form>
    </div>
  </div>
{% endblock %}
