{% extends "layout/layout-no-sign-in.html" %}
{% block pageTitle %}
  Sign in to Companies House account
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/sign-in" method="post" novalidate>

        {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

        {% set html %}
          <p class="govuk-notification-banner__heading">
            You've successfully reset your password. 
          </p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}

        {% if errorEmail == true or errorPassword == true %}

          {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: errorList
            }) }}

        {% endif %}

      <h1 class="govuk-heading-xl">Sign in to your Companies House account</h1>


        {% if errorEmail == true %}

          {{ govukInput({
            label: {
            text: "Email address"
          },
          id: "email",
          type: "email",
          name: "email",
          autocomplete: "email",
          errorMessage: {
            text: "Enter your email address"
          }
          }) }}

        {% else %}

          {{ govukInput({
            label: {
            text: "Email address"
          },
          type: "email",
          autocomplete: "email",
          id: "email",
          name: "email"
          }) }}

        {% endif %}

        {% if errorPassword == true %}

          {{ govukInput({
          label: {
          text: "Password"
          },
          id: "password",
          name: "password",
          type: "password",
          errorMessage: {
            text: "Enter your password"
          },
          suffix: {
            html: "<a href='#' class='govuk-link' style = 'padding: 1em'>Show</a>"
          }

        }) }}

        {% else %}

          {{ govukInput({
          label: {
          text: "Password"
          },
          id: "password",
          name: "password",
          type: "password",
          suffix: {
            html: "<a href='#' class='govuk-link' style = 'padding: 1em'>Show</a>"
          }
          }) }}
          {% endif %}

          {{ govukButton({
          text: "Sign in"

        }) }}


        <p><a href="" class="govuk-link govuk-link--no-visited-state">I've forgotten my password</a>

      </p>
      </form>
    </div>
  </div>
{% endblock %}
