{% extends "layout.html" %}

{% block pageTitle %}
  Activate your Companies House account
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-m">Companies House account: <br>Request to add you as an authorised person for FLOWERS LIMITED</h1>

    <p class="govuk-body">You are receiving this email because Hannah Salt has added you as an authorised person so that you can file for FLOWERS LIMITED.<br><br>
      Select the following link to verify your email address and confirm you want to be added as an authorised person for this company:
    </p> <br>

    <a href="../start-page" class="govuk-link">https://companieshouse/authorised-person-confirmation-5xbk3ft88</a><br><br><br>
    
    <p class="govuk-body">If you were not expecting to receive this email, you can ignore it.
    </p>


  </div>
  </div>
{% endblock %}
