{% extends "layout.html" %}

{% block pageTitle %}
  Activate your Companies House account
{% endblock %}

{% block header %}
    {{ govukHeader({ serviceName: "" }) }}
{% endblock %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/sign-in" method="post" novalidate>

    <h1 class="govuk-heading-l">Companies House account:<br>Email address already registered</h1>

    <p class="govuk-body">You’ve received this email because you tried to create a new Companies House account using the email address <strong>peterdenton@example.com</strong>.<br>

    </p>
    <p class="govuk-body">This email address has already been used to start to create a Companies House account. To continue creating an account using this email address, you need to create a password by selecting the following link:<br>
      <a href="#" class="govuk-link">https://find-and-update.company-information.service.gov.uk/create_password_sdfhjbsjhbfjs_jhsdjhbsjhbjh</a>
    </p>
    <div class="govuk-inset-text">
      This link will expire in 24 hours. If you run out of time, you can   <a href="#" class="govuk-link">request a new
    email to create a password</a>.</div>

</form>

  </div>
  </div>
{% endblock %}
