{% extends "layout.html" %}

{% block pageTitle %}
  Activate your Companies House account
{% endblock %}

{% block header %}
    {{ govukHeader({ serviceName: "" }) }}
{% endblock %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/sign-in" method="post" novalidate>

    <h1 class="govuk-heading-l">Companies House account: <br>Request to add you as an authorised person for FLOWERS LIMITED</h1>

    <p class="govuk-body">You are receiving this email because Hannah Salt has added you as an authorised person so that you can file for FLOWERS LIMITED.<br><br>

    How to confirm you want to be authorised to file for this company:
    </p>
    <ol class="govuk-list govuk-list--number">
  <li>Select the verification link.</li>
  <li>After you've selected the link, sign in to or create a Companies House account.</li>
  <li>Tell us if you confirm that you want to be authorised to file for FLOWERS LIMITED.</li>
</ol>
<p class="govuk-body govuk-!-font-weight-bold">Verification link:</p>
    <a href="../sign-in-auth-person-request" class="govuk-link">https://companieshouse/authorised-person-confirmation-5xbk3ft88</a><br><br><br>

    <p class="govuk-body">If you were not expecting to receive this email, you can ignore it.
    </p>

</form>

  </div>
  </div>
{% endblock %}
