{% extends "layout/layout-account-signout-messages-jill.html" %}

{% block pageTitle %}
  Companies House account
{% endblock %}


{% block content %}

<div class="govuk-width-container">
<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Messages<span class="govuk-caption-m" style = "padding-top:0.5em;"></span></h1>


       <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <div style=" border-color: #b1b4b6; border-style: solid; border-width: 1px; padding: 2em;">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                 
                  <p class="govuk-body">You have not received any messages. </p>

                </div>
              </div>
            </div>
            
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  </div>
</div>
</div>


{% endblock %}
