{% extends "layout.html" %}

{% block header %}
    {{ govukHeader({ serviceName: "" }) }}
{% endblock %}



{% block pageTitle %}
  Verify your email address
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      <h1 class="govuk-heading-l">Companies House WebFiling account: <br>security code</h1>


      <p class="govuk-body">Your security code is 963067.</p>

  <p class="govuk-body">Enter the code to access your Companies House WebFiling account.</p>
    <p class="govuk-body">This code will expire in 30 minutes. If you run out of time, you can request a new email with a security code by selecting the following link:<br>

    <a href="#" class="govuk-link">https://identify.company-information.
  service.gov.uk/request-new-email-with-security-code/djhfbjhbrhegaerhfbejhb</a></p>


  </div>
  </div>
{% endblock %}
