{% extends "layout.html" %}

{% block header %}
    {{ govukHeader({ serviceName: "" }) }}
{% endblock %}



{% block pageTitle %}
  Verify your email address
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      <h1 class="govuk-heading-l">Companies House WebFiling account: <br>security code</h1>


      <p class="govuk-body">Your security code is <strong>963067</strong>.</p>

  <p class="govuk-body">Enter the code to access your Companies House WebFiling account.</p>
  <div class="govuk-inset-text">
  This code will expire in 30 minutes. If you run out of time, you can <a href="#" class="govuk-link">request a new email with a security code</a>.
  </div>

  </div>
  </div>
{% endblock %}
