{% extends "layout.html" %}

{% block header %}
    {{ govukHeader({ serviceName: "" }) }}
{% endblock %}



{% block pageTitle %}
  Email address verified
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Email address verified</h1>

      {{ govukInsetText({
           html: "<p class='govuk-body'>You have sucessfully verified the email address <span class='govuk-body govuk-!-font-weight-bold'>hannah.salt@example.com</span></p> "
       }) }}


      <p class="govuk-body">You can now close this email and return the previous webpage to view your account, or <a href="../user-account/home-no-companies" class="govuk-link">go directly to your account</a>.
      </p>


  </div>
  </div>
{% endblock %}
