{% extends "layout.html" %}

{% block header %}
    {{ govukHeader({ serviceName: "" }) }}
{% endblock %}




{% block pageTitle %}
  Verify your email address
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      <h1 class="govuk-heading-l">Companies House WebFiling account: <br>verify your email address</h1>


      <p class="govuk-body">To continue creating your account, verify your email address by selecting the following link:<br>
      <a href="../create-your-password" class="govuk-link">https://identify.company-information.</br>service.gov.uk/go/register/djhfbjhbrhegaerhfbejhb</a></p>



      {{ govukInsetText({
      text: "This link expires in 24 hours. If you run out of time, return to WebFiling and start again to create an account."
    }) }}

      <p class="govuk-body">You've received this email because you are creating a new Companies House WebFiling account. If you think you've received this email in error, you can ignore it. </p>

  </div>
  </div>
{% endblock %}
