{% extends "layout.html" %}

{% block pageTitle %}
  Verify your email address
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      <h1 class="govuk-heading-l">Companies House account: <br>verify your email address</h1>


      <p class="govuk-body">To continue creating your Companies House account, verify your email address by selecting the following link: </p>

      <p> <a href="/messages/verify-email-confirmation" class="govuk-link">https://identify.company-information.</br>service.gov.uk/go/register/djhfbjhbrhegaerhfbejhb</a></p>

      <p class="govuk-body">You've received this email because you are creating a new Companies House account. If you think you've received this email in error, you can ignore it. </p>

  </div>
  </div>
{% endblock %}
