
  <p>Signed in as email@example.com </p>


<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="your-companies-2">File for a company</a>
  </li>
  <li>
    <a class="govuk-link" href="javascript:void(0)">My recent filings</a>
  </li>
<!--   <li>
    <a class="govuk-link" href="javascript:void(0)">Company overview</a>
  </li> -->
  <li>
    <a class="govuk-link" href="javascript:void(0)">Company authentication</a>
  </li>
<!--     <li>
    <a class="govuk-link" href="javascript:void(0)">File for a different company</a>
  </li>  -->
    <li>
    <a class="govuk-link" href="manage-account">Manage account</a>
  </li>
  <li>
    <a class="govuk-link" href="javascript:void(0)">Sign out</a>
    </li>
</ul>
