
  
  
   <!-- scenario 2 only -->

   {% if (data['set-journey'] === "WC2")%}

  
 <p>Signed in to WebFiling as <br> old-email@hotmail.com </p>


   <!-- all other scenarios -->
   {% else %}
   
  
 <p>Signed in to WebFiling as example@gmail.com </p>

 {% endif %}




<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="">Saved companies</a>
  </li>
  <li>
      <a class="govuk-link" href="">Company overview</a>
  </li> 
  <li>
    <a class="govuk-link" href="">My recent filings</a>
  </li>
   
<li>   
    <a class="govuk-link" href="">Company authentication</a>
  
</li>
   <!--  <a class="govuk-link" href="javascript:void(0)">File for a different company</a>
  </li>  -->
    <li>
    <a class="govuk-link" href="manage-account">Manage account</a>
  </li>
  <li>
    <a class="govuk-link" href="">Sign out</a>
    </li>
</ul>
