{% extends "layouts/layout.html" %}


{% set serviceName %}
  
{% endset%}

{% block pageTitle %}
  Sign in to WebFiling
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">

  <form action="account-support-2" method="post" novalidate="">


    <h1 class="govuk-heading-l">We're taking you to GOV.UK One Login</h1>

    <p class="govuk-body">To save any existing information, you must use the same email address for your GOV.UK One Login as your WebFiling account and Companies House account.</p>



    {{ govukButton({
      text: "Go to GOV.UK One Login"
    }) }}   
  



  </form>

</div>
</div>

{% endblock %}
