{% extends "layouts/layout.html" %}


{% set serviceName %}
  
{% endset%}

{% block pageTitle %}
  Sign in to WebFiling
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">

  <form action="chs-interrupt" method="post" novalidate="">
    
    

  <h1 class="govuk-heading-l">We need to connect your Companies House account to your GOV.UK One Login</h1>

  <p class="govuk-body">To do this, we’ll ask you to enter your Companies House account password. You only need to do this once.</p>

  <p>This will enable us to connect your GOV.UK One Login to your Companies House account that uses the email address <strong>email@example.com</strong>. We will save any existing information that's in this account.</p>
  
  <div class="govuk-button-group">
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Continue
    </button>
    
  </div>



  </form>

</div>
</div>

{% endblock %}
