{% extends "layouts/layout.html" %}



{% block pageTitle %}
We are changing the way you sign in to some of our services – {{ serviceName }} - GOV.UK
{% endblock %}

{% set serviceName %}
 
{% endset %}

{% block beforeContent %}

{% endblock %}





{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds ">
    <form action="email-verify-webfiling" method="post" novalidate>

       
      <h1 class="govuk-heading-l">Companies House: verify your Webfiling account email address</h1>
     
      <p class='govuk-body'>The security code is: 79903222 </p>
        
        

    <p class='govuk-body'>This link will expire in 24 hours. </p>



    <p class='govuk-body'>If you didn't sign in to WebFiling, ... </p>







 
     </form>
   </div>
 </div>

 {% endblock %}
