{% extends "layouts/layout.html" %}


{% set serviceName %}
  
{% endset%}

{% block pageTitle %}
  Sign in to WebFiling
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">

  <form action="sign-in-webfiling-interupt-simplified" method="post" novalidate="">



  <h1 class="govuk-heading-l">How to save your existing information</h1>


  <p class="govuk-body">If this is the first time you’ve signed in to WebFiling since the introduction of GOV.UK One Login, and you have an existing WebFiling account, you can save any information stored. For example:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>details of companies you file for</li>
    <li>email reminders</li>
  </ul>

  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-visually-hidden">Warning</span>
      If you want to save your existing WebFiling information, you must sign in to or create a GOV.UK One Login using the same email address. <!--{% if (data['chs-email-2'] === "") %}
      <strong>  {{data['email-address-2']}} </strong>
      {% elseif (data['chs-email'] !== "") %}
      <strong> {{data['chs-email']}} </strong>
      {% else %}
      <strong> email111@example.com</strong>
      {% endif %}-->
    </strong>
  </div>
   <p class="govuk-body"> This will enable us to connect your account to your GOV.UK One Login.</p>

   <br>

   <details class="govuk-details" data-module="govuk-details">
     <summary class="govuk-details__summary">
       <span class="govuk-details__summary-text">
        What to do if you already have a GOV.UK One Login that uses a different email address
       </span>
     </summary>
     <div class="govuk-details__text">
       <p class="govuk-body">If you want to connect this WebFiling account to a GOV.UK One Login that uses a different email address, you have 2 options:</p>
       <h3 class="govuk-heading-s">Option 1</h3>
       <p class="govuk-body"><a href="#" class="govuk-link">Change your WebFiling email address</a> to match your GOV.UK One Login email address. Then come back to WebFiling and sign in.</p>
       <h3 class="govuk-heading-s">Option 2</h3>
       <p class="govuk-body"><a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Change your GOV.UK One Login email address (opens in a new tab)</a> to match your WebFiling email address. Then come back to WebFiling and sign in.</p>
       </ul>
     </div>
   </details>

   

   <details class="govuk-details" data-module="govuk-details">
     <summary class="govuk-details__summary">
       <span class="govuk-details__summary-text">
     
    What to do if you share access to this WebFiling account with other people
       </span>
     </summary>
     <div class="govuk-details__text">
       <p class="govuk-body">Only one person can connect this WebFiling account to their GOV.UK One Login.</p>
       <p class="govuk-body">
     Anyone else who shares access to this account will need to create their own GOV.UK One Login, using a different email address. They will no longer be able to access the information in this account.
       </p>
     </div>
   </details>



    {{ govukCheckboxes({
      name: "skip",
      fieldset: {
        legend: {
          text: ""
        }
      },
      items: [
        {
          value: "skip",
          text: "Don't show me this again"
        }
      ]
    }) }}


  {{ govukButton({
    text: "Continue"
  }) }}   


  </form>

            </div>
          </div>

{% endblock %}
