{% extends "layouts/layout.html" %}


{% set serviceName %}
  
{% endset%}

{% block pageTitle %}
  Sign in to WebFiling
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">

  <form action="sign-in-webfiling-interupt-simplified" method="post" novalidate="">



  <h1 class="govuk-heading-l">We are changing the way you sign in to Companies House</h1>


  <p class="govuk-body">We’ll ask you to sign in to or create a GOV.UK One Login. GOV.UK One Login will allow you to access many government services using the same email address and password.</p>



  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-visually-hidden">Warning</span>
      To save your existing WebFiling and Companies House account information, you must sign in to or create a GOV.UK One Login using the same email address.</strong>
  </div>
   <p class="govuk-body">This will enable us to connect your account to your GOV.UK One Login.</p>



    {{ govukCheckboxes({
      name: "skip",
      fieldset: {
        legend: {
          text: ""
        }
      },
      items: [
        {
          value: "skip",
          text: "Don't show me this again"
        }
      ]
    }) }}


  {{ govukButton({
    text: "Continue"
  }) }}   


  </form>

            </div>
          </div>

{% endblock %}
