{% extends "layouts/layout.html" %}


{% set serviceName %}
  
{% endset%}

{% block pageTitle %}
  Sign in to WebFiling
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">

  <form action="webfiling-interupt" method="post" novalidate="">



  <h1 class="govuk-heading-l">We need to connect your WebFiling account to your GOV.UK One Login</h1>

  <p class="govuk-body">You only need to do this once.</p>

  <p class="govuk-body">It will enable us to save any existing information in your WebFiling account.</p>

  <p class="govuk-body">To connect your account, we'll send a code to <strong> email@example.com</strong> when you select continue.</p>





  {{ govukButton({
    text: "Continue"
  }) }}   


  </form>

</div>
</div>

{% endblock %}
