//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
@import "webfiling";

// CH NOTIFICATION BANNER
// The banner takes the form of a container div which in-turn is made of two separate divs. These being:
// 1. title and (button) link
// 2. content (the messaging)

.ch-notification-banner { // Banner container
  background-color:#1d70b8;
  color: #fff !important;
  margin-bottom: 30px;
}

.ch-notification-title { // Banner tite and button element container
  background-color:#1d70b8;
  font-size: 19px;
  font-weight: 700;
  padding: 10px 25px;
}

.ch-notification-content { // Banner content container
  background-color:#ffffff;
  color: #0b0c0c;
  border:#1d70b8 5px;
  border-style: none solid solid solid;
}

.ch-show-hide-button { // Banner show/hide button styled as a link
  background-color: transparent;
  font-size: 16px;
  float: right;
  border: none;
  color: white;
  text-align: right;
  text-decoration: underline solid white;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer; 
}

.ch-show-hide-button:hover { // Banner show/hide button hover state styling
  text-decoration: underline solid white 3px;
}

.ch-show-hide-button:focus { // Banner show/hide button focus state styling
  color: #0b0c0c;
  text-decoration: underline solid #0b0c0c 3px;
  background-color: #ffdd00;
}

// End of CH Notification Banner


nav{

	display: inline-block;
	float: right;

}

@media (min-width: 641px) {
	.searchbutton{
		margin-top: 80px;
	}
}


.ch-account-summary-list__value {
    width: 20%;
    padding-left:30px;
}

.ch-account-summary-list__action {
    width: 20%;
}

.ch-account-summary-list__key {
    width: 60%;
}


//Pagination

.ch-pagination-container {
  margin-top: 30px;
  margin-bottom: 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.ch-pagination__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
  justify-content: end;
}

.ch-pagination__link {
  text-decoration: none;
  padding: 5px;
  min-width: 25px;
}

.ch-pagination__item--active {
  color: govuk-colour("black");
  font-weight: bold;
  cursor: default;
}

.ch-pagination__item--active span {
  padding: 5px;
  min-width: 25px;
}

.ch-pagination-next:after,
.ch-pagination-previous:before {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-style: solid;
  color: govuk-colour("black");
  background: transparent;
  transform: rotate(-45deg);
  content: '';
}

.ch-pagination-next:after {
  border-width: 0 3px 3px 0;
  margin-left: 5px;
}

.ch-pagination-previous:before {
  border-width: 3px 0 0 3px;
  margin-right: 5px;
}

.ch-pagination__summary {
    width: 27%;
    padding-top: 17px;

}

/// interruption card ///


.interruption-card {
  padding: 2em 3em;
	background-color: govuk-colour("blue");
	color: govuk-colour("white") !important;

	.govuk-heading-l, p, li,	details,span, summary, a, .govuk-inset-text {
		color: govuk-colour("white") !important;
	}

	.govuk-inset-text  {
		border-color: govuk-colour("white") !important; 
	}
	.govuk-button {
		background-color: govuk-colour("white");
		color: govuk-colour("black");
		&:hover {
			background-color: govuk-colour("mid-grey");
		}
	}
}

/// Message counter ///
.message-count {
  top: -10px;
  right: -10px;
  padding: 3px 7px;
  border-radius: 50%;
  background: govuk-colour("red");
  color: govuk-colour("white");
}