{% extends "layout/layout-account-signout-home-jill.html" %}


{% block pageTitle %}
  Companies House account
{% endblock %}


{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">


      {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

        {% set html %}
          <h3 class="govuk-notification-banner__heading">
            You have declined the request to be authorised to file online for FLOWERS LIMITED.
          </h3>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}

        <h1 class="govuk-heading-l">Home
        <span class="govuk-caption-xl" > Jill Edwards</span> </h1>
      </div>
    </div>

    <div class="govuk-grid-row" style="margin-bottom: 10px;">
      <div class="govuk-grid-column-full">


        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <h2 class="govuk-heading-m">Your account</h2>


          <div class="govuk-grid-column-one-third" style=" border-width: 1px; padding: 2em; height: 300px;width: 310px; margin-right: 10px; background-color:#f3f2f1 ">


            <h2 class="govuk-heading-m"style= "color:#003078" ><p class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold" style= "color:#003078" >0</p> <a href="../user-account/home-no-companies-no-notification" class="govuk-link"> Your companies</a> </h2>

            <p  class="govuk-body">
             Add a company to your account. View, manage and file for companies you’ve added. Manage people authorised to file on behalf of a company.
            </p>
          </div>

          <div class="govuk-grid-column-one-third" style=" background-color:#f3f2f1; border-width: 1px; padding: 2em; height:300px;width: 310px; margin-right: 10px;">


            <h2 class="govuk-heading-m" style= "color:#003078" ><p class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold" style= "color:#003078">0</p> <a href="#" class="govuk-link"> Companies you follow </a></h2>

            <p  class="govuk-body">View the companies that you have asked to receive email alerts about. </p>


          </div>

          <div class="govuk-grid-column-one-third" style=" background-color:#f3f2f1;  border-width: 1px; padding: 2em; height: 300px;width: 310px; margin-right: 10px">

            <h2 class="govuk-heading-m" style= "color:#003078"><p class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold" style= "color:#003078">0</p> <a href="#" class="govuk-link"> Messages</a></h2>


            <p  class="govuk-body">View messages relating to your Companies House account.</p>



          </div>


        </div>
      </div>



     <div class="govuk-grid-row" style="margin-top: 30px;">
      <div class="govuk-grid-column-full">


        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <h2 class="govuk-heading-m">Services</h2>

          <div class="govuk-grid-column-one-third" style=" border-width: 1px; padding: 2em; height: 300px;width: 310px; margin-right: 10px; background-color:#f3f2f1 ">

            <h2 class="govuk-heading-m" style= "color:#003078"> <a href="#" class="govuk-link">Search the register</a> </h2>

            <p  class="govuk-body">Search for company information on the Companies House register.</p>
          </div>

          <div class="govuk-grid-column-one-third" style=" border-width: 1px; padding: 2em; height: 300px;width: 310px; margin-right: 10px; background-color:#f3f2f1 ">

            <h2 class="govuk-heading-m" style= "color:#003078"> <a href="#" class="govuk-link"> Follow a company</a></h2>

            <p  class="govuk-body">Sign up to receive email alerts about a company's activity.</p>
          </div>

          <div class="govuk-grid-column-one-third" style=" border-width: 1px; padding: 2em; height: 300px;width: 310px; margin-right: 10px; background-color:#f3f2f1 ">

            <h2 class="govuk-heading-m" style= "color:#003078"><a href="#" class="govuk-link">File accounts</a></h2>


            <p  class="govuk-body">File abridged or full accounts. </p>


          </div>
        </div>
      </div>



</div>
</div>


{% endblock %}
