{% extends "layout/layout-account-signout-your-companies.html" %}

{% block pageTitle %}
  Companies House account
{% endblock %}


{% block content %}

<div class="govuk-width-container">
<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">



          <h1 class="govuk-heading-l">Your companies <span class="govuk-caption-m" style = "padding-top:0.5em;"></span></h1>

          {{ govukButton({
          text: "Add a company",
          href:"../add-a-company"
          }) }}

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <div style=" border-color: #b1b4b6; border-style: solid; border-width: 1px; padding: 2em;">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                 <h2 class="govuk-heading-m">

                  FLOWERS LIMITED {{govukTag({
                    text: "REQUEST PENDING",
                    classes: "govuk-tag--yellow"
                    })}}
                  </h2>

                </div>
              </div>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                  <p class="govuk-body govuk-!-font-weight-bold">
                      <span class="govuk-body ">Company number</span><br>
                 </span>18882777</p>

                    <p class="govuk-body govuk-!-font-weight-bold">
                        <span class="govuk-body">Correspondence address</span><br>
                   </span> 2nd Floor Red House, 17 London Road, London <br>SA73 8PH </p>
                 </div>
               </div>

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-three-quarters">
                    <table class="govuk-table">
                      <thead class="govuk-table__head">

                        <tr class="govuk-table__row">
                          <th class="govuk-table__header" scope="col"> Pending requests</th>
                          <th class="govuk-table__header" scope="col" class="govuk-table__header govuk-!-width-one-half">  </th>
                        </tr>


                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">
                            <p class="govuk-body">

                            Jill Edwards has requested to be authorised to file online for FLOWERS LIMITED.</p>
                          </td>
                          <td class="govuk-table__cell; govuk-table__header govuk-!-width-one-half">
                            <p> <a href="../jills-user-account/company-added" class="govuk-link">Confirm request</a> </p>

                            <p> <a href="../jills-user-account/company-added" class="govuk-link">Decline request</a> </p>

                          </td>
                        </tr>

                      </tbody>
                    </table>
                    </div>
                  </div>

              </div>



   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

</div>
</div>


{% endblock %}
