
{% extends "layouts/webfiling.html" %}

{% block pageTitle %}
Companies you file for – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<!-- 
##################################################################################################################

DEVS 
This HTML is completely unsuitable for use in production sites
This HTML is completely unsuitable for use in production sites
This HTML is completely unsuitable for use in production sites
This HTML is completely unsuitable for use in production sites
This HTML is completely unsuitable for use in production sites

##################################################################################################################
-->






{% block content %}
<form class="form" action="" method="post">

<div class="govuk-grid-row">


<div class="govuk-grid-column-one-quarter webfiling-menu">
{% include "/includes/webfiling-left-menu.html" %}
</div>


<div class="govuk-grid-column-two-thirds wfOverview">

  <button type="submit" class="govuk-button allForms" data-module="govuk-button">
  All forms
  </button>


  <h1 class="govuk-heading-xl">Manage account </h1>


  <p class='govuk-body govuk-!-padding-bottom-2'>  You're signed in as<span class='govuk-body govuk-!-font-weight-bold'> <strong> email111@example.com </strong></p>


    
        <p class="govuk-body">In your GOV.UK One Login, you can change:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your email address</li>
          <li>your password</li>
          <li>how you get security codes to sign in</li>
        </ul>

        <p class="govuk-body">
          <a href="https://home.account.gov.uk/settings" class="govuk-link">Change your sign in details in your GOV.UK One Login</a>
        </p>




 </div>


  
  </div>
     </form>
{% endblock %}




