{% extends "layout/layout-account-signout-manage-account.html" %}

{% block pageTitle %}
  Manage account - Change your name - Companies House WebFiling account - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"./user-account/manage-account"
  }) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



        {{ govukRadios({
          idPrefix: "sign-in",
          name: "sign-in",
          fieldset: {
            legend: {
              text: "Can we send you emails about Companies House activities?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "For example, marketing, communications campaigns, or user research activities"
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}


        <div class="govuk-button-group">
        {{ govukButton({
          text: "Save",
          preventDoubleClick: true,
          href:"../manage-account"
        }) }}

       <a class="govuk-link" href="#">Cancel</a>
        </div>


    </div>
  </div>
{% endblock %}
