{% extends "layout.html" %}


{% block header %}
    {{ govukHeader({ serviceName: "Set up a limited company and register for Corporation Tax" }) }}
{% endblock %}

{% block pageTitle %}
  What is the home address for Hannah Salt?
{% endblock %}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">What is the home address for Hannah Salt?</h1>
      <p>Tell us where this person lives. Only give a business address if they also live there.</p>
      <form class="form" action="../check-and-confirm" method="get">
        {{ govukDetails({
          summaryText: "Will this address be publicly available?",
          html: "<p>This address will not be publicly available on the Companies House online register, unless it's also used as the company's registered office address or the person's correspondence address.</p><p>Learn more about <a href=''>how your personal information is used</a> on the Companies House online public register and <a href=''>how to protect your home address</a>.</p>"
        }) }}

        {% set addressHtml %}
        {{ govukInput({
          id: "home-address",
          name: "home-address",
          type: "address",
          autocomplete: "street-address",
          spellcheck: false,
          classes: "govuk-!-width-one-third",
          label: {
            text: "Address"
          }
        }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: "home-address",
          name: "home-address",
          fieldset: {
            legend: {
              text: " ",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "70Cardiff",
              text: "2nd Floor Red House, 17 London Road, London
SA73 8PH"
            },
            {
              value: "different",
              text: "A different address"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
