{% extends "layout.html" %}


{% block header %}
    {{ govukHeader({ serviceName: "Set up a limited company and register for Corporation Tax" }) }}
{% endblock %}

{% block pageTitle %}
  You're about to set up online filing authorisation for the company - Set up a limited company and register for Corporation Tax - GOV.UK
{% endblock %}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          <form class="form" action="../choose-authorisation-type" method="get">
        <h1 class="govuk-heading-l">You're about to set up online filing authorisation for the company</h1>

          <p class="govuk-body">You can digitally authorise directors to file information online with Companies House when you incorporate a company.</p>

          <p class="govuk-body">This means directors can:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>instantly file most information online as soon as the company is incorporated, without entering an authentication code</li>
          <li>digitally authorise other people to file online for the company</li>
          </ul>

          <p class="govuk-body govuk-!-font-weight-bold">Digital authorisation is quick, paperless and secure. </p>

          <p class="govuk-body">It's secure because:</p>
          <ul class="govuk-list govuk-list--bullet">
          <li>we'll send a security code to your mobile phone or email address each time you sign in to WebFiling to file online for the company</li>
            <li>you'll know exactly who is digitally authorised to file online</li>

          </ul>

          {{ govukInsetText({
  text: "You need an authentication code to file some information online. We'll send the code in the post to the registered office address. It takes up to 5 working days to arrive.
"
}) }}




          {{ govukButton({
                 text: "Continue"
               }) }}


               {{ govukDetails({
                 summaryText: "What is an authentication code?",
                 text: "This is a 6 character code issued by us to each company. You need the code to authorise some online filings."
               }) }}

               {{ govukDetails({
                 summaryText: "What is WebFiling?",
                 text: "This is a Companies House service where you can submit company filings and updates online."
               }) }}


</form>







    </div>
  </div>

{% endblock %}
