{% extends "layout.html" %}


{% block header %}
    {{ govukHeader({ serviceName: "Set up a limited company and register for Corporation Tax" }) }}
{% endblock %}

{% block pageTitle %}
  You're about to set up online filing authorisation for the company - Set up a limited company and register for Corporation Tax - GOV.UK
{% endblock %}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          <form class="form" action="../choose-authorisation-type" method="get">
        <h1 class="govuk-heading-l">You're about to set up online filing authorisation for the company</h1>

          <p class="govuk-body">You can digitally authorise directors to file information online with Companies House when you incorporate a company, instead of receiving a code in the post.</p>

          <p class="govuk-body">This means directors can:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>instantly file online as soon as the company is incorporated</li>
            <li>file most information online without an authentication code </li>
          <li>digitally authorise other people to file online for the company</li>
          </ul>

          <p class="govuk-body govuk-!-font-weight-bold">Digital authorisation is quicker, paperless and more secure. </p>

          <p class="govuk-body">It's more secure because:</p>
          <ul class="govuk-list govuk-list--bullet">
          <li>we'll send a security code to your mobile phone or email address each time you sign in to file online for the company</li>
            <li>you'll know exactly who is digitally authorised to file online</li>
            <br>
          </ul>




          {{ govukButton({
                 text: "Continue"
               }) }}


               {{ govukDetails({
                 summaryText: "I want an authentication code in the post instead",
                 text: "If you do not want to digitally authorise directors, you can choose to receive an authentication code in the post instead. It will be sent to the registered office address once the company is incorporated. It takes up to 5 working days to arrive."
               }) }}




</form>







    </div>
  </div>

{% endblock %}
