{% extends "layout.html" %}

{% block pageTitle %}
  Your companies
{% endblock %}


{% block content %}

<div class="govuk-width-container">

<div class="govuk-grid-row">
    
    <div class="govuk-grid-row govuk-main-wrapper">

      <div class="govuk-grid-column-one-quarter">
        <nav aria-label="Account management">

          <ul class="account-menu">
            <li class="account-menu-item account-menu__item--current">
              <a href="../user-account/home-version-2" class="account-menu-link govuk-link govuk-link--no-visited-state">Home</a>
              <span class="account-menu-link-description"> Overview of your account.</span>
            </li>
            <li class="account-menu-item ">
              <a href="../user-account/home-no-companies-no-notification" class="account-menu-link govuk-link govuk-link--no-visited-state">Your companies</a>
              <span class="account-menu-link-description"> View and manage companies and people authorised to file on behalf of a company.</span>
            </li>
             <li class="account-menu-item">
              <a href="#" class="account-menu-link govuk-link govuk-link--no-visited-state">Your filings</a>
              <span class="account-menu-link-description"> Record of documents you have filed.</span>
            </li>
            <li class="account-menu-item">
              <a href="#" class="account-menu-link govuk-link govuk-link--no-visited-state">Companies you follow</a>
              <span class="account-menu-link-description"> View and manage companies you follow.</span>
            </li>
            <li class="account-menu-item account-menu__item">
              <a href="../user-account/manage-account" class="account-menu-link govuk-link govuk-link--no-visited-state">Manage your account</a>
              <span class="account-menu-link-description"> Make changes to your details and account settings. </span>
            </li>
          </ul>
        </nav>
      </div>

      
        <div class="govuk-grid-column-three-quarters">


          <h1 class="govuk-heading-xl">Check your phone</h1>
          <p class="govuk-body">We've sent a text message with a security code to <span class='govuk-body govuk-!-font-weight-bold'> 07769 321 456</span>.</p>

          <p class="govuk-body"> It may take a few minutes to arrive.</p>

          {{ govukInput({
            label: {
              text: "Enter security code"
            },
            classes: "govuk-input--width-10",
            id: "width-10",
            name: "width-10"
          }) }}

          {{ govukButton({
            text: "Continue",
            href:"../add-mobile/manage-account-notification"
          }) }}

          {{ govukDetails({
            summaryText: "I have not received a text message",
            html: "The text message may take a few minutes to arrive.</br> </br> If it does not arrive, you can <a href='' class='govuk-link'>ask us to send you another text message</a>. </br></br> If you have given us the wrong number you can <a href='#' class='govuk-link'>give us a different mobile number</a>."
          }) }}

        </div>

          
    </div>
        
   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

</div> 
</div>
{% endblock %}
