{% extends "layout.html" %}

{% block pageTitle %}
  Enter your mobile number
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/form-handler" method="post" novalidate>
      {{ govukInput({
        label: {
          text: "Enter your mobile number",
          isPageHeading: true,
          classes: "govuk-label--xl"
        },
        hint:{

          text: "We'll send you a security code by text message. You'll need the security code to add your mobile number to the account."
        },
        classes: "govuk-input--width-10",
        id: "mobile-number",
        name: "mobile-number"
      }) }}

      {{ govukButton({
        text: "Continue",
        href:"../add-mobile/check-your-phone"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
