{% extends "layout.html" %}

{% block pageTitle %}
  Enter your mobile number
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/form-handler" method="post" novalidate>
      <div class="govuk-form-group">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--xl" for="event-name">
      Enter your mobile number
    </label>
  </h1>
  <p class="govuk-body">We'll send you a security code by text message.</p>
  <input class="govuk-input" id="event-name" name="event-name" type="text">
</div>


      {{ govukButton({
        text: "Send code",
        href:"../add-mobile/check-your-phone"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
