{% extends "layout.html" %}

{% block pageTitle %}
  Your companies
{% endblock %}


{% block content %}

<div class="govuk-width-container">

<div class="govuk-grid-row">

  {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

      {% set html %}
        <p class="govuk-notification-banner__heading">
          Mobile number added
        </p>
        <p class="govuk-body">You have successfully added your mobile number to your account. We'll send you a new code when necessary to keep your account secure. <br><a class="govuk-notification-banner__link" href="../user-account/manage-account">View your account details</a>.</p>
      {% endset %}

      {{ govukNotificationBanner({
        html: html,
        type: 'success'
      }) }}
    </div>

    <div class="govuk-grid-row">

    <div class="govuk-grid-row govuk-main-wrapper">

      <div class="govuk-grid-column-one-quarter">
        <nav aria-label="Account management">

          <ul class="account-menu">
            <li class="account-menu-item account-menu__item--current">
              <a href="../user-account/home-version-2" class="account-menu-link govuk-link govuk-link--no-visited-state">Home</a>
              <span class="account-menu-link-description"> Overview of your account.</span>
            </li>
            <li class="account-menu-item ">
              <a href="../user-account/home-no-companies-no-notification" class="account-menu-link govuk-link govuk-link--no-visited-state">Your companies</a>
              <span class="account-menu-link-description"> View and manage companies and people authorised to file on your behalf.</span>
            </li>
             <li class="account-menu-item">
              <a href="#" class="account-menu-link govuk-link govuk-link--no-visited-state">Your filings</a>
              <span class="account-menu-link-description"> Record of documents you have filed.</span>
            </li>
            <li class="account-menu-item">
              <a href="#" class="account-menu-link govuk-link govuk-link--no-visited-state">Companies you follow</a>
              <span class="account-menu-link-description"> View and manage companies you follow.</span>
            </li>
            <li class="account-menu-item account-menu__item">
              <a href="../user-account/manage-account" class="account-menu-link govuk-link govuk-link--no-visited-state">Manage your account</a>
              <span class="account-menu-link-description"> Make changes to your details and account settings. </span>
            </li>
          </ul>
        </nav>
      </div>


        <div class="govuk-grid-column-three-quarters">

          <span class="govuk-caption-xl" >Home</span>
          <h1 class="govuk-heading-l">Hannah Salt</h1>




        </div>


    </div>

   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

</div>
</div>
{% endblock %}
