{% extends "layout/layout-account-signout-home.html" %}

{% block pageTitle %}
  Companies House account - Add your mobile number
{% endblock %}


{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

    {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

    {% set html %}
      <p class="govuk-notification-banner__heading">Add your mobile number to use 2 factor authentication in your account and increase its security.
        <a class="govuk-notification-banner__link" href="../add-mobile/enter-your-mobile-number">Add mobile number</a>.
      </p>
    {% endset %}

    {{ govukNotificationBanner({
      html: html
    }) }}

          <span class="govuk-caption-xl" >Home</span>
          <h1 class="govuk-heading-l">Hannah Salt</h1>



    </div>

   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

</div>
</div>


{% endblock %}
