{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/form-handler" method="post" novalidate>

        {{ govukRadios({
          idPrefix: "two-factor",
          name: "two-factor",
          fieldset: {
            legend: {
              text: "Do you want to add two-step sign in to your account?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
              }
            },
            hint: {
              text: "Each time you sign in to your Companies House account a security code will be sent to your mobile which you'll need to sign in."
            },
          items: [
            {
              value: "yes-add-mobile",
              text: "Yes"
            },
            {
              value: "no-mobile",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue",
          href:"../add-mobile/enter-your-mobile-number"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}