{% extends "layouts/layout.html" %}
<!-- Overwrite suerfice name -->
{% set serviceName %}
  
{% endset%}

{% block pageTitle %}
  GOV.UK One Login  – Prototype
{% endblock %}

{% block beforeContent %}

{% endblock %}



{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds ">
      <form action="end-linking" method="post" novalidate>

    
     
     

    <h1 class="govuk-heading-l">We're taking you to your Companies House account
</h1>

  <p class="govuk-body">We need to take you to the 'Your companies' section of your Companies House account to do any of the following:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>view and manage people who are digitally authorised</li>
  <li>accept or decline invitations to be digitally authorised</li>
  <li>remove a company from your account</li>
</ul>

    <p>We'll open it in a new tab, so that you can come back to this page and <a href="" class="govuk-link">go back to WebFiling</a> if you need to.</p>


    <p class="govuk-body">
  <a href="https://find-update-company-info.herokuapp.com/v9-your-companies/your-companies-card" class="govuk-link" rel="noreferrer noopener" target="_blank">Go to the 'Your companies' section of your Companies House account (opens in new tab)</a>
</p>

    </form>
    </div>
</div>

{% endblock %}
