{% extends "layouts/layout.html" %}
<!-- Overwrite suerfice name -->
{% set serviceName %}
  
{% endset%}

{% block pageTitle %}
  GOV.UK One Login  – Prototype
{% endblock %}

{% block beforeContent %}

{% endblock %}



{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds ">
      <form action="end-linking" method="post" novalidate>

    
     
     

    <h1 class="govuk-heading-l">Sorry, the service is unavailable
</h1>
    

    
    <p>Due to planned maintenance, you cannot submit filings using this service during this time.</p>

    <p>You will be able to use the service from 8am on Monday 13 October 2025.</p>


    </form>
    </div>
</div>

{% endblock %}
