{% extends "layout.html" %}

{% block pageTitle %}
Companies House WebFiling account: access your account
{% endblock %}


{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Companies House WebFiling account: PLANTS LIMITED added to your account</h1>

        <p class="govuk-body"> We've added PLANTS LIMITED to your WebFiling account.</p>

        <p class="govuk-body"> This means you can:</p>

         <ul class="govuk-list govuk-list--bullet">
            <li>file ... </li>
            <li>authorise ...</li>
            <li>sign up ...</li>
          </ul>

        <p class="govuk-body"> You can view this company by selecting the following link and signing into your account: </p>

        <p class="govuk-body"> <a href="/../sign-in-summary" class="govuk-link">https://identify.company-information...</a></p>
        
      </div>
    </div>
  </main>
</div>



{% endblock %}
