{% extends "layout.html" %}

{% block pageTitle %}
Companies House WebFiling account: access your account
{% endblock %}


{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Companies House WebFiling account created: select link to finish setting up account</h1>

        <p class="govuk-body"> We've created a WebFiling account for hannah.salt@example.com. We've added FLOWERS LIMITED to your account so that you can:
        </p>
         <ul class="govuk-list govuk-list--bullet">
            <li>file ... </li>
            <li>authorise ...</li>
            <li>sign up ...</li>
          </ul>


        <p class="govuk-body"> To access ... </p>

        <p class="govuk-body"> <a href="" class="govuk-link">https://identify.company-information...</a></p>

        <div class="govuk-inset-text">
          This link expires ...
        </div>





        
      </div>
    </div>
  </main>
</div>



{% endblock %}
