{% extends "layout.html" %}

{% block pageTitle %}
Companies House WebFiling account created:
select link to finish setting up account

{% endblock %}


{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Companies House WebFiling account created: select link to finish setting up account</h1>

        <p class="govuk-body"> We've created a WebFiling account for hannah.salt@example.com. We've added FLOWERS LIMITED to your account so that you can:
        </p>
         <ul class="govuk-list govuk-list--bullet">
            <li>file documents for this company online</li>
            <li>authorise other people to file documents for this company online</li>
            <li>sign up to get email reminders for this company, if you haven't already</li>
          </ul>


        <p class="govuk-body">To access your account and finish setting it up, select the following link:</p>

        <p class="govuk-body"> <a href="../account/create-your-password" class="govuk-link">https://identify.company-information.service.gov.uk/go/activate-account/bcsjhdsahdsajhdsajbcsjcjsadhsjhfdshfdfhidfhsifhisfisfu </a></p>

        <div class="govuk-inset-text">
          This link expires in 7 days. If you run out of time, select the link and we’ll send you a new email.

        </div>






      </div>
    </div>
  </main>
</div>



{% endblock %}
