{% extends "layout.html" %}

{% block pageTitle %}

{% endblock %}


{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Congratulations, your company FLOWERS LIMITED is now registered.</h1>
        <p class="govuk-body">
          HMRC will contact you separately about your Corporation Tax application.
        </p>

        <div class="govuk-inset-text">
          <p class="govuk-body"> Company name: <br> <span class="govuk-body govuk-!-font-weight-bold">FLOWERS LIMITED</span></p>

        <p class="govuk-body"> Company number: <br> <span class="govuk-body govuk-!-font-weight-bold">18882777</span></p>

        <p class="govuk-body"> Company type: <br> <span class="govuk-body govuk-!-font-weight-bold">Private limited by Guarantee</span></p>

        <p class="govuk-body"> Companies House submission number: <br> <span class="govuk-body govuk-!-font-weight-bold">000-033801</span></p>
        </div>

        <p class="govuk-body">Attached to this email is the:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>certificate of incorporation</li>
            <li>copy of the memorandum of association</li>
          </ul>

        <p class="govuk-body">Alternatively, you can retrieve these documents by signing into the WebFiling service and selecting ‘My recent filings’.</p>

        <h2 class="govuk-heading-m">Check what you need to do next</h2>
        <p class="govuk-body"> There are other things you may need to do to set up your business. <a href="#" class="govuk-link">Find out what the next steps are for FLOWERS LIMITED</a>.</p>

        <h3 class="govuk-heading-s">Filing online with Companies House</h3>
        <p class="govuk-body">We've sent a separate email with more details about online filing to: <br> <span class="govuk-body govuk-!-font-weight-bold"> hannah.salt@example.com </span>
        <br> <span class="govuk-body govuk-!-font-weight-bold"> bob.thompson@example.com </span></p>

  <p class="govuk-body">We've also sent the company's authentication code to its registered office address. You need this for some online filings.</p>

        <p class="govuk-body"> <a href="#" class="govuk-link">Sign up for email reminders</a> and Companies House will remind you when your accounts and confirmation statement are due to be submitted.</p>


      </div>
    </div>
  </main>
</div>



{% endblock %}
