

{% extends "layout/layout-no-sign-in.html" %}

{% block pageTitle %}
  Create a password
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"start-page"
  }) }}
{% endblock %}



{% block content %}



<script>
  function showPassword() {
  var x = document.getElementById("password");
  var y = document.getElementById("show-hide");
  if (x.type === "password") {
    x.type = "text";
    y.text = 'Hide'
  } else {
    x.type = "password";
    y.text = 'Show'
  }
}

  function showConfirmPassword() {
  var x = document.getElementById("confirm-password");
  var y = document.getElementById("show-hide-confirm");
  if (x.type === "password") {
    x.type = "text";
    y.text = 'Hide'
  } else {
    x.type = "password";
    y.text = 'Show'
  }
}
</script>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/unregistered-user/create-your-password" method="post" novalidate>

        <h1 class="govuk-heading-xl">Create a password for your WebFiling account</h1>


          {{ govukInput({
            label: {
            text: "Enter password"
          },
          hint:{
            text:"This must be at least 8 characters long and hard to guess."
          },
          suffix: {
            html: "<a id='show-hide' href='javascript:showPassword();' class='govuk-link' style = 'padding: 1em'>Show</a>"
          },
          id: "password",
          name: "password",
          type: "password"
          }) }}

          {{ govukInput({
            label: {
            text: "Re-enter password"
          },
          suffix: {
            html: "<a id='show-hide-confirm' href='javascript:showConfirmPassword();' class='govuk-link' style = 'padding: 1em'>Show</a>"
          },
          id: "confirm-password",
          name: "confirm-password",
          type: "password"
          }) }}



        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with creating a password
            </span>
          </summary>
          <div class="govuk-details__text">
            You can use letters, numbers, symbols and spaces.
            <br><br>
          A good way to create a secure and memorable password is to use 3 random words.
          </div>
        </details>


        {{ govukButton({
            text: "Create account",
            href:"create-an-account"
        }) }}


      </form>
  </div>
  </div>
  <p><a href="https://www.gov.uk/guidance/filing-your-companies-house-information-online" class="govuk-link" rel="noreferrer noopener" target="_blank">Guidance about online filing using WebFiling (opens in new tab)</a><p></p>
{% endblock %}
