{% extends "layout/layout-account-signout-home.html" %}


{% block pageTitle %}
  Home - Companies House WebFiling account - GOV.UK
{% endblock %}


{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
          You've set up your WebFiling account
          </h3>
          <p class="govuk-body">You can now file online and digitally authorise other people to file online for FLOWERS LIMITED. <a href="/user-account/company-added-no-notification" class="govuk-link">View the company details</a>.</p>
        </div>
      </div>



      <h1 class="govuk-heading-l">Home
      <span class="govuk-caption-xl" >hannah.salt@example.com</span> </h1>
    </div>
    </div>

    <div class="govuk-grid-row" style="margin-bottom: 10px;">
      <div class="govuk-grid-column-full">


        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

        <div class="govuk-grid-column-one-third" style=" background-color:#f3f2f1;  border-width: 1px; padding: 2em; height: 390px; width: 313px; margin-top: 10px;margin-right: 10px;">

            <h2 class="govuk-heading-m govuk-!-padding-top-1" style= "color:#003078"><a href="/webfiling/company-number" class="govuk-link ">WebFiling</a></h2>

            <p class="govuk-body govuk-!-font-size-16">You can:</p>

            <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
              <li>file your company’s annual accounts</li>
              <li>file your company’s confirmation statement</li>
              <li>file your company’s director or secretary changes</li>
              <li>sign up to get email reminders</li>
            </ul>


          </div>


          <div class="govuk-grid-column-one-third" style=" border-width: 1px; padding: 1.75em; height: 390px; width: 313px;  margin-right: 10px; margin-top: 10px; background-color:#f3f2f1 ">


            <h2 class="govuk-heading-m govuk-!-padding-top-1 govuk-!-margin-bottom-1"style= "color:#003078" > <a href="/user-account/company-added-no-notification" class="govuk-link"> Your companies</a> </h2>

            <p class="govuk-body govuk-!-font-size-18 govuk-!-margin-top-3" style= "color:#4c2c92">1 Company </p>

            <p class="govuk-body govuk-body govuk-!-font-size-16">You can:</p>

            <ul class="govuk-list govuk-list--bullet govuk-body govuk-!-font-size-16">
              <li>add a company to your WebFiling account</li>
              <li>view, manage and file for companies you’ve added</li>
              <li>digitally authorise people to file documents for your company online</li>
              <li>view and manage digitally authorised people</li>

            </ul>

          </div>

          <div class="govuk-grid-column-one-third" style=" background-color:#f3f2f1;  border-width: 1px; padding: 1.75em; height: 390px; width: 313px; margin-top: 10px;">

            <h2 class="govuk-heading-m govuk-!-padding-top-1 govuk-!-margin-bottom-1" style= "color:#003078"> <a href="../messages/no-messages" class="govuk-link"> Messages</a></h2>

            <p class="govuk-body govuk-!-font-size-18 govuk-!-margin-top-3" style= "color:#4c2c92">0 new messages </p>

            <p  class="govuk-body govuk-!-font-size-16">View messages relating to your WebFiling account.</p>

          </div>




        </div>
      </div>




</div>
</div>


{% endblock %}
