{% extends "layout/layout-account-signout-no-selection.html" %}

{% block pageTitle %}
  Change of registered office address
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Change of registered office address received",
        html: "FLOWERS LIMITED <br><br>  on 23 March 2021 at 1:47pm <br><br> Reference number<br><strong>147963-575816-165063</strong>"
      }) }}

      <p class="govuk-body">We have sent you a confirmation email at <span class="govuk-!-font-weight-bold">hannah.salt@example.com </span> with your reference number.</p>

      <p class="govuk-body"> If you've not received the confirmation, check your spam or junk mail folder. You should <a href="#" class="govuk-link">contact us</a> if you haven't had an email within 30 minutes.</p>

      <p class="govuk-body">We'll send a second email to confirm that your filing has been processed (normally within 2 working days).</p>

      <p class="govuk-body"> You can go to <a href="#" class="govuk-link">Your filings</a> to check the status or get a copy of what you have filed.</p>

      <p class="govuk-body"> <a href="#" class="govuk-link">Print this page for your records</a></p>

      {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

      <div style=" background-color: #f3f2f1; border-width: 1px; padding: 2em; margin-bottom: 2em;">
        <p class="govuk-body">FLOWERS LIMTED has been added to your Companies House account. <a href="../user-account/company-added-no-notification" class="govuk-link">View your companies</a></p>

      </div>


      {{ govukButton({
        text: "Return to company overview"
      }) }}

      <p class="govuk-body"> This is a new service. Help us improve it by <a href="#" class="govuk-link"> completing our quick survey</a>.</p>


    </div>
  </div>
{% endblock %}