{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Companies House to join GOV.UK One Login 
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Business and industry</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Running a business</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Limited companies and partnerships</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-m">News story</span>
      <h1 class="govuk-heading-l">
        Access to Companies House WebFiling service to move to GOV.UK One Login 
      </h1>

    <p class="govuk-body-l">From [date], users will need to use GOV.UK One Login to access the Companies House WebFiling service. </p>




  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <ul class="govuk-list">
    <li>From: <strong> <a href="" class="govuk-link">Companies House</a> </strong>
    </li>

    <li>Published 4 September 2024</li>
    <li>Last updated 4 October 2024
          — <a href="" class="">
            See all updates
          </a>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  </div>
</div>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

 

      <h2 class="govuk-heading-m">Heading</h2>

      <p> Add content here.</p>

      <h2 class="govuk-heading-m">Heading</h2>

      <p> Add content here.</p>







 

{% endblock %}
