{% extends "layouts/layout.html" %}



{% block pageTitle %}
We are changing the way you sign in to some of our services – {{ serviceName }} - GOV.UK
{% endblock %}

{% set serviceName %}
 
{% endset %}

{% block beforeContent %}

{% endblock %}





{% block content %}
<div class="govuk-width-container">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <form action="sign-in-interrupt" method="post" novalidate>

        <a href="#" class="govuk-back-link govuk-!-padding-top-0">Back</a>
      <h1 class="govuk-heading-xl">We're taking you to GOV.UK One Login to sign in to this service</h1>

      <h2 class="govuk-heading-m">Connecting an existing WebFiling account</h2>

      <p class="govuk-body">If you have an existing account, we'll ask you to connect it to your GOV.UK One Login (if you haven't done so already). You only need to do this once.</p>

      <p class="govuk-body">To connect your account, we’ll ask you to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>create or sign in to your GOV.UK One Login on the next screen</li>
        <li>enter a security code that we'll send to your WebFiling email address</li>
      </ul>


      <p>This is so you keep the existing information in your account.</p>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          You will lose any existing information in your WebFiling account if it does not use the same email address as your GOV.UK One Login. 
 <!--{% if (data['chs-email-2'] === "") %}
          <strong>  {{data['email-address-2']}} </strong>
          {% elseif (data['chs-email'] !== "") %}
          <strong> {{data['chs-email']}} </strong>
          {% else %}
          <strong> email111@example.com</strong>
          {% endif %}-->
        </strong>
      </div>
      

      
 
       <details class="govuk-details" data-module="govuk-details">
         <summary class="govuk-details__summary">
           <span class="govuk-details__summary-text">
            What to do if you already have a GOV.UK One Login that uses a different email address
           </span>
         </summary>
         <div class="govuk-details__text">
          <p>If you want to connect your WebFiling account to a GOV.UK One Login that uses a different email address, you have 2 options:</p>
<strong>Option 1</strong>
<br><br>
          <p class="govuk-body"><a href="#" class="govuk-link" rel="noreferrer noopener">Change your WebFiling account email address (opens in a new tab)</a> to match your GOV.UK One Login email address. Then come back to this page and continue to sign in.</p>

          <strong>Option 2</strong>
<br><br>
          <p class="govuk-body"><a href="#" class="govuk-link" rel="noreferrer noopener">Change your GOV.UK One Login email address  (opens in a new tab)</a> to match your WebFiling email address. Then come back to this page and continue to sign in.</p>


        


       </details>
       <details class="govuk-details" data-module="govuk-details">
         <summary class="govuk-details__summary">
           <span class="govuk-details__summary-text">
         
            What to do if you share access to your WebFiling account with other people
           </span>
         </summary>
         <div class="govuk-details__text">
           <p class="govuk-body">Only one person can connect a WebFiling account to their GOV.UK One Login.</p>
           <p class="govuk-body">
            Anyone else who shares access to the account will need to create their own GOV.UK One Login, using a different email address. They will no longer be able to access the information in the WebFiling account.
           </p>
         </div>
       </details>

    
       {{ govukButton({
         text: "Go to GOV.UK One Login",
         href:"one-login/create-or-sign-in",
         classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-8"
       }) }}
 
     </form>
   </div>
 </div>
 
 </div>
 {% endblock %}
