{% extends "layout/layout-account-signout-manage-account.html" %}

{% block pageTitle %}
  Manage account - Companies House WebFiling account - GOV.UK
{% endblock %}


{% block content %}

<div class="govuk-width-container">


<div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Manage account <span class="govuk-caption-m" style = "padding-top:0.5em;">Make changes to your details and account settings.</span></h1>

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Full name"
              },
              value: {
                text: "Hannah Salt"
              },
              actions: {
                items: [
                  {
                    href: "./name/change-your-name",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Email"
              },
              value: {
                text: "hannah.salt@example.com"
              },
              actions: {
                items: [
                  {
                    href: "/webfiling/webfiling-change-email-address",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Password"
              },
              value: {
                html: "******************"
              },
              actions: {
                items: [
                  {
                    href: "../manage-your-account/password/change-your-password",
                    text: "Change",
                    visuallyHiddenText: "contact information"
                  }
                ]
              }
            },
            {
              key: {
                text: "Mobile number"
              },
              value: {
                html: '07969 666 663'
              },
              actions: {
                items: [
                  {
                    href: "../manage-your-account/mobile-number/change-your-mobile",
                    text: "Change",
                    visuallyHiddenText: "contact information"
                  }
                ]
              }
            }
          ]
        }) }}
      </div>

    </div>
</div>

   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">



{% endblock %}
