{% extends "layout/layout-account-signout-manage-account.html" %}

{% block pageTitle %}
  Manage account - Companies House WebFiling account - GOV.UK
{% endblock %}


{% block content %}

<div class="govuk-width-container">


<div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Manage account <span class="govuk-caption-m" style = "padding-top:0.5em;">Make changes to your details and account settings.</span></h1>


        <h2 class="govuk-heading-m govuk-!-padding-top-3">Account details</h2>
        

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Full name"
              },
              value: {
                text: "Hannah Salt"
              },
              actions: {
                items: [
                  {
                    href: "./name/change-your-name",
                    text: "Update",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Email"
              },
              value: {
                text: "hannah.salt@example.com"
              },
              actions: {
                items: [
                  {
                    href: "./change-email-address/change-your-email",
                    text: "Update",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Password"
              },
              value: {
                html: "******************"
              },
              actions: {
                items: [
                  {
                    href: "../manage-your-account/password/change-your-password",
                    text: "Update",
                    visuallyHiddenText: "contact information"
                  }
                ]
              }
            },
            {
              key: {
                text: "Mobile number"
              },
              value: {
                html: '07969 666 663'
              },
              actions: {
                items: [
                  {
                    href: "../manage-your-account/mobile-number/change-your-mobile",
                    text: "Update",
                    visuallyHiddenText: "contact information"
                  }
                ]
              }
            }
          ]
        }) }}


        <h2 class="govuk-heading-m govuk-!-padding-top-3">Email preferences</h2>
        <div id="email-hint" class="govuk-hint">
          Some types of email are essential to manage your account. We need to send you essential emails from time to time.
          </div>


          {{ govukSummaryList ({
            rows: [
              {
                key: {
                  html: "Can we send you emails to tell you about a new message in your account?<span class='govuk-body govuk-hint'>In the future, we'd like to send you emails to let you know you've received a new message in your account</span>",
                  classes: "ch-account-summary-list__key"
                },
                value: {
                  text: "Yes",
                  classes: "ch-account-summary-list__value"
                },
                actions: {
                  items: [
                    {
                      href: "./consent/update-account-emails",
                      text: "Change",
                      visuallyHiddenText: "email consent"
                    }
                  ],
                  classes: "ch-account-summary-list__action"
                }
              },
              {
                key: {
                  html: "Can we send you emails about Companies House activities? <span class='govuk-body govuk-hint'>For example, marketing, communications campaigns, or user research activities</span>",
                  classes: "ch-account-summary-list__key"
                },

                value: {
                  text: "No",
                  classes: "ch-account-summary-list__value"
                },
                actions: {
                  items: [
                    {
                      href: "./consent/update-activity-emails",
                      text: "Change",
                      visuallyHiddenText: "activity emails"
                    }
                  ],
                  classes: "ch-account-summary-list__action"
                }
              }
            ]
          }) }}

      </div>

      
    </div>
</div>



{% endblock %}
