{% extends "layout/layout-account-signout-manage-account.html" %}

{% block pageTitle %}
  Change your password
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"./user-account/manage-account"
  }) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



        <h1 class="govuk-heading-l">Change your name</h1>


        <p class="govuk-body">The name currently shown in your WebFiling account is <span class='govuk-body govuk-!-font-weight-bold'> Hannah Salt</span>.</p>

        {{ govukInput({
            label: {
            text: "Enter new full name"
          },

          id: "full-name",
          name: "full-name",
          autocomplete: "name",
          spellcheck: false
          }) }}


        <div class="govuk-button-group">
        {{ govukButton({
          text: "Change name",
          preventDoubleClick: true,
          href:"./manage-account-notification"
        }) }}

       <a class="govuk-link" href="#">Cancel</a>
        </div>


    </div>
  </div>
{% endblock %}
