
{% extends "layouts/main.html" %}

{% block pageTitle %}
Companies you file for – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}






{% block content %}
<form class="form" action="" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds ">

      <span class='govuk-caption-l'>FLOWERS LIMITED</span> 
    <h1 class="govuk-heading-l">Company authentication</h1>  

  {{ govukInput({
    label: {
      html: "Enter the company authentication code",
      classes: "govuk-!-font-weight-bold"
    },
    classes: "govuk-input--width-10",
    id: "authentication-code",
    name: "authentication-code"
  }) }}

  {{ govukDetails({
    summaryText: "Help with authentication code",
    html: 'This is a 6 character code issued by us to each company. The code is used to authorise online filings.<br><br> <p class="govuk-body"><a href="request-an-authentication-code" class="govuk-link">I do not have an authentication code</a></p>'
  }) }}



  {{ govukCheckboxes({
    name: "add-company",
    fieldset: {
      legend: {
        text: "Add this company to your account",
        classes: "govuk-!-font-weight-bold "
      }
    },
    hint: {
      text: "You will not need to re-enter the company's authentication code for most online filings. You can authorise other people to file online for the company."
    },
    items: [
      {
        value: "add-company",
        text: "Add company",
        hint: {
          text: ""
        }
      }
    ]
  }) }}




  {{ govukButton({
    text: "Continue",
    href:"company-overview"
  }) }}






</div>
</div>

   </form>
{% endblock %}

   





