{% extends "layouts/layout.html" %}
<!-- Overwrite suerfice name -->
{% set serviceName %}
  
{% endset%}

{% block pageTitle %}
  GOV.UK One Login  – Prototype
{% endblock %}

{% block beforeContent %}

{% endblock %}



{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds ">
      <form action="end-linking" method="post" novalidate>

     <!--    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Success
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
              Your GOV.UK One Login is now connected to this account
            </h3>
          <p>You have connected your GOV.UK One Login to this Webfiling account. We have saved your existing account information.</p>
          </div>
        </div> -->
 
     
     

    <h1 class="govuk-heading-l">Your WebFiling account is now connected to your GOV.UK One Login</h1>
    
    <p>We've saved your existing account information.</p>

    <p>Next time you sign in to WebFiling, use your GOV.UK One Login sign in details.</p>

    <h2 class="govuk-heading-m">If you have a Companies House account</h2>

    <p>If you have a Companies House account that you sign in to using <strong>e****e@g****l.com</strong>, we've also saved your information in this account. Next time you sign in, use your GOV.UK One Login sign in details.  </p>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What is a Companies House account?
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">This is the account you can use to sign in to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the Companies House register - sometimes known as the 'Companies House service' or 'Find and update company information'</li>
    <li>some of our online services - for example, 'Register your company' or 'Upload a document to Companies House'</li>
  </ul>
  <p>It is different to a WebFiling account.</p>
      </div>
    </details>

    <!--
    <p class="govuk-body">If your email address is for a shared inbox, you may want to update your sign in details with an email address only you can access. You can do this in the ‘Your details’ section when you sign in to Companies House.
       </p>-->
    
     

    <button type="Submit" class="govuk-button" data-module="govuk-button">
        Continue to WebFiling
    </button>

    </form>
    </div>
</div>

{% endblock %}
