{% extends "layouts/layout.html" %}


{% set serviceName %}
  
{% endset%}

{% block pageTitle %}
  Sign in to WebFiling
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">

  <form action="start-page" method="post" novalidate="">
    
    

  <h1 class="govuk-heading-l">You've successfully signed in to WebFiling using GOV.UK One Login</h1>

  <h2 class="govuk-heading-m">What happens next</h2>

  <p class="govuk-body">The email address you use for GOV.UK One Login is <strong>email@example.com</strong>. We'll create a WebFiling account for you using this email address, and connect it to your GOV.UK One Login.</p>

  <p class="govuk-body">Next time you sign in to WebFiling, use your GOV.UK One Login sign in details.</p>

  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        If you have an existing WebFiling account that uses a different email address
      </span>
    </summary>
    <div class="govuk-details__text">
      You can <a href="webfiling-email-address.html" class="govuk-link">connect an existing WebFiling account to your GOV.UK One Login instead</a>. This will save any existing account information.
    </div>
  </details>

  
  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue to WebFiling",
      href:"end-linking-new-account",
      classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-8"
    }) }}
  </div>



<!--         {{ govukRadios({
          name: "no-webfiling-found",
          fieldset: {
            legend: {
              text: "Do you have an existing WebFiling account?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }} -->
    
  


  </form>

</div>
</div>

{% endblock %}

