{% extends "layouts/layout.html" %}


{% set serviceName %}
  
{% endset%}

{% block pageTitle %}
  Sign in to WebFiling
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">

  <form action="start-page" method="post" novalidate="">
    
    

  <h1 class="govuk-heading-l">Connecting your WebFiling account</h1>

  <p class="govuk-body">The email address you have chosen to use across all your accounts is <strong>example@example.com</strong>
    
    
  <p class="govuk-body">We will create a new Webfiling account for you using this email address.</p>

  <p class="govuk-body">If you have an existing Webfiling account with a different email and wish to bring over the information please select the link below.</p>

 
  <p class="govuk-body">
    <a href="webfiling-email-address.html" class="govuk-link">I have a webfiling account with a different email address and want to link this account to my onelogin.
    </a>
  </p>
  
  <div class="govuk-button-group">
    {{ govukButton({
      text: "Create new Webfiling account",
      href:"end-linking-wf",
      classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-8"
    }) }}
  </div>



<!--         {{ govukRadios({
          name: "no-webfiling-found",
          fieldset: {
            legend: {
              text: "Do you have an existing WebFiling account?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }} -->
    
  


  </form>

</div>
</div>

{% endblock %}

