{% extends "layouts/layout.html" %}



{% block pageTitle %}
Check your email – {{ serviceName }} - GOV.UK
{% endblock %}

{% set serviceName %}
 
{% endset %}

{% block beforeContent %}

{% endblock %}





{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <form action="verify-email-address" method="post" novalidate>


         <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
              Save existing information from Companies House.
            </p>
          </div>
        </div> 


      <h1 class="govuk-heading-l">Check your email</h1>
     


      <div class="govuk-inset-text">
        <p> We've sent a security code to  <span class="govuk-!-font-weight-bold">e****e@g****l.com</span></p>
      </div>
  
      <p class="govuk-body"> It might take a few minutes to arrive. </p>
      
      <p class="govuk-body"> 
      The code will expire after 30 minutes.
      </p>
  
          {{ govukInput({
            label: {
              text: "Security code"
            },
            classes: "govuk-input--width-10",
            id: "width-3",
            name: "width-3"
          }) }}


          {{ govukButton({
            text: "Continue"
          }) }}
    
    


      {{ govukDetails({
        summaryText: "I have not received an email",
        html: "The email may take a few minutes to arrive. Its subject line is 'Companies House WebFiling account: security code'. You could also check your junk folder.</br> </br> If it still has not arrived, you can <a href='check-your-email-send-new-link' class='govuk-link'>ask us to send you another code</a></a>."
      }) }}
     
      <br>


      <!-- <p class="govuk-body-s ">  <a style="color: #b1b4b6;" class="govuk-list govuk-!-font-size-14" href="email-verify-webfiling" target="_blank">Email with code (opens in a new tab)</a> </p>
      -->
   


 
     </form>
   </div>
 </div>
 

 {% endblock %}
