{% extends "layouts/layout.html" %}


{% set serviceName %}
  
{% endset%}

{% block pageTitle %}
  Sign in to WebFiling
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">

  <form action="webfiling-interrupt" method="post" novalidate="">



  <h1 class="govuk-heading-l">We need to connect your WebFiling account to your GOV.UK One Login</h1>

  <p class="govuk-body">This will enable us to save any existing information in your WebFiling account. </p>

  <p class="govuk-body">We'll send a security code to <strong> e****e@g****l.com</strong> when you select continue. After you've entered the code, we'll connect your account to your  GOV.UK One Login. You only need to do this once.</p>

  <h2 class="govuk-heading-m">If you have a Companies House account</h2>
  
  <p class="govuk-body"> If you have a Companies House account that uses <strong> e****e@g****l.com</strong>, we'll also connect this account to GOV.UK One Login.</p>

  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        What is a Companies House account?
      </span>
    </summary>
    <div class="govuk-details__text">
      <p class="govuk-body">This is the account you can use to sign in to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the Companies House register - sometimes known as the 'Companies House service' or 'Find and update company information'</li>
  <li>some of our online services - for example, 'Register your company' or 'Upload a document to Companies House'</li>
</ul>
<p>It is different to a WebFiling account.</p>
    </div>
  </details>

  {{ govukButton({
    text: "Continue"
  }) }}   


  </form>

</div>
</div>

{% endblock %}
