
{% extends "layouts/main.html" %}

{% block pageTitle %}
Companies you file for  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<!-- 
##################################################################################################################

DEVS 
This HTML is completely unsuitable for use in production sites
This HTML is completely unsuitable for use in production sites
This HTML is completely unsuitable for use in production sites
This HTML is completely unsuitable for use in production sites
This HTML is completely unsuitable for use in production sites

##################################################################################################################
-->






{% block content %}
<form class="form" action="" method="post">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

   
    {{ govukInput({
      label: {
        html: "<span class='govuk-caption-l'>BETA TECHNOLOGY LIMITED(10866549)</span>
     Enter the company authentication code",
        classes: "govuk-!-font-size-36 govuk-!-font-weight-bold",
        isPageHeading: true
      },
     hint: {
        text: "This is a 6 character code issued by us to each company."
      },
      classes: "govuk-input--width-10",
      id: "authentication-code",
      name: "authentication-code"
    }) }}



    {{ govukButton({
      text: "Continue",
      href:"company-overview-beta"
    }) }}

    {{ govukDetails({
      summaryText: "I do not have an authentication code",
      html: 'You\'ll need to <a href="" class="govuk-link">request the authentication code</a>. It is sent by post.</p>'
    }) }}



 </div>


  </div>

     </form>
{% endblock %}




