{% extends "layout/layout-account-signout-manage-account.html" %}

{% block pageTitle %}
  Change your password - Companies House WebFiling account - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"./user-account/manage-account"
  }) }}
{% endblock %}

{% block content %}

<script>
  function showPassword() {
  var x = document.getElementById("password");
  var y = document.getElementById("show-hide");
  if (x.type === "password") {
    x.type = "text";
    y.text = 'Hide'
  } else {
    x.type = "password";
    y.text = 'Show'
  }
}

  function showConfirmPassword() {
  var x = document.getElementById("confirm-password");
  var y = document.getElementById("show-hide-confirm");
  if (x.type === "password") {
    x.type = "text";
    y.text = 'Hide'
  } else {
    x.type = "password";
    y.text = 'Show'
  }
}
</script>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if errorPassword  == true or errorPassword == true %}

          {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: errorList
          }) }}

        {% endif %}


        <h1 class="govuk-heading-l">Update your password</h1>

        {{ govukInput({
            label: {
            text: "Enter your current password"
          },
          id: "password",
          name: "password",
          type: "password"
          }) }}

        {% if errorPassword  == true %}

          {{ govukInput({
            label: {
            text: "Enter password"
          },
          hint:{
            text:"This must be at least 8 characters long and hard to guess."
          },
          suffix: {
            html: "<a id='show-hide' href='javascript:showPassword();' class='govuk-link' style = 'padding: 1em'>Show</a>"
          },
          errorMessage: {
              text: "Enter a new password"
          },
          id: "password",
          name: "password",
          type: "password"
          }) }}

        {% else %}

          {{ govukInput({
            label: {
            text: "Enter a new password"
          },
          hint:{
            text:"This must be at least 8 characters long and hard to guess."
          },
          suffix: {
            html: "<a id='show-hide' href='javascript:showPassword();' class='govuk-link' style = 'padding: 1em'>Show</a>"
          },
          id: "password",
          name: "password",
          type: "password"
          }) }}

          {{ govukInput({
            label: {
            text: "Re-enter new password"
          },
          suffix: {
            html: "<a id='show-hide-confirm' href='javascript:showConfirmPassword();' class='govuk-link' style = 'padding: 1em'>Show</a>"
          },
          id: "confirm-password",
          name: "confirm-password",
          type: "password"
          }) }}

          {% endif %}
          <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Help with creating your password
      </span>
    </summary>
    <div class="govuk-details__text">
      You can use letters, numbers, symbols and spaces.
      <br><br>
    A good way to create a secure and memorable password is to use 3 random words.
    </div>
  </details>

        <div class="govuk-button-group">
        {{ govukButton({
          text: "Update password",
          preventDoubleClick: true,
          href:"./manage-account-notification"
        }) }}

        <a class="govuk-link" href="#">Cancel</a>
        </div>


    </div>
  </div>
{% endblock %}
