{% extends "layout.html" %}

{% block header %}
    {{ govukHeader({ serviceName: "Set up a limited company and register for Corporation Tax" }) }}
{% endblock %}

{% block pageTitle %}
  Check and confirm your answers before you continue - Set up a limited company and register for Corporation Tax - GOV.UK
{% endblock %}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->
  <style >
    .govuk-summary-list__key {
      width: 50%;
      !important;
    }
  </style>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Check and confirm authorisation details for online filing</h1>



      <form class="form" action="" method="get">


        {{ govukSummaryList({
              classes: 'govuk-!-margin-bottom-9',
              rows: [

              {
                key: {
                  text: "Do you want the directors to be digitally authorised to file online for the company?"
                },
                value: {
                  text: "Yes"
                },
                actions: {
                  items: [
                    {
                      href: "/SCRS/choose-authorisation-type",
                      text: "Change",
                      visuallyHiddenText: "How do you want to authorise the directors?"
                    }
                  ]
                }
              }
            ]
          }) }}


          {{ govukSummaryList({
                classes: 'govuk-!-margin-bottom-9',
                rows: [

                {
                  key: {
                    text: "Which directors do you want to digitally authorise to file online?"
                  },
                  value: {
                    html: "Hannah Salt<br>Bob Thompson"
                  },
                  actions: {
                    items: [
                      {
                        href: "/SCRS/digital-choose-director",
                        text: "Change",
                        visuallyHiddenText: "Which directors do you want to digitally authorise to file online?"
                      }
                    ]
                  }
                }
              ]
            }) }}

        <h2 class="govuk-heading-m">Hannah Salt</h2>


        {{ govukSummaryList({
              classes: 'govuk-!-margin-bottom-9',
              rows: [

              {
                key: {
                  text: "Which email address does Hannah Salt use or want to use for their WebFiling account?"
                },
                value: {
                  text: "hannah.salt@example.com"
                },
                actions: {
                  items: [
                    {
                      href: "/SCRS/email-address",
                      text: "Change",
                      visuallyHiddenText: "Which email address does Hannah Salt use or want to use for their WebFiling account"
                    }
                  ]
                }
              }
            ]
          }) }}

              <h2 class="govuk-heading-m">Bob Thompson</h2>
              {{ govukSummaryList({
                    classes: 'govuk-!-margin-bottom-9',
                    rows: [

                    {
                  key: {
                    text: "Which email address does Bob Thompson use or want to use for their WebFiling account?"
                  },
                  value: {
                    text: "bob.thompson@example.com"
                  },
                  actions: {
                    items: [
                      {
                        href: "/SCRS/email-address-2",
                        text: "Change",
                        visuallyHiddenText: "Which email address does Hannah Salt use or want to use for their WebFiling account"
                      }
                    ]
                  }
                }
              ]
            }) }}
        {{ govukButton({
        text: "Confirm and continue"
      }) }}
      </form>
    </div>
  </div>

{% endblock %}
