{% extends "layout/layout-signout.html" %}

{% block pageTitle %}
  Who do you want to authorise to file online for this company
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"add-a-company"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form action="/authorised-person-details" method="post" novalidate>


         <h1 class="govuk-heading-l">Check and confirm who you want to authorise to file online for this company</h1>



        {{ govukTable({
          caption: "",
          captionClasses: "govuk-table__caption--l",
          firstCellIsHeader: true,
          head: [
            {
              text: "Email address"
            },
            {
              text: ""
            }
          ],
          rows: [
            [
              {
                text: "Hannah.salt@example.com"
              },
              {
                html: '<a href="#" class="govuk-link">Remove</a>'
              }
            ]
          ]
        }) }}


        <p> <a href="../SCRS/authorise-to-file" class="govuk-link">Add another authorised person's email address </a></p>



          {{ govukButton({
              text: "Confirm and continue and continue",
              href:""
          }) }}




    </form>
  </div>

  </div>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">



{% endblock %}
