{% extends "layout.html" %}


{% block header %}
    {{ govukHeader({ serviceName: "Set up a limited company and register for Corporation Tax" }) }}
{% endblock %}

{% block pageTitle %}
Check and confirm your answers before you continue - Set up a limited company and register for Corporation Tax - GOV.UK
{% endblock %}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Check and confirm authorisation details for online filing</h1>
      <form class="form" action="" method="get">
        {{ govukSummaryList({
              classes: 'govuk-!-margin-bottom-9',
              rows: [

                {
                  key: {
                    text: "How do you want the directors to be authorised to file online for the company?"
                  },
                  value: {
                    html: "<p>Authentication code in the post. Takes up to 5 working days to arrive.</p>"
                  },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "How do you want the directors to be authorised to file online for the company?"
                      }
                    ]
                  }
                }
              ]
            }) }}


          {{ govukButton({
              text: "Save and continue"
            }) }}

        </form>

      </div>
    </div>

  {% endblock %}
