{% extends "layout/layout-signout.html" %}

{% block pageTitle %}
  Enter the authorised person details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"add-a-company"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form action="/authorised-person-details" method="post" novalidate>


         <h1 class="govuk-heading-l">What is the email address of the people authorised to file online for this company?</h1>

        <p class="govuk-hint">We'll use this to set up their Companie House account, so that they can file online for the company.</p> 

        {{ govukTable({
          caption: "",
          captionClasses: "govuk-table__caption--xs",
          classes: "govuk-!-margin-top-5",
          firstCellIsHeader: true,
          head: [
            {
              text: "Authorised persons email adddress"
            },
            {
              text: ""
            }
          ],
          rows: [
            [
              {
                html: '<p class="govuk-body govuk-!-font-weight-regular">hannah.salt@example.com</p>'
              },
              {
                html: '<a href="#" class="govuk-link">Remove</a>'
              }
            ]
          ]
        }) }}

        {{ govukInput({
          label: {
            text: "Authorised persons email address"
          },
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          spellcheck: false
        }) }}

         <p class="govuk-body"> <a href="#" class="govuk-link">Add another email address</a></p>

        <div>

          {{ govukButton({
              text: "Confirm and continue",
              href:"../webfiling/webfiling-profile"
          }) }}
        </div>

      

    </form>
  </div>

  </div>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">



{% endblock %}
