{% extends "layout/layout-signout.html" %}

{% block pageTitle %}
  Enter the authorised person details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"add-a-company"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


         <h1 class="govuk-heading-l">Who do you want to authorise to file online for this company?</h1>

        <p class="govuk-hint">Tell us the authorised person's email address. We'll send them an email that contains a request link.</p>

        {{ govukTable({
          caption: "",
          captionClasses: "govuk-table__caption--xs",
          classes: "govuk-!-margin-top-5",
          firstCellIsHeader: true,
          head: [
            {
              text: ""
            },
            {
              text: ""
            }
          ],
          rows: [
            [
              {
                html: '<div class="govuk-form-group govuk-!-margin-top-3">
                  <label class="govuk-label" for="email">
                    Email address 1
                  </label>
                  <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
                </div>'
              },
              {
                text:''
              }
            ],
            [
              {
                html: '<div class="govuk-form-group govuk-!-margin-top-3">
                  <label class="govuk-label" for="email">
                    Email address 2
                  </label>
                  <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
                </div>'
              },
              {
                html:'<button class="govuk-button govuk-button--secondary" data-module="govuk-button authorised-person-details">
                    Remove
                  </button>'
              }
            ],
            [
              {
                html: '<div class="govuk-form-group govuk-!-margin-top-3">
                  <label class="govuk-label" for="email">
                    Email address 3
                  </label>
                  <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
                </div>'
              },
              {
                html:'<button class="govuk-button govuk-button--secondary" data-module="govuk-button" href="authorised-person-details-2">
                    Remove
                  </button>'
              }
            ]
          ]
        }) }}


         <p class="govuk-body"> <a href="#" class="govuk-link">Add another authorised person's email address

</a></p>

        <div>

          {{ govukButton({
              text: "Confirm and continue",
              href:"../webfiling/webfiling-profile"
          }) }}
        </div>




  </div>

  </div>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">



{% endblock %}
