{% extends "layout.html" %}

{% block header %}
    {{ govukHeader({ serviceName: "Set up a limited company and register for Corporation Tax" }) }}
{% endblock %}

{% block pageTitle %}
  Check and save your answers before you continue - Companies House WebFiling account
{% endblock %}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->
  <style >
    .govuk-summary-list__key {
      width: 50%;
      !important;
    }
  </style>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Check and save your answers before you continue</h1>



      <form class="form" action="" method="get">

        <h2 class="govuk-heading-m">Hannah Salt</h2>


        {{ govukSummaryList({
              classes: 'govuk-!-margin-bottom-9',
              rows: [
                {
                  key: {
                    text: "Authorisation type"
                  },
                  value: {
                    text: "Digital"
                  },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "Method of authorisation"
                      }
                    ]
                  }
                },
                {
                  key: {
                    text: "Which email address does Hannah Salt use or want to use for their WebFiling account?"
                  },
                  value: {
                    text: "hannah.salt@example.com"
                  },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "Which email address does Hannah Salt use or want to use for their WebFiling account"
                      }
                    ]
                  }
                },
                {
                  key: {
                    text: "Which email address does Hannah Salt want to use to receive filing reminders?"
                  },
                  value: {
                    text: 'hannah.salt@example.com'
                  },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "Which email address does Hannah Salt want to use to receive filing reminders?"
                      }
                    ]
                  }
                }
              ]
            }) }}
<p><a href="">Add another</a></p>
        {{ govukButton({
        text: "Save and continue"
      }) }}
      </form>
    </div>
  </div>

{% endblock %}
