{% extends "layout.html" %}
{% block header %}
  {{ govukHeader({ serviceName: "Set up a limited company and register for Corporation Tax" }) }}
{% endblock %}

{% block pageTitle %}
  Do you want the directors to be digitally authorised to file online for the company? - Set up a limited company and register for Corporation Tax - GOV.UK
{% endblock %}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/SCRS/choose-authorisation-type" method="post">

        {% if errorChooseType == true %}

          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "Select how you want the directors to be authorised to file online for the company",
                href: "#choose-type"
              }
              ]
          }) }}

        {% endif %}

        {% if errorChooseType == true %}

          {{ govukRadios({

    idPrefix: "choose-type",
    name: "choose-type",
    errorMessage: {
      text: "Select how you want the directors to be authorised to file online for the company"
    },
    fieldset: {
      legend: {
        text: "Do you want the directors to be digitally authorised to file online for the company?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },

    items: [
      {
        value: "digital",
        text: "Yes",
        hint: {
  text: "Directors will be authorised to file online for the company as soon as it's incorporated. They will not need an authentication code."
}
      },
      {
        value: "paper",
        text: "No",
        hint: {
  text: "We'll send the code to the registered office address once the company is incorporated. It takes up to 5 working days to arrive."
}
      }
    ]
  }) }}

        {% else %}

          {{ govukRadios({

          idPrefix: "choose-type",
          name: "choose-type",
          fieldset: {
            legend: {
              text: "Do you want the directors to be digitally authorised to file online for the company?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
  text: "You can choose which directors you want to be digitally authorised."
},
          items: [
            {
              value: "digital",
              text: "Yes",
              hint: {
        text: ""
      }
            },
            {
              value: "paper",
              text: "No",
              hint: {
        text: ""
      }
            }
          ]
        }) }}
        {% endif %}

        {{ govukButton({
                  text: "Save and continue"
                }) }}

      </form>

    </div>
  </div>

{% endblock %}
