{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Companies House to join GOV.UK One Login 
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Business and industry</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Running a business</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Limited companies and partnerships</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-m">News story</span>
      <h1 class="govuk-heading-l">
        Access to Companies House WebFiling service to move to GOV.UK One Login 
      </h1>

    <p class="govuk-body-l">From [date], customers will need to use GOV.UK One Login to sign in to the Companies House WebFiling service. </p>




  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <ul class="govuk-list">
    <li>From: <strong> <a href="" class="govuk-link">Companies House</a> </strong>
    </li>

    <li>Published 28 May 2025</li>
    <li>Last updated 15 June 2025
          — <a href="" class="">
            See all updates
          </a>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  </div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <img class="govuk-!-padding-margin-5" src="/public/images/s300_Companies_House_GOV.UK_One_Login.png" alt="Someone sitting on the sofa looking at their mobile phone.">



      <p class="govuk-!-margin-top-5">On [date], WebFiling will be the next service from Companies House to join GOV.UK One Login.</p>
        
        <p>From this date, when you sign in to WebFiling, you'll be prompted to connect your WebFiling account to GOV.UK One Login. You will not be able to access WebFiling to file information without connecting to GOV.UK One Login. </p>
        
        <p> <a href="http://www.gov.uk/government/news/companies-house-to-join-govuk-one-login" class="govuk-link">We began moving our online services to GOV.UK One Login in autumn 2024</a>, beginning with the option to connect a Companies House account.</p>

        <h2 class="govuk-heading-m">Get ready for the change</h2>

        <p class="govuk-body">To prepare for this change and make sure your saved information remains available: </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>make sure the email address you use for WebFiling is up to date and you have access to it </li>
          <li>if you also have a Companies House account, make sure you use the same email address for both services </li>
          <li>consider creating a GOV.UK One Login before [DATE TBC] using the same email address as your WebFiling account  </li>
          <li>if you have a Companies House account for <a href="https://find-and-update.company-information.service.gov.uk/" class="govuk-link">Find and update company information</a>, consider connecting this with GOV.UK One Login now in the 'Manage account' section (if you haven’t already) </li>
        </ul>

        <h2 class="govuk-heading-m">How to connect your WebFiling account to GOV.UK One Login on or after [date]</h2>

<p>When you try to sign in to WebFiling from [date] onwards, you'll be redirected to connect your account with GOV.UK One Login. </p>

<p>You do not need to verify your identity to connect your WebFiling account with GOV.UK One Login. </p>

<p class="govuk-body">If you:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>have a GOV.UK One Login, you'll be able to sign in and connect your account </li>
  <li>do not have a GOV.UK One Login, you'll be prompted to create one </li>
  <li>have a Companies House account for <a href="https://find-and-update.company-information.service.gov.uk/" class="govuk-link">Find and update company information</a> that you have not connected with GOV.UK One Login, you'll be able to connect both accounts at the same time</li>
</ul>

<h2 class="govuk-heading-m">Company authentication codes </h2>

<p>You will not need to add the companies already linked to your WebFiling account again. However you will need to enter each company’s authentication code to file online. You’ll have the option to store the code, so you do not have to enter it again (for most filings).</p>

<p>You can <a href="https://www.gov.uk/guidance/company-authentication-codes-for-online-filing" class="govuk-link">request the authentication code</a> if you do not have it. We’ll post your code to your company’s registered office. It can take up to 5 days to arrive, so make sure you request it in plenty of time to avoid delays.</p>

   

      <h2 class="govuk-heading-m">Benefits of GOV.UK One Login </h2>

      <p class="govuk-body">GOV.UK One Login provides:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>access to multiple government services with one set of sign in details </li>
  <li>enhanced security with two-factor authentication</li>
  <li>the ability to verify your identity for Companies House </li>
</ul>

<p>Under the <a href="https://changestoukcompanylaw.campaign.gov.uk/" class="govuk-link">Economic Crime and Corporate Transparency Act</a>, anyone setting up, running, owning or controlling a company in the UK will need to verify their identity to prove they are who they claim to be.</p>

<p>When we introduce this requirement, users will be able to use GOV.UK One Login to verify their identity directly with Companies House. </p>

<p><a href="https://public.govdelivery.com/accounts/UKCH/subscriber/new" class="govuk-link">Sign up for our newsletters</a> to stay up to date with our services. </p>

{% endblock %}
