{% extends "layout/layout-signout.html" %}

{% block pageTitle %}
  
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"add-a-company"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form action="/directors-email-address" method="post" novalidate>


          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">
                What is Hannah Salt's email address?
              </label>
            </h1>

            <div class="govuk-inset-text">
              The email address will not appear on the Companies House online register.
            </div>

            <p class="govuk-body ">We'll send them an email with a link so that they can:</p>
              <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-3">
                <li>file online for the company </li>
                <li> authorise other people to file online for the company</li>
              </ul>

            <p class="govuk-body"></p>

            <input class="govuk-input" id="event-name" name="event-name" type="text">
          </div>

          {{ govukButton({
              text: "Save and continue"
          }) }}

    </form>
  </div>

  </div>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">



{% endblock %}
