{% extends "layout/layout-signout.html" %}

{% block pageTitle %}
  
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"add-a-company"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form action="/directors-email-address" method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What is Hannah Salt's email address?
              </h1>
            </legend>


            <div class="govuk-hint">
              This is optional. The email address provided will not appear on the Companies House online register.
            </div>

            <p class="govuk-body">We'll send them an email with a link so that they can:</p>
              <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-3">
                <li>file online for the company </li>
                <li> authorise other people to file online for the company</li>
              </ul>

              <div class="govuk-form-group">
                <label class="govuk-label" for="event-name">
                  Email address
                </label>
                <input class="govuk-input" id="event-name" name="event-name" type="text">
              </div>

                
              </fieldset>
            </div>

            <div class="govuk-button-group">
              {{ govukButton({
                text: "Continue",
                href:"director-details/filing-reminders"
              }) }}

              {{ govukButton({
                text: "Skip",
                href:"director-details/filing-reminders",
                classes: "govuk-button--secondary"
              }) }}
            </div>

    </form>

  </div>
</div>
</div>



{% endblock %}
