{% extends "layout/layout-signout.html" %}

{% block pageTitle %}
  
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"add-a-company"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form action="/authorised-person-details" method="post" novalidate>

        {{ govukInput({
          label: {
            text: "What is Hannah Salt's email address?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "We'll send them an email with a link so that they can file online and manage who can file online for the company."
          },
          id: "director-email",
          name: "director-email"
        }) }}


        {{ govukButton({
            text: "Save and continue"
        }) }}

    </form>
  </div>

  </div>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">



{% endblock %}
