{% extends "layout.html" %}


{% block header %}
    {{ govukHeader({ serviceName: "Set up a limited company and register for Corporation Tax" }) }}
{% endblock %}

{% block pageTitle %}
  Which email address does Sarah Philips want to use to receive filing reminders?
{% endblock %}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">What is Hannah Salt's email address?</h1>
      <form class="form" action="./director-details/filing-reminders" method="get">
        <p>We'll send an email to this address with a link.

          {% set emailHtml %}
            {{ govukInput({
              id: "email",
              name: "email",
              type: "email",
              autocomplete: "email",
              spellcheck: false,
              label: {
                text: "Email address"
              }
            }) }}
            {% endset -%}



          {{ govukRadios({

            idPrefix: "filing-reminders",
            name: "filing-reminders",
            fieldset: {
              legend: {
                text: " ",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "email",
                text: "hannah.salt@example.com"
              },
              {
                value: "email",
                text: "A different email address",
                conditional: {
                  html: emailHtml
                }
              }
            ]
          }) }}

          {{ govukButton({
              text: "Save and continue"
            }) }}

        </form>

      </div>
    </div>

  {% endblock %}
