{% extends "layout.html" %}


{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Email link expired - check your email</h1>
        <p class="govuk-body">
          The email link has expired. We've sent a link in an email to hannah.salt@example.com. This link will expire within 7 days.
        </p>
        
      {{ govukDetails({
          summaryText: "I have not received an email",
          html: "The email may take a few minutes to arrive. Its subject line is 'Companies House: ******'. </br> </br> Check your junk folder. If it still has not arrived, you can <a href='' class='govuk-link'>ask us to send you another email</a>."
        }) }}
      </div>
    </div>
  </main>
</div>

{% endblock %}
