{% extends "layouts/layout.html" %}
<!-- Overwrite suerfice name -->
{% set serviceName %}
  
{% endset%}

{% block pageTitle %}
  GOV.UK One Login  – Prototype
{% endblock %}

{% block beforeContent %}

{% endblock %}



{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds ">
      <form action="end-linking" method="post" novalidate>

     <!--    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Success
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
              Your GOV.UK One Login is now connected to this account
            </h3>
          <p>You have connected your GOV.UK One Login to this Webfiling account. We have saved your existing account information.</p>
          </div>
        </div> -->
 
     
     

    <h1 class="govuk-heading-l">We've created your WebFiling account and connected it to your GOV.UK One Login</h1>


    <p>If you have an existing Companies House account that uses <span class="govuk-!-font-weight-bold"> e*****@gmail.com</span>, we've also connected it to your GOV.UK One Login and saved your account information.</p>



    <div class="govuk-inset-text">
      <span class="govuk-visually-hidden">For information: </span>Next time you sign in to WebFiling or your Companies House account, use your GOV.UK One Login sign in details.
      </div>

   

    <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        What is a Companies House account?
      </span>
    </summary>
    <div class="govuk-details__text">
      <p class="govuk-body">This is the account you can use to sign in to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the Companies House register - sometimes known as the 'Companies House service' or 'Find and update company information'</li>
  <li>some of our online services - for example, 'Upload a document to Companies House'</li>
</ul>
<p>It is different to a WebFiling account.</p>
    </div>
  </details>
 
    <button type="Submit" class="govuk-button" data-module="govuk-button">
        Continue to WebFiling
    </button>

    </form>
    </div>
</div>

{% endblock %}
