{% extends "layout.html" %}


{% block header %}
    {{ govukHeader({ serviceName: "Set up a limited company and register for Corporation Tax" }) }}
{% endblock %}

{% block pageTitle %}
  Which email address does Hannah Salt use to sign in to WebFiling? - Set up a limited company and register for Corporation Tax - GOV.UK
{% endblock %}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/SCRS/existing-wf-email" method="post">

        {% if errorExistingWFEmail1 == true %}

          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "Select the email address Hannah Salt uses to sign in to WebFiling",
                href: "#choose-type"
              }
              ]
          }) }}

        {% endif %}
        <h1 class="govuk-heading-l">Which email address does Hannah Salt use to sign in to WebFiling?</h1>

        {% set emailHtml %}
        {{ govukInput({
          id: "contact-by-email",
          name: "contact-by-email",
          type: "email",
          autocomplete: "email",
          spellcheck: false,
          label: {
            text: "Email address"
          }
        }) }}
        {% endset -%}






        {% if errorExistingWFEmail1 == true %}



                  {{ govukRadios({

          idPrefix: "existingWFemail1",
          name: "existingWFemail1",
          errorMessage: {
            text: "Select the email address Hannah Salt uses to sign in to WebFiling"
          },
          fieldset: {
            legend: {
              text: " ",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "existing-email",
              text: "info@flowers.com"
            },
            {
              value: "different-email",
              text: "A different email address",
              conditional: {
                html: emailHtml
              }
            }
          ]
        }) }}


          {% else %}
          {{ govukRadios({

  idPrefix: "existingWFemail1",
  name: "existingWFemail1",
  fieldset: {
    legend: {
      text: " ",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "existing-email",
      text: "info@flowers.com"
    },
    {
      value: "different-email",
      text: "A different email address",
      conditional: {
        html: emailHtml
      }
    }
  ]
}) }}

          {% endif %}


                  {{ govukButton({
                  text: "Save and continue"
                }) }}



        </form>

      </div>
    </div>

  {% endblock %}
