{% extends "layout.html" %}


{% block header %}
    {{ govukHeader({ serviceName: "Set up a limited company and register for Corporation Tax" }) }}
{% endblock %}

{% block pageTitle %}
  What is Bob Thompson's email address? - Set up a limited company and register for Corporation Tax - GOV.UK
{% endblock %}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/SCRS/no-existing-wf-email-2" method="post">



      {% if errorBobEmail == true %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Enter an email address that is different to hannah.salt@example.com",
              href: "#BobEmail"
            }
            ]
        }) }}
      {% endif %}

      {% if errorBobEmail == true %}

        {{ govukInput({
          label: {
            text: "What is Bob Thompson's email address?",
            classes: "govuk-label--l"
          },
          hint: {
            text: "This should be an email address that only Bob Thompson can access. We'll use it to create a WebFiling account once the company is incorporated."
          },
          id: "BobEmail",
          name: "BobEmail",
          errorMessage: {
            text: "Enter an email address that is different to hannah.salt@example.com"
          }
        }) }}

                {% else %}

                {{ govukInput({
                  label: {
                    text: "What is Bob Thompson's email address?",
                    classes: "govuk-label--l"
                  },
                  hint: {
                    text: "This should be an email address that only Bob Thompson can access. We'll use it to create a WebFiling account once the company is incorporated."
                  },
                  id: "BobEmail",
                  name: "BobEmail"
                }) }}
                {% endif %}

          {{ govukButton({
          text: "Save and continue"
        }) }}

        </form>

      </div>
    </div>

  {% endblock %}
