{% extends "layouts/layout.html" %}



{% block pageTitle %}
Forgotten your password – {{ serviceName }} - GOV.UK
{% endblock %}

{% set serviceName %}
 
{% endset %}

{% block beforeContent %}

{% endblock %}





{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <form action="password-reset-email-sent" method="post" novalidate>


      <h1 class="govuk-heading-l">Password reset email sent</h1> 



      <p> An email has been sent to <strong> e******@gmail.com </strong></p>

   
      <p>Select the link in the email to verify the email address and create a password for your account.</p>


      <p>The link must be used within 24 hours or it will expire and you will need to enter your details again.</p>
  


 
     </form>
   </div>
 </div>
 

 {% endblock %}
