{% extends "layouts/layout.html" %}



{% block pageTitle %}
We are changing the way you sign in to some of our services – {{ serviceName }} - GOV.UK
{% endblock %}

{% set serviceName %}
 
{% endset %}

{% block beforeContent %}

{% endblock %}





{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <form action="webfiling-password" method="post" novalidate>


      <h1 class="govuk-heading-l">What is your WebFiling password?</h1> 

   
      {{ govukInput({
      
        id: "password",
        name: "password",
        type: "password",
        spellcheck: false
      }) }}
           


       {{ govukButton({
         text: "Continue"
       }) }}   
     
       <p class="govuk-body"><a href="#" class="govuk-link">I've forgotten my password</a></p>
    
 
     </form>
   </div>
 </div>
 

 {% endblock %}
