{% extends "layout.html" %}

{% block pageTitle %}
  Activate your Companies House account
{% endblock %}

{% block header %}
    {{ govukHeader({ serviceName: "" }) }}
{% endblock %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/sign-in" method="post" novalidate>

    <h1 class="govuk-heading-l">Companies House WebFiling account: <br>Authorisation to file online for FLOWERS LIMITED removed</h1>

    <p class="govuk-body">You are receiving this email because Jill Edwards has removed your authorisation to file online for FLOWERS LIMITED.<p></p>
    <p class="govuk-body">If you were not expecting your authorisation to file online to be removed, you must resolve this within the company. Companies House cannot give or remove authorisation to file online for a company.<p></p>


</form>

  </div>
  </div>
{% endblock %}
