{% extends "layout/layout-account-signout-manage-account.html" %}

{% block pageTitle %}
  Change your password
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"./user-account/manage-account"
  }) }}
{% endblock %}

{% block content %}

  <script>
    function showPassword() {
    var x = document.getElementById("password");
    var y = document.getElementById("show-hide");
    if (x.type === "password") {
      x.type = "text";
      y.text = 'Hide'
    } else {
      x.type = "password";
      y.text = 'Show'
    }
  }

    function showConfirmPassword() {
    var x = document.getElementById("confirm-password");
    var y = document.getElementById("show-hide-confirm");
    if (x.type === "password") {
      x.type = "text";
      y.text = 'Hide'
    } else {
      x.type = "password";
      y.text = 'Show'
    }
  }
  </script>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



        <h1 class="govuk-heading-l">Change your mobile number</h1>


        <p class="govuk-body">The mobile number currently stored in your Companies House account is <span class='govuk-body govuk-!-font-weight-bold'>07969 666 663</span>.</p>

        {{ govukInput({
            label: {
            text: "New mobile number"
          },
          hint:{
            text:"We'll send  a security code to this number by text message."
          },
          id: "full-name",
          name: "full-name",
          autocomplete: "name",
          spellcheck: false
          }) }}



          {{ govukInput({
            label: {
            text: "Password"
          },
          hint:{
            text:"Enter your Companies House account password."
          },
          suffix: {
            html: "<a id='show-hide' href='javascript:showPassword();' class='govuk-link' style = 'padding: 1em'>Show</a>"
          },
          id: "password",
          name: "password",
          type: "password"
          }) }}

        <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          preventDoubleClick: true,
          href:"./check-your-phone"
        }) }}

        <a class="govuk-link" href="#">Cancel</a>
        </div>


    </div>
  </div>
{% endblock %}
