{% extends "layout/layout-account-signout-home.html" %}

{% block pageTitle %}
  Create a Companies House account
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block header %}
    {{ govukHeader({
    
    navigation: [
    {
      href: "sign-in",
      text: "Sign out"
    }
  ]
  }) }} 
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/service-journey/add-company-to-account-notification" method="post" novalidate>

      {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

        {% set html %}
          <h3 class="govuk-notification-banner__heading">
            FLOWERS LIMITED has been added to your account
          </h3>
          
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
