{% extends "layout.html" %}

{% block pageTitle %}
  Create a Companies House account
{% endblock %}

{% block header %}
    {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigation: [
    {
      href: "sign-in",
      text: "Sign in"
    }
  ]
  }) }} 
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/service-journey/auth-code" method="post" novalidate>

              {% if errorAuthenticationCode == true %}

                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errorList
                  }) }}

              {% endif %}

              <span class='govuk-caption-xl'>FLOWERS LIMITED</span> 
              <h1 class='govuk-heading-xl'> Enter the company authentication code</h1>

              {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}


              {% if errorAuthenticationCode == true %}

              {{ govukInput({
                label: {
                  html: "Authentication code",
                  isPageHeading: false
                },
                
                classes: "govuk-input--width-10",
                id: "authentication-code",
                name: "authentication-code"
              }) }}

               {% else %}

               {{ govukInput({
                label: {
                  html: "Authentication code",
                  isPageHeading: false
                },
                
                classes: "govuk-input--width-10",
                id: "authentication-code",
                name: "authentication-code"
              }) }}

              {% endif %}



              {{ govukButton({
                text: "Continue"
              }) }}

              {{ govukDetails({
                summaryText: "Help with authentication code",
                html: 'This is a 6 character code issued by us to each company. The code is used to authorise online filings.<br><br> <p class="govuk-body"><a href="request-an-authentication-code" class="govuk-link">Request an authentication code</a></p>'
              }) }}

      </form>
    </div>
  </div>
{% endblock %}
