{% extends "layout/layout-account-signout-your-companies.html" %}

{% block pageTitle %}
  Store company details for future online filings
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/webfiling/add-company-to-account" method="post" novalidate>

        <span class="govuk-caption-xl">FLOWERS LIMITED</span>
          <h1 class="govuk-heading-xl">Store company details for future online filings</h1>
    <p class="govuk-body ">We can securely store the company details you entered to make online filing quicker and easier in the future.</p>

          <p class="govuk-body ">This means you:</p>
            <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-3">
              <li>will not need to re-enter the company's authentication code for most online filings</li>
              <li>can authorise other people to file for the company</li>
            </ul>

        {{ govukRadios({
          idPrefix: "add-company-to-account",
          name: "add-company-to-account",
          fieldset: {
            legend: {
              html: "Do you want us to store the company details for FLOWERS LIMITED?",

              classes: "govuk-fieldset__legend--s"
            }
          },

          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}



        {{ govukButton({
          text: "Continue",
          href:"webfiling-profile"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
