{% extends "layout/layout-signout.html" %}

{% block pageTitle %}
  More secure webfiling account
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/form-handler" method="post" novalidate>

        <h1 class="govuk-heading-l">We're making webfiling accounts more secure</h1>

        <p class="govuk-body"> We'll send a link to hannah.salt@example.com to verify you have access to it. </p>


        {{ govukButton({
          text: "Continue",
          href:"what-are-your-details"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}