

{% extends "layout/layout-signin.html" %}

{% block pageTitle %}
  Create a Companies House account
{% endblock %}

{% block header %}
    {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigation: [
    {
      href: "sign-in",
      text: "Sign in"
    }
  ]
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"start-page"
  }) }}
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/what-are-your-details" method="post" novalidate>

        <h1 class="govuk-heading-xl">What are your details?</h1>



        {{ govukInput({
          label: {
            text: "Full name (optional)"
          },
          hint: {
              text:"This is the name that will be displayed in your account. It is up to you how your name is displayed, for example 'Dan Smith' or 'Daniel Smith'."
          },
          id: "full-name",
          name: "full-name",
          autocomplete: "name",
          spellcheck: false
        }) }}

        {{ govukInput({
            label: {
              text: "Mobile number (optional)"
            },
            hint: {
              text: "Add your mobile number to make your account more secure. We'll send  a security code to this number by text message."
            },
            id: "telephoneNumberWeb",
            name: "telephoneNumberWeb",
            type: "tel",
            autocomplete: "tel",
            classes: "govuk-input--width-20"
          }) }}


        {{ govukButton({
            text: "Continue"
        }) }}

      </form>
  </div>
  </div>
{% endblock %}
