{% extends "layout.html" %}

{% block pageTitle %}
  Companies House account
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Account created</h1>

      {{ govukInsetText({
        text: "Your email address and mobile number have been verified. A confirmation email has been sent to you."
      }) }}



      <h2 class="govuk-heading-m">Next steps</h2>

      <h2 class="govuk-heading-s">Add a company (or companies) to your account</h2>

      <p class="govuk-body">You'll need your:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>company number</li>
        <li>Companies House authentication code</li>
        <li> If you are a director or Person of Significant control, you will need to prove your identity</li>
      </ul>

      {{ govukButton({
        text: "Add a company",
        href:"add-a-company"
      }) }}




  


    </div>
  </div>
{% endblock %}