{% extends "layouts/webfiling.html" %}

{% block pageTitle %}
Sorry, there is a problem with the service – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<!-- 
##################################################################################################################

DEVS 
This HTML is completely unsuitable for use in production sites
This HTML is completely unsuitable for use in production sites
This HTML is completely unsuitable for use in production sites
This HTML is completely unsuitable for use in production sites
This HTML is completely unsuitable for use in production sites

##################################################################################################################
-->






{% block content %}
<h1 class="govuk-heading-l govuk-!-font-size-36">Sorry, there is a problem with the service</h1>


<p class="govuk-body">You'll need to Contact Companies House, so we can look into the problem.</p>

<!-- <h2 class="govuk-heading-m govuk-!-font-size-24">When you contact us</h2> -->


<p class="govuk-body">If you call or email to contact Companies House, you will be asked for a reference code.</p>

<p class="govuk-body">This code helps us to see where you may be having a problem.</p>
<div class="govuk-inset-text">
  <p class="govuk-body govuk-!-font-weight-bold"> Your reference code:</p>
  9999 - 88 
</div>


<h2 class="govuk-heading-m govuk-!-font-size-24">Ways to contact us</h2>


<p class="govuk-body">Email: <a href="mailto:enquiries@companieshouse.gov.uk">enquiries@companieshouse.gov.uk</a> and we’ll reply by email within XX days.</p>


<p class="govuk-body">Telephone: 0303 1234 500. You can call us Monday to Friday, XXam to XXpm UK time.</p>








{% endblock %}
