{% extends "layouts/layout.html" %}
<!-- Overwrite suerfice name -->
{% set serviceName %}
  
{% endset%}

{% block pageTitle %}
  GOV.UK One Login  – Prototype
{% endblock %}

{% block beforeContent %}

{% endblock %}



{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds ">
      <form action="end-linking" method="post" novalidate>

    
     
     

    <h1 class="govuk-heading-l">You cannot request an authentication code
</h1>

  <p class="govuk-body">This company is ineligile to file and therefore we are unable to provide an authentication code. This is because it is a UK Establishment of an overseas company.</p>

    <p class="govuk-body"> 
  <a href="https://find-update-company-info.herokuapp.com/v9-your-companies/your-companies-card" class="govuk-link" target="_blank">Return to company homepage</a>
</p>

    </form>
    </div>
</div>

{% endblock %}
