{% extends "layouts/layout.html" %}
<!-- Overwrite suerfice name -->
{% set serviceName %}
  
{% endset%}

{% block pageTitle %}
  GOV.UK One Login  – Prototype
{% endblock %}

{% block beforeContent %}

{% endblock %}



{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds ">
      <form action="end-linking" method="post" novalidate>

    
     
     

    <h1 class="govuk-heading-l">You cannot file online for a UK establishment
</h1>

  <p class="govuk-body">The company number you entered is for a UK establishment of an overseas company. You cannot file online for this type of company.</p>

  <br>

    {{ govukButton({
          text: "Go back to company overview",
          href:"company-overview"
      }) }}



    <p class="govuk-body"> 
  <a href="company-number-chs.html" class="govuk-link">Enter a different company number</a>
</p>

    </form>
    </div>
</div>

{% endblock %}
