{% extends "layouts/layout.html" %}
<!-- Overwrite suerfice name -->
{% set serviceName %}
  
{% endset%}

{% block pageTitle %}
  GOV.UK One Login  – Prototype
{% endblock %}

{% block beforeContent %}

{% endblock %}



{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds ">
      <form action="end-linking" method="post" novalidate>

    
     
     

    <h1 class="govuk-heading-l">You cannot file for this company (Content TBC)
</h1>

  <p class="govuk-body"><strong>Overseas Bank</strong> is a UK Establishment of an overseas company. Therefore they are unable to file using this service.(Content TBC)</p>

  <br>

    {{ govukButton({
          text: "Return to company overview",
          href:"company-overview"
      }) }}



    <p class="govuk-body"> 
  <a href="company-number-chs.html" class="govuk-link" target="_blank">Enter another company number</a>
</p>

    </form>
    </div>
</div>

{% endblock %}
