
{% extends "layouts/webfiling.html" %}

{% block pageTitle %}
Companies you file for – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<!-- 
##################################################################################################################

DEVS 
This HTML is completely unsuitable for use in production sites
This HTML is completely unsuitable for use in production sites
This HTML is completely unsuitable for use in production sites
This HTML is completely unsuitable for use in production sites
This HTML is completely unsuitable for use in production sites

##################################################################################################################
-->






{% block content %}
<form class="form" action="" method="post">

<div class="govuk-grid-row">


<div class="govuk-grid-column-one-quarter webfiling-menu">
{% include "/includes/webfiling-left-menu.html" %}
</div>


<div class="govuk-grid-column-two-thirds wfOverview">




        <h1 class="govuk-heading-l">You cannot file for this company (Content TBC)</h1>


        <p class="govuk-body"><strong>Overseas Bank branch</strong> company is a UK establishment of an overseas company. Therefore they are unable to file using this service (Content TBC)</p>

  <p>If you want to <a href="">request another authentication code for a different company click here</a></p>

       

    {{ govukButton({
      text: "File for a different company",
      href:""
    }) }}



 </div>


  
  </div>
     </form>
{% endblock %}




