
{% extends "layouts/webfiling.html" %}

{% block pageTitle %}
Companies you file for – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<!-- 
##################################################################################################################

DEVS 
This HTML is completely unsuitable for use in production sites
This HTML is completely unsuitable for use in production sites
This HTML is completely unsuitable for use in production sites
This HTML is completely unsuitable for use in production sites
This HTML is completely unsuitable for use in production sites

##################################################################################################################
-->






{% block content %}
<form class="form" action="" method="post">

<div class="govuk-grid-row">


<div class="govuk-grid-column-one-quarter webfiling-menu">
{% include "/includes/webfiling-left-menu-alt.html" %}
</div>


<div class="govuk-grid-column-two-thirds wfOverview">




        <h1 class="govuk-heading-l">You cannot apply for an authentication code for this company type</h1>


        <p class="govuk-body">You cannot apply for an authentication code for a UK establishment of an overseas company. Only the overseas company can file online.</p>

    {{ govukButton({
      text: "File for a different company",
      href:"/public/images/sign-in-to-company.png"
    }) }}

 <p><a href="/public/images/request-auth-code.png">Request an authentication code for a different company </a></p>

 </div>


  
  </div>
     </form>
{% endblock %}




