{% extends "layouts/layout.html" %}


{% set serviceName %}
  
{% endset%}

{% block pageTitle %}
  Sign in to WebFiling
{% endblock %}

{% block beforeContent %}

{% endblock %}




{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">

  <form action="start-page" method="post" novalidate="">
    
  
    
    <!--
    {% set html %}
    <p class="govuk-notification-banner__heading">
     The way you sign in to WebFiling has changed.
    </p>
  {% endset %}

  {{ govukNotificationBanner({
    html: html
  }) }}-->


<p class="govuk-body govuk-!-text-align-right govuk-!-margin-bottom-1">
  Edwardgordon@gmail.com
</p>

<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">


  <h1 class="govuk-heading-l">Confirm you are a lender</h1>
  
  

  <div class="govuk-form-group govuk-!-margin-top-6">
  <label class="govuk-label" for="email">
   <strong>Company Number</strong>
  </label>
  <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
</div>
  <div class="govuk-form-group">
  <label class="govuk-label" for="email">
    <strong>Authentication Code</strong>
  </label>
  <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
</div>
  <div class="govuk-form-group">
  <label class="govuk-label" for="email">
   <strong>Presenter Authentication Code</strong>
  </label>
  <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
</div>
<br>
 
 <p class="govuk-body">You should only sign in to Webfiling using this method if you a lender. If you are not a lender <a href="">sign in using GOV.UK One Login.</a></p>



  {{ govukButton({
    text: "Continue",
    classes:"govuk-!-margin-top-5"
  }) }}   




  
</div>
</div>
{% endblock %}
