{% extends "layouts/layout.html" %}


{% set serviceName %}
  
{% endset%}

{% block pageTitle %}
  Sign in to WebFiling
{% endblock %}

{% block beforeContent %}

{% endblock %}




{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">

  <form action="start-page" method="post" novalidate="">
    
  
    
    <!--
    {% set html %}
    <p class="govuk-notification-banner__heading">
     The way you sign in to WebFiling has changed.
    </p>
  {% endset %}

  {{ govukNotificationBanner({
    html: html
  }) }}-->


<p class="govuk-body govuk-!-text-align-right govuk-!-margin-bottom-1">
  edwardgordon@gmail.com
</p>

<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">


  <h1 class="govuk-heading-l">Lender details</h1>
  
  

  <div class="govuk-form-group govuk-!-margin-top-6">
  <label class="govuk-label" for="email">
   <strong>Company number</strong>
  </label>
  <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
</div>
  <div class="govuk-form-group">
  <label class="govuk-label" for="email">
    <strong>Lender authentication code</strong>
  </label> 
  <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
</div>
  <div class="govuk-form-group">
  <label class="govuk-label" for="email">
   <strong>Presenter authentication code</strong>
  </label>
  <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
</div>
<br>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with company number
    </span>
  </summary>
  <div class="govuk-details__text">
    This is 8 characters long. You can find it by searching for the company on the <a href="https://find-and-update.company-information.service.gov.uk/" class="govuk-link--no-visited-state">Companies House register</a>.
  </div>
</details>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with lender authentication code
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">This is an 8 character code. It's required if you need to file charge (mortgage) documents online for other companies.</p> 
    
    <p class="govuk-body">If you do not have the code, <a href="https://www.gov.uk/government/publications/apply-to-register-as-a-lender-to-file-charge-documents-for-a-company" class="govuk-link--no-visited-state">apply to register as a lender to file charge documents for a company</a>.</p> 
    
    <p class="govuk-body">If you've lost your code or need a new one, contact us at <strong>enquiries@companieshouse.gov.uk</strong></p>
  </div>
</details>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with presenter authentication code
    </span>
  </summary>
  <div class="govuk-details__text">
  <p class="govuk-body">This is an 11 character code. It's required when using software to make a filing.</p> 

   <p class="govuk-body">If you do not have the code, <a href="https://www.gov.uk/government/publications/apply-to-register-as-a-lender-to-file-charge-documents-for-a-company" class="govuk-link--no-visited-state">apply to register as a lender to file charge documents for a company</a>.</p> 

<p class="govuk-body">If you've lost your code or need a new one, contact us at <strong>enquiries@companieshouse.gov.uk</strong></p>
  </div>
</details>

  {{ govukButton({
    text: "Continue",
    classes:"govuk-!-margin-top-5"
  }) }}   




  
</div>
</div>
{% endblock %}
