{% extends "layout-account-options.html" %}

{% block pageTitle %}
  Companies House account
{% endblock %}


{% block content %}

<span class="govuk-caption-xl" >Home</span>
<h1 class="govuk-heading-l">Hannah Salt</h1>

<h2 class="govuk-heading-m" id = "notification-banner-title" style="margin-top: 1em; border:5px; border-style:solid; border-color:#00703c; padding: 1em;">An email request has been sent to 'Jill Edwards' to be an authorised person for 'FLOWERS LIMITED'.</h2>

<h1 class="govuk-heading-m">Your companies</h1>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div style="background-color:#f3f2f1; padding: 1em;"> 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
     <h2 class="govuk-heading-m">FLOWERS LIMITED</h2>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body govuk-!-font-weight-bold">
          <span class="govuk-body ">Company number</span><br>
     </span>18882777</p>

        <p class="govuk-body govuk-!-font-weight-bold">
            <span class="govuk-body ">Correspondence address</span><br>
       </span> 2nd Floor Red House, 17 London Road, London, SA73 8PH </p>
    <h3 class="govuk-heading-m">People authorised to file for this company</h3>

       <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        <table class="govuk-table">
          <thead class="govuk-table__head">

            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col"> Authorised people</th>
              <th class="govuk-table__header" scope="col"> Status </th>
      
            </tr>


          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <p class="govuk-body"> Hannah Salt (you)</p>
              </td>
              <td class="govuk-table__cell">
                {{govukTag({
                  text: "Confirmed",
                  classes: "govuk-tag--green"
                })}}
              </td>
              <td class="govuk-table__cell">
              <a href="authorised-person-jill" class="govuk-link"></a>
              </td>
            </tr>
            
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="authorised-person-jill" class="govuk-link">Jill Edwards</a>
              </td>
              <td class="govuk-table__cell">
                {{govukTag({
                  text: "PENDING",
                  classes: "govuk-tag--yellow"
                })}}
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>

    </div>
    <div class="govuk-grid-column-one-third">
        {{ govukButton({
          text: "File for this company",
          href:""
        }) }}
        {{ govukButton({
          text: "Add an authorised person",
          href:"../../delegate-to-presenter/enter-presenter-details"
        }) }}

    </div>
  </div>
</div>
   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    {{ govukButton({
      text: "Add another company",
      href:"../../add-a-company"
    }) }}
</div>

{% endblock %}
