{% extends "layout-account-options.html" %}

{% block pageTitle %}
  Companies House account
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back ",
    href:"../user-account/home"
  }) }}
{% endblock %}


{% block content %}

<span class="govuk-caption-xl" >FLOWERS LIMITED</span>

<h1 class="govuk-heading-l">Update authorised person's details</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {{ govukSummaryList({
                rows: [
                  {
                    key: {
                      text: "Name"
                    },
                    value: {
                      text: "Jill Edwards"
                    },
                    actions: {
                      items: [
                        {
                          href: "#",
                          text: "Change",
                          visuallyHiddenText: "agents name"
                        }
                      ]
                    }
                  },
        
                  {
                    key: {
                      text: "Email address"
                    },
                    value: {
                      text: "jill.edwards@example.com"
                    },
                    actions: {
                      items: [
                        {
                          href: "#",
                          text: "Change",
                          visuallyHiddenText: "agents email address"
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "Status"
                    },
                    value: {
                      html: "<strong class='govuk-tag govuk-tag--yellow'> Pending </strong> <p class='govuk-body govuk-!-font-weight-bold'><br>We have sent an email to Jill Edwards. They need to open the email and select the verification link so that they can file for FLOWERS LIMITED.</p>"
                      },
                    actions: {
                      items: [
                        {
                          href: "#",
                          text: "Resend email",
                          visuallyHiddenText: "agents email address"
                        }
                      ]
                    }
                  }
                ]
              }) }}

              {{ govukButton({
                text: "Return to home",
                classes: "govuk-button--secondary",
                href:"#"
              }) }}






            </div>



</div>

{% endblock %}
