{% extends "layout-account-options.html" %}

{% block pageTitle %}
  Companies House account
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back ",
    href:"../user-account/home"
  }) }}
{% endblock %}


{% block content %}

<span class="govuk-caption-xl" >FLOWERS LIMITED</span>

<h1 class="govuk-heading-l">Jill Edwards is authorised to file for this company</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {{ govukSummaryList({
                rows: [
                  {
                    key: {
                      text: "Name"
                    },
                    value: {
                      text: "Jill Edwards"
                    },
                    actions: {
                      items: [
                        {
                          href: "#",
                          text: "Change",
                          visuallyHiddenText: "agents name"
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "Status"
                    },
                    value: {
                      html: "<strong class='govuk-tag govuk-tag--blue'>
                                Pending
                              </strong> <p class='govuk-body govuk-!-font-weight-bold'><br> Waiting for Jill Edwards to confirm your email request, to file on behalf of Flowers LTD.</p>"
                      },
                    actions: {
                      items: [
                        {
                          href: "#",
                          text: "Change",
                          visuallyHiddenText: "agents email address"
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "Email address"
                    },
                    value: {
                      text: "jill.edwards@example.com"
                    },
                    actions: {
                      items: [
                        {
                          href: "#",
                          text: "Change",
                          visuallyHiddenText: "agents email address"
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "What can the authorised person do for the company?"
                    },
                    value: {
                      html: "File company accounts<br>File confirmation statements<br>Make changes to the company"
                    },
                    actions: {
                      items: [
                        {
                          href: "#",
                          text: "Change",
                          visuallyHiddenText: "documents agent can file"
                        }
                      ]
                    }
                  }
                ]
              }) }}




            </div>



</div>

{% endblock %}
