{% extends "layout/layout-account-signout-your-companies.html" %}

{% block pageTitle %}
  Your companies
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:""
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-width-container">


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">



    <span class="govuk-caption-xl" >FLOWERS LIMITED</span>

    <h1 class="govuk-heading-xl">Authorised person's details</h1>

    {{ govukSummaryList({
                rows: [
                  {
                    key: {
                      text: "Name"
                    },
                    value: {
                      text: "Jill Edwards"
                    },
                    actions: {
                      items: [
                        {
                          href: "#",
                          text: "Change",
                          visuallyHiddenText: "agents name"
                        }
                      ]
                    }
                  },

                  {
                    key: {
                      text: "Email address"
                    },
                    value: {
                      text: "jill.edwards@example.com"
                    },
                    actions: {
                      items: [
                        {
                          href: "#",
                          text: "Change",
                          visuallyHiddenText: "agents email address"
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "Status"
                    },
                    value: {
                      html: "<strong class='govuk-tag govuk-tag--yellow'> Pending </strong> <p class='govuk-body govuk-!-font-weight-normal'><br>We have sent an email to jill.edwards@example.com. This person must select the request link in the email so that they can file online for FLOWERS LIMITED.</p>"
                      },
                    actions: {
                      items: [
                        {
                          href: "#",
                          text: "Resend email",
                          visuallyHiddenText: "agents email address"
                        }
                      ]
                    }
                  }
                ]
              }) }}

              {{ govukButton({
                text: "Cancel request",
                classes: "govuk-button--warning",
                href:"./auth-person-added-no-notification"
              }) }}



            </div>
        </div>
</div>
</div>
</div>


{% endblock %}
