{% extends "layout/layout-account-signout-your-companies.html" %}

{% block pageTitle %}
  Your companies
{% endblock %}


{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

 {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

    {% set html %}
      <p class="govuk-notification-banner__heading">
        FLOWERS LIMITED has been added to your account.<br>
        <p class="govuk-body">You will no longer need the authentication code for most online filings. Keep the code in a safe place because you may need it for certain filings in the future.</p>
    {% endset %}

    {{ govukNotificationBanner({
      html: html,
      type: 'success'
    }) }}
  </div>
</div>


<div class="govuk-grid-row">

        <div class="govuk-grid-column-full">

          <h1 class="govuk-heading-l">Your companies <span class="govuk-caption-m" style = "padding-top:0.5em;">View and manage companies and people authorised to file on behalf of a company</span></h1>

          {{ govukButton({
                  text: "Add a company",
                  href:"../../add-a-company"
                }) }}


          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <div style=" border-color: #b1b4b6; border-style: solid; border-width: 1px; padding: 2em;">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                 <h2 class="govuk-heading-m">FLOWERS LIMITED</h2>
                </div>
              </div>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                  <p class="govuk-body govuk-!-font-weight-bold">
                      <span class="govuk-body ">Company number</span><br>
                 </span>18882777</p>

                    <p class="govuk-body govuk-!-font-weight-bold">
                        <span class="govuk-body">Correspondence address</span><br>
                   </span> 2nd Floor Red House, 17 London Road, London <br>SA73 8PH </p>

                   <div class="govuk-grid-row">
                    <div class="govuk-grid-column-three-quarters">
                    <table class="govuk-table">
                      <thead class="govuk-table__head">

                        <tr class="govuk-table__row">
                          <th class="govuk-table__header" scope="col"> People authorised to <br> file for this company</th>
                          <th class="govuk-table__header" scope="col"> Status </th>
                        </tr>


                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">
                            <p class="govuk-body"> Hannah Salt (you)</p>
                          </td>
                          <td class="govuk-table__cell">
                            {{govukTag({
                              text: "CONFIRMED",
                              classes: "govuk-tag--turquoise"
                            })}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <a href="../../delegate-to-presenter/enter-presenter-details" class="govuk-link govuk-link--no-visited-state">Add person authorised to file for this company</a>
                    </div>
                  </div>

                </div>
                <div class="govuk-grid-column-one-third">
                    {{ govukButton({
                      text: "File for this company",
                      href:""
                    }) }}

                </div>
              </div>
            </div>
               <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            </div>
    </div>

   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

</div>
</div>


{% endblock %}
