{% extends "layout.html" %}

{% block pageTitle %}
  Companies House account
{% endblock %}


{% block content %}

<div class="govuk-width-container">
<div class="govuk-grid-row">
    
    <div class="govuk-grid-row govuk-main-wrapper">

      <div class="govuk-grid-column-one-third">
        <nav aria-label="Account management">

          <ul class="account-menu">
            <li class="account-menu-item account-menu__item--current">
              <a href="#" class="account-menu-link govuk-link govuk-link--no-visited-state">Your details</a>
              <span class="account-menu-link-description"> Make changes to your account details </span>
            </li>
            <li class="account-menu-item">
              <a href="#" class="account-menu-link govuk-link govuk-link--no-visited-state">Manage your account</a>
              <span class="account-menu-link-description"> Make changes to your account details </span>
            </li>
            <li class="account-menu-item">
              <a href="#" class="account-menu-link govuk-link govuk-link--no-visited-state">Your companies</a>
              <span class="account-menu-link-description"> View your companies and add companies to your account </span> 
            </li>
            <li class="account-menu-item">
              <a href="#" class="account-menu-link govuk-link govuk-link--no-visited-state">Companies you follow</a>
              <span class="account-menu-link-description"> View and manage the companies you follow </span>
            </li>
          </ul>
        </nav>
      </div>

      
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">Your Companies House account</h1>

          <p class="govuk-body">hannah.salt@example.com</p>



           


      
          </div>


        </div>
        




   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

   <ul class="govuk-grid-row">
  <li class="card column-one-third">
    <a href="#0" class="card__body">
      <span class="bold-xlarge">12</span>
      <span class="bold-small">certificates available</span>
    </a>
    <div class="card__footer">
      <span class="font-small">How many certificates sponsorship have left to use.</span>
    </div>
  </li>
  <li class="card column-one-third">
    <a href="#0" class="card__body">
      <span class="bold-xlarge">6</span>
      <span class="bold-small">certificates used</span>
    </a>
    <div class="card__footer">
      <span class="font-small">This is how many certificates sponsorship have used.</span>
    </div>
  </li>
</ul>
</div>
    
</div>
</div>

{% endblock %}
