{% extends "layout/layout-account-signout-home.html" %}


{% block pageTitle %}
  Companies House account
{% endblock %}


{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <span class="govuk-caption-xl" >Home</span>
      
        <h1 class="govuk-heading-l">Hannah Salt</h1>
      </div>
    </div>

    <div class="govuk-grid-row" style="margin-bottom: 10px;">
      <div class="govuk-grid-column-full">

        <h2 class="govuk-heading-m">Overview</h2>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


          <div class="govuk-grid-column-one-third" style=" border-width: 1px; padding: 2em; height: 300px;width: 310px; margin-right: 10px; background-color:#f3f2f1 ">

            
            <h2 class="govuk-heading-m" ><p class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold" >0</p>Companies </h2>

            <p  class="govuk-body">
             <a href="../add-a-company" class="govuk-link">View and manage your companies </a> and the people authorised to file on behalf of a company. </p>
          </div>



          <div class="govuk-grid-column-one-third" style=" background-color:#f3f2f1; border-width: 1px; padding: 2em; height: 300px;width: 310px; margin-right: 10px">

            <h2 class="govuk-heading-m"><p class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold">3</p>Companies </h2>

            <p  class="govuk-body"> <a href="../add-a-company" class="govuk-link">View and manage your companies</a> and the people authorised to file on behalf of a company.</p>

          </div>

          <div class="govuk-grid-column-one-third" style=" background-color:#f3f2f1;  border-width: 1px; padding: 2em; height: 300px;width: 310px; margin-right: 10px">

            <h2 class="govuk-heading-m"><p class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold">1</p>Pending request </h2>

            
            <p  class="govuk-body"> <a href="../add-a-company" class="govuk-link"> Henry Moore has requested</a> to be added as an authorised person for FLOWERS LTD.</p>


          </div>
        </div>
      </div>


          <div class="govuk-grid-row" style="margin-bottom: 10px;">
      <div class="govuk-grid-column-full">


          <div class="govuk-grid-column-one-third" style=" background-color:#f3f2f1; border-width: 1px; padding: 2em; height: 300px;width: 310px; margin-right: 10px;">

            
            <h2 class="govuk-heading-m"><p class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold">10</p>Companies you follow </h2>

            <p  class="govuk-body">

              Recent filing: <br>Example company LTD <br> GAZ1 - First Gazette notice for compulsory strike-of. <a href="../add-a-company" class="govuk-link"> View companies you follow</a>. </p>
          </div>



          <div class="govuk-grid-column-one-third" style=" background-color:#f3f2f1;  border-width: 1px; padding: 2em; height: 300px;width: 310px; margin-right: 10px">

            <h2 class="govuk-heading-m">Upcoming filings</h2>

            <p class="govuk-body">FLOWERS LTD</p>

            <p  class="govuk-body">File accounts by 31 May 2021</p>
          </div>

          <div class="govuk-grid-column-one-third" style=" background-color:#f3f2f1; border-width: 1px; padding: 2em; height: 300px;width: 310px; margin-right: 10px">

            <h2 class="govuk-heading-s">Our services</h2>

            
            <p  class="govuk-body"> <a href="../add-a-company" class="govuk-link"> Henry Moore has requested</a> to be added as an authorised person for FLOWERS LTD.</p>


          </div>
        </div>
      </div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h2 class="govuk-heading-m">Services</h2>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          <div class="govuk-grid-column-one-third" style=" border-color: #b1b4b6; border-width: 1px; padding: 2em; height: 300px;width: 310px; margin-right: 10px;">

            <h2 class="govuk-heading-s">Search the register </h2>

            <p  class="govuk-body">If you want to find company information, search for a company on the <a href="../add-a-company" class="govuk-link"> Companies House register</a>.</p>
          </div>

          <div class="govuk-grid-column-one-third" style=" border-color: #b1b4b6; border-style: solid; border-width: 1px; padding: 2em; height: 300px;width: 310px; margin-right: 10px">

            <h2 class="govuk-heading-s">Follow a company</h2>

            <p  class="govuk-body">To receive notifications about a company, search for a company on the <a href="../add-a-company" class="govuk-link"> Companies House register</a> and use the 'Follow a company' service.</p>
          </div>

          <div class="govuk-grid-column-one-third" style=" border-color: #b1b4b6; border-style: solid; border-width: 1px; padding: 2em; height: 300px;width: 310px; margin-right: 10px">

            <h2 class="govuk-heading-s">Filing accounts</h2>

            
            <p  class="govuk-body">File your accounts using the <a href="../add-a-company" class="govuk-link"> Companies House register</a> or the <a href="" class="govuk-link">Webfiling service</a>.</p>


          </div>
        </div>
      </div>
            

</div>
</div>


{% endblock %}
