{% extends "layout/layout-account-signout-home.html" %}

{% block pageTitle %}
  Companies House account
{% endblock %}


{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <span class="govuk-caption-xl" >Home</span>
      <h1 class="govuk-heading-l">Hannah Salt</h1>
      </div>

          <div class="govuk-grid-column-one-third" style=" border-color: #b1b4b6; border-style: solid; border-width: 1px; padding: 2em;">


            <span class="govuk-caption-l">1 company</span>
            <h2 class="govuk-heading-l">Your companies</h2>


            <p class="govuk-body govuk-!-font-weight-bold">Companies you file for</p>


            <p  class="govuk-body">If you want to file for a company, you’ll need to <a href="../add-a-company" class="govuk-link">add a company to your account</a>.</p>

          </div>

          <div class="govuk-grid-column-one-third" style=" border-color: #b1b4b6; border-style: solid; border-width: 1px; padding: 2em;">

            <span class="govuk-caption-l">1 request</span>
            <h2 class="govuk-heading-l">Notifications</h2>

            <p class="govuk-body"> <a href="" class="govuk-link">Henry Moore has requested</a> to be add to be added as an authorised person for FLOWERS LTD.</p>

          </div>


          <div class="govuk-grid-column-one-third" style=" border-color: #b1b4b6; border-style: solid; border-width: 1px; padding: 2em;">

          </div>

        

</div>
</div>


{% endblock %}
