{% extends "layout-account-options-v2.html" %}

{% block pageTitle %}
  Companies House account
{% endblock %}


{% block content %}

<span class="govuk-caption-xl" >Home</span>
<h1 class="govuk-heading-l">Hannah Salt</h1>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div style="background-color:#f3f2f1; padding: 1em;"> 
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      0 companies

      View your companies

      Add a company      
    

    </div>

    <div class="govuk-grid-column-one-third">

      
    </div>
</div>
</div>

   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

   <ul class="govuk-grid-row">
  <li class="card column-one-third">
    <a href="#0" class="card__body">
      <span class="bold-xlarge">12</span>
      <span class="bold-small">certificates available</span>
    </a>
    <div class="card__footer">
      <span class="font-small">How many certificates sponsorship have left to use.</span>
    </div>
  </li>
  <li class="card column-one-third">
    <a href="#0" class="card__body">
      <span class="bold-xlarge">6</span>
      <span class="bold-small">certificates used</span>
    </a>
    <div class="card__footer">
      <span class="font-small">This is how many certificates sponsorship have used.</span>
    </div>
  </li>
</ul>

    
</div>

{% endblock %}
