{% extends "layout/layout-account-signout-home.html" %}


{% block pageTitle %}
  Companies House account
{% endblock %}


{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Home
        <span class="govuk-caption-xl" >hannah.salt@example.com</span> </h1>
      </div>
    </div>

    <div class="govuk-grid-row" style="margin-bottom: 10px;">
      <div class="govuk-grid-column-full">


        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <h2 class="govuk-heading-m">Your account</h2>


          <div class="govuk-grid-column-one-third" style=" border-width: 1px; padding: 2em; height: 370px;width: 470px; margin-right: 10px; background-color:#f3f2f1 ">


            <h2 class="govuk-heading-m"style= "color:#003078" ><p class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold" style= "color:#003078" >0</p> <a href="../user-account/home-no-companies-no-notification" class="govuk-link"> Your companies</a> </h2>
            <p class="govuk-body">You can:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>add a company to your WebFiling account</li>
              <li>view, manage and file for companies you’ve added</li>
              <li>manage people authorised to file on behalf of a company</li>

            </ul>

          </div>

          <div class="govuk-grid-column-one-third" style=" background-color:#f3f2f1;  border-width: 1px; padding: 2em; height: 370px;width: 470px; margin-right: 10px">

            <h2 class="govuk-heading-m" style= "color:#003078"><p class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold" style= "color:#003078">0</p> <a href="#" class="govuk-link"> Messages</a></h2>


            <p  class="govuk-body">View messages relating to your WebFiling account.</p>



          </div>


        </div>
      </div>



     <div class="govuk-grid-row" style="margin-top: 30px;">
      <div class="govuk-grid-column-full">


        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <h2 class="govuk-heading-m">Services</h2>

          <div class="govuk-grid-column-one-third" style=" border-width: 1px; padding: 2em; height: 370px;width: 470px; margin-right: 10px; background-color:#f3f2f1 ">

            <h2 class="govuk-heading-m" style= "color:#003078"><a href="#" class="govuk-link">WebFiling</a></h2>

            <p class="govuk-body">You can:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>file your company’s annual accounts</li>
              <li>file your company’s confirmation statement</li>
              <li>file your company’s director or secretary changes</li>
              <li>sign up to get email reminders</li>
                <li>authorise people to file documents for your company online</li>
            </ul>


          </div>
        </div>
      </div>



</div>
</div>


{% endblock %}
