{% extends "layout-account-options.html" %}

{% block pageTitle %}
  Companies House account
{% endblock %}


{% block content %}

<span class="govuk-caption-xl" >Home</span>
<h1 class="govuk-heading-l">Hannah Salt</h1>

<h2 class="govuk-heading-m" id = "notification-banner-title" style="margin-top: 1em; border:5px; border-style:solid; border-color:#00703c; padding: 1em;">'FLOWERS LIMITED' has been added to your account.</h2>

<h1 class="govuk-heading-m">Your companies</h1>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-m">FLOWERS LIMITED</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-body govuk-!-font-weight-bold">18882777 - Incorporated on 11 December 2006</span></br>
        <p class="govuk-body">2nd Floor Red House, 17 London Road, London, SA73 8PH </p>
        <span class="govuk-body">Authorised people</span></br>
        <ul class="govuk-list govuk-list--bullet">
          <li>Jill Edwards (waiting for confirmation)</li>
        </ul>

    </div>
    <div class="govuk-grid-column-one-third">
        {{ govukButton({
          text: "Manage authorised people",
          classes: "govuk-button--secondary",
          href:".//manage-presenters"
        }) }}
        {{ govukButton({
          text: "File for this company",
          classes: "govuk-button--secondary",
          href:""
        }) }}

    </div>

  </div>
   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    {{ govukButton({
      text: "Add another company",
      href:"../add-a-company"
    }) }}
</div>

{% endblock %}
