{% extends "layout-account-options.html" %}

{% block pageTitle %}
  Companies House account
{% endblock %}


{% block content %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set html %}
  <p class="govuk-notification-banner__heading">
    You've successfully verified your email address and created your account.
  </p>
{% endset %}

{{ govukNotificationBanner({
  html: html,
  type: 'success'
}) }}

<span class="govuk-caption-xl" >Home</span>
<h1 class="govuk-heading-l" style="padding-bottom: 30px;">Hannah Salt </h1>




<h1 class="govuk-heading-m">Your companies</h1>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div style="background-color:#f3f2f1; padding: 1em;">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-m">You have not added any companies to this account</h1>

          <p class="govuk-body">To file online for a company, you must add it to your account. <br><br>You'll need:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the company number</li>
            <li>the company <a href="https://www.gov.uk/guidance/company-authentication-codes-for-online-filing" class="govuk-link"> authentication code</a></li>
          </ul>
            <p class="govuk-body">Once you have added a company using the authentication code, you will no longer need it to file online.</p>
      </ul>

      {{ govukButton({
          text: "Add a company",
          href:"../add-a-company"
      }) }}

    </div>
  </div>
  </div>
   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

</div>



{% endblock %}
