{% extends "layout.html" %}

{% block pageTitle %}
  Companies House account
{% endblock %}


{% block content %}

<div class="govuk-width-container">
<div class="govuk-grid-row">

  {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

  {% set html %}
    <p class="govuk-notification-banner__heading">
      The authentication code for FLOWERS LIMITED will be posted to the registered office address. <br><p class="govuk-body">It usually takes up to 5 days to arrive.</p>

  {% endset %}

  {{ govukNotificationBanner({
    html: html,
    type: 'success'
  }) }}

      </div>

    <div class="govuk-grid-row govuk-main-wrapper">

      <div class="govuk-grid-column-one-quarter">



        <nav aria-label="Account management">

          <ul class="account-menu">
            <li class="account-menu-item ">
              <a href="../user-account/home-no-companies" class="account-menu-link govuk-link govuk-link--no-visited-state">Home</a>
              <span class="account-menu-link-description"> Overview of your account.</span>
            </li>
            <li class="account-menu-item account-menu__item--current">
              <a href="../user-account/home-no-companies-no-notification" class="account-menu-link govuk-link govuk-link--no-visited-state">Your companies</a>
              <span class="account-menu-link-description"> View and manage companies and people authorised to file on behalf of a company.</span>
            </li>
             <li class="account-menu-item">
              <a href="#" class="account-menu-link govuk-link govuk-link--no-visited-state">Your filings</a>
              <span class="account-menu-link-description"> Record of documents you have filed.</span>
            </li>
            <li class="account-menu-item">
              <a href="#" class="account-menu-link govuk-link govuk-link--no-visited-state">Companies you follow</a>
              <span class="account-menu-link-description"> View and manage companies you follow.</span>
            </li>
            <li class="account-menu-item account-menu__item">
              <a href="../user-account/manage-account" class="account-menu-link govuk-link govuk-link--no-visited-state">Manage your account</a>
              <span class="account-menu-link-description"> Make changes to your details and account settings </span>
            </li>
          </ul>
        </nav>
      </div>


        <div class="govuk-grid-column-three-quarters">

          <h1 class="govuk-heading-l">Your companies</h1>


            <div style=" border-color: #b1b4b6; border-style: solid; border-width: 1px; padding: 2em;"</div>

              <h1 class="govuk-heading-m">You have not added any companies to this account</h1>

                <p  class="govuk-body">If you want to file for a company, you’ll need to add it to your account.</p>
              </ul>

              {{ govukButton({
                  text: "Add a company",
                  href:"../add-a-company"
              }) }}
            </div>

        </div>
    </div>

   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

</div>
</div>


{% endblock %}
