{% extends "layout-account-options.html" %}

{% block pageTitle %}
  Companies House account
{% endblock %}


{% block content %}

<span class="govuk-caption-xl" >FLOWERS LIMITED</span>

<h1 class="govuk-heading-l">People authorised to file for FLOWERS LIMITED</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div aria-labelledby="notification-banner-title" role="alert" tabindex="-1" data-module="initial-focus">

        <h2 class="govuk-heading-s" id = "notification-banner-title" style="margin-top: 1em; border:5px; border-style:solid; border-color:#00703c; padding: 1em;">An email has been sent to JILL EDWARDS.</h2>
      </div>

    {{ govukButton({
        text: "Add an authorised person",
        href:"add-presenter"
    }) }}

    <h2 class="govuk-heading-s">Authorised people</h2>

    {{ govukSummaryList({
                rows: [
                  {
                    key: {
                      text: "Name"
                    },
                    value: {
                      text: "Henry Moore"
                    },
                    actions: {
                      items: [
                        {
                          href: "#",
                          text: "Change",
                          visuallyHiddenText: "agents name"
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "Email address"
                    },
                    value: {
                      text: "h.moore-accountants@example.com"
                    },
                    actions: {
                      items: [
                        {
                          href: "#",
                          text: "Change",
                          visuallyHiddenText: "agents email address"
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "What can the authorised person do for the company?"
                    },
                    value: {
                      html: "File company accounts<br>File confirmation statements<br>Make changes to the company"
                    },
                    actions: {
                      items: [
                        {
                          href: "#",
                          text: "Change",
                          visuallyHiddenText: "documents agent can file"
                        }
                      ]
                    }
                  }
                ]
              }) }}



    <h2 class="govuk-heading-s">Waiting for confirmation</h2>

    {{ govukSummaryList({
                rows: [
                  {
                    key: {
                      text: "Name"
                    },
                    value: {
                      text: "Jill Edwards"
                    },
                    actions: {
                      items: [
                        {
                          href: "#",
                          text: "Change",
                          visuallyHiddenText: "agents name"
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "Email address"
                    },
                    value: {
                      text: "jill.edwards@example.com"
                    },
                    actions: {
                      items: [
                        {
                          href: "#",
                          text: "Change",
                          visuallyHiddenText: "agents email address"
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "What can the authorised person do for the company?"
                    },
                    value: {
                      html: "File company accounts<br>File confirmation statements<br>Make changes to the company"
                    },
                    actions: {
                      items: [
                        {
                          href: "#",
                          text: "Change",
                          visuallyHiddenText: "documents agent can file"
                        }
                      ]
                    }
                  }
                ]
              }) }}




            </div>



</div>

{% endblock %}
