{% extends "layout-account-options.html" %}

{% block pageTitle %}
  Companies House account
{% endblock %}


{% block content %}
<div class="govuk-width-container">
<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Messages (1 unread)</h1>

        {{ govukTable({
          caption: "",
          isPageHeading: true,
      classes: "govuk-fieldset__legend--l",
          firstCellIsHeader: true,
          head: [
            {
              text: "Description"
            },
            {
              text: "Date"
            }
          ],
          rows: [
            [
              {
                text: "Accounts were filed by Henry Moore"
              },
              {
                text: "12 October 2020"
              }
            ]
          ]
        }) }}

        </div>
      </div>
    </div>
        
</main>
</div>
    
{% endblock %}