{% extends "layout-account-options.html" %}

{% block pageTitle %}
  Companies House account
{% endblock %}


{% block content %}

        <span class="govuk-caption-xl" >Messages</span>
        <h1 class="govuk-heading-l">1 unread message</h1>

        {{ govukTable({
          caption: "",
          isPageHeading: true,
      classes: "govuk-fieldset__legend--l",
          firstCellIsHeader: true,
          head: [
            {
              text: "Description"
            },
            {
              text: "Date"
            }
          ],
          rows: [
            [
              {
                text: "Accounts were filed by Henry Moore"
              },
              {
                text: "12 October 2020"
              }
            ]
          ]
        }) }}

        
    
{% endblock %}