{% extends "layout/layout-account-signout-your-companies.html" %}

{% block pageTitle %}
  Your companies
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:""
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-width-container">


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl" >FLOWERS LIMITED</span>

    <h1 class="govuk-heading-xl">Remove Hannah Salt as an authorised person</h1>



    <p class="govuk-body">What does this mean:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Hannah Salt's account will no longer be linked to the FLOWERS LIMITED </li>
        <li>Hannah Salt will not be able to file for the company without the using the authentication code.</li>
      </ul>

    {{ govukWarningText({
      text: "Hannah Salt will still be able to file for the company using the authentication code. You will need to change the company's authentication code."
    }) }}

    <h2 class="govuk-heading-s">Changing the authentication code </h2>

    <p class="govuk-body"> <a href="#" class="govuk-link">You can change the authentication code for the company</a> so they will no longer be able to file for the company with the existing authentication code. </p>
    <p class="govuk-body">
    Anyone you wants to file for the company in the future will need to enter the new authentication code. </p>

      {{ govukButton({
          text: "Remove Hannah Salt",
          classes: "govuk-button--warning",
          href:""
      }) }}

  

              



      </div>
    </div>
</div>
</div>
</div>


{% endblock %}
