{% extends "layouts/layout.html" %}


{% set serviceName %}
  
{% endset%}

{% block pageTitle %}
  Sign in to WebFiling
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">

  <form action="chs-interrupt" method="post" novalidate="">
    
    

  <h1 class="govuk-heading-l">We need to connect your Companies House account to your GOV.UK One Login</h1>

<p>Before we take you to WebFiling, we need to connect your Companies House account to your GOV.UK One Login.</p>

  <p class="govuk-body">To do this, we'll ask you to enter your Companies House account password on the next screen. You only need to do this once. It will enable us to save any existing information that's in the account that uses the email address <strong>e*****@gmail.com</strong>.</p>

  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        What is a Companies House account?
      </span>
    </summary>
    <div class="govuk-details__text">
      <p class="govuk-body">This is the account you can use to sign in to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the Companies House register - sometimes known as the 'Companies House service' or 'Find and update company information'</li>
  <li>some of our online services - for example, 'Register your company' or 'Upload a document to Companies House'</li>
</ul>
<p>It is different to a WebFiling account.</p>
    </div>
  </details>

  <div class="govuk-button-group">
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Continue
    </button>
    
  </div>



  </form>

</div>
</div>

{% endblock %}
