{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Companies House to join GOV.UK One Login 
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Business and industry</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Running a business</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Limited companies and partnerships</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-m">News story</span>
      <h1 class="govuk-heading-l">
        Access to Companies House WebFiling service to move to GOV.UK One Login 
      </h1>

    <p class="govuk-body-l">From [date], users will need to use GOV.UK One Login to access the Companies House WebFiling service. </p>




  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <ul class="govuk-list">
    <li>From: <strong> <a href="" class="govuk-link">Companies House</a> </strong>
    </li>

    <li>Published 28 May 2025</li>
    <li>Last updated 15 June 2025
          — <a href="" class="">
            See all updates
          </a>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  </div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <img class="govuk-!-padding-margin-5" src="/public/images/s300_Companies_House_GOV.UK_One_Login.png" alt="Someone sitting on the sofa looking at their mobile phone.">



      <p class="govuk-!-margin-top-5">We began <a href="http://www.gov.uk/government/news/companies-house-to-join-govuk-one-login" class="govuk-link">moving our online services to GOV.UK One Login in autumn 2024</a>.</p>

      <p>GOV.UK One Login allows users to access a range of central government services using just one username and one password. This means they will not need to provide their information multiple times. </p>

      <p>Currently, all users who sign in to the <a href="https://find-and-update.company-information.service.gov.uk/" class="govuk-link">Find and update company information</a> service have the option to connect their Companies House account with GOV.UK One Login.</p>

      <p>On [date], WebFiling will be the next service from Companies House to join GOV.UK One Login. </p>

      <p>From this date, when you sign in to WebFiling, you'll be prompted to connect your account to GOV.UK One Login. You will not be able to access WebFiling without connecting to GOV.UK One Login. </p>

      <p>If you already have a GOV.UK One Login, you'll be able to sign in and connect your accounts. If you don't yet have a GOV.UK One Login, you'll be prompted to create one. </p>

      <h2 class="govuk-heading-m">What you need to do</h2>

      <p class="govuk-body">To prepare for this change and ensure your saved information remains available: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>make sure the email address you use for WebFiling is up to date and you can access it</li>
        <li>if you also have a Companies House account, make sure you use the same email address for both services</li>
        <li>consider creating a GOV.UK One Login before [date] using the same email address as your WebFiling account</li>
      </ul>

      <h2 class="govuk-heading-m">How to connect your accounts on or after [date]</h2>

      <p>When you try to sign in to WebFiling after [date], you'll be redirected to connect your account with GOV.UK One Login. </p>
 
      <p class="govuk-body">If you:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>have a GOV.UK One Login, you'll be able to sign in and connect your accounts</li>
        <li>do not have a GOV.UK One Login, you'll be prompted to create one </li>
        <li>have a Companies House account for Find and update company information, you'll be able to connect both accounts at the same time</li>
      </ul>

      <h2 class="govuk-heading-m">Benefits of GOV.UK One Login </h2>

      <p class="govuk-body">GOV.UK One Login provides:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>access to multiple government services with one set of sign in details </li>
  <li>enhanced security with two-factor authentication</li>
  <li>simpler password management across government services</li>
  <li>new features like saving companies and delegating authority to file online</li>
  <li>faster identity verification across government services</li>
</ul>

<p>Under the <a href="https://changestoukcompanylaw.campaign.gov.uk/" class="govuk-link">Economic Crime and Corporate Transparency Act</a>, anyone setting up, running, owning or controlling a company in the UK will need to verify their identity to prove they are who they claim to be.</p>

<p>When we introduce this requirement, users will be able to use GOV.UK One Login to verify their identity directly with Companies House. </p>

<p><a href="https://public.govdelivery.com/accounts/UKCH/subscriber/new" class="govuk-link">Sign up for our newsletters</a> to stay up to date with our services. </p>

{% endblock %}
