{% extends "layouts/layout.html" %}


{% set serviceName %}
  
{% endset%}

{% block pageTitle %}
  Sign in to WebFiling
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    
    <h1 class="govuk-heading-l">
      WebFiling
      <span class="govuk-caption-xl">Version 2</span>
    </h1>
    


    {{ govukWarningText({
      text: "This prototype is being actively worked on - things might break or change very quickly",
      iconFallbackText: "Warning"
    }) }}


    <h2 class="govuk-heading-m">Prototype set up<strong class="govuk-tag govuk-tag--green">
      TBC
    </strong> </h2>
    


    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-list" href="prototype-set-up.html">Prototype set up / scenarios</a> <strong class="govuk-tag govuk-tag--green">
          TBC
        </strong>
      </li>

  </ul>

<h2 class="govuk-heading-m">Sign in to Webfiling introductory screens<strong class="govuk-tag govuk-tag--green">
  TBC
 </strong>  <strong class="govuk-tag govuk-tag--green">
TBC
 </strong></h2>
 <ul class="govuk-list govuk-list--bullet">
    <li>
      <a class="govuk-link" href="start-page.html">Sign in to Webfiling</a> <strong class="govuk-tag govuk-tag--green">
       TBC
      </strong>
    </li>
    <li>
      <a class="govuk-link" href="sign-in-interrupt.html">Sign in interrupt<strong class="govuk-tag govuk-tag--green">
      TBC</strong></a> 
    </li>
</ul>


  <h2 class="govuk-heading-m">One Login</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      <a class="govuk-link" href="one-login/create-or-sign-in.html">Create One login or sign-in</a> <strong class="govuk-tag govuk-tag--green">
        TBC
       </strong> 
    </li>
    <li>
      <a class="govuk-link" href="one-login/one-login-sign-in.html">One Login sign-in</a> <strong class="govuk-tag govuk-tag--green">
        TBC
       </strong> 
    </li> 
    <li>
      <a class="govuk-link" href="one-login/one-login-enter-password.html">One login password</a> <strong class="govuk-tag govuk-tag--green">
        TBC
       </strong> 
    </li> 
    <li>
      <a class="govuk-link" href="one-login/enter-code.html">One login code</a> <strong class="govuk-tag govuk-tag--green">
        TBC
       </strong> 
    </li>
    <li>
      <a class="govuk-link" href="one-login/create-enter-email.html">Create email for one login</a> <strong class="govuk-tag govuk-tag--green">
        TBC
       </strong> 
    </li>
    <li>
      <a class="govuk-link" href="one-login/create-check-your-email.html">One login security code</a> <strong class="govuk-tag govuk-tag--green">
        TBC
       </strong> 
    </li>
    <li>
      <a class="govuk-link" href="one-login/create-enter-password.html">One login password creation</a> <strong class="govuk-tag govuk-tag--green">
        TBC
       </strong> 
    </li>
    <li>
      <a class="govuk-link" href="one-login/create-choose-security-type.html">One login choose security type</a> <strong class="govuk-tag govuk-tag--green">
        TBC
       </strong> 
    </li>
    <li>
      <a class="govuk-link" href="one-login/create-set-up-auth-app.html">One login set up authenticator app</a> <strong class="govuk-tag govuk-tag--green">
        TBC
       </strong> 
    </li>
    <li>
      <a class="govuk-link" href="one-login/create-complete.html">One login creation confirmation</a> <strong class="govuk-tag govuk-tag--green">
        TBC
       </strong> 
    </li>
  </ul>

 <h2 class="govuk-heading-m">Connecting Companies House account</h2>

    <ul class="govuk-list govuk-list--bullet">
    <li>
      <a class="govuk-link" href="chs-interrupt.html">We need to connect your CH account - email recognised<strong class="govuk-tag govuk-tag--green">
        TBC
       </strong> </a> 
    </li>
    <li>
      <a class="govuk-link" href="link-to-existing-chs-account.html">Enter CHS account password</a>  <strong class="govuk-tag govuk-tag--green">
       TBC
      </strong>
    </li>
    <li>
      <a class="govuk-link" href="chs-account-linked.html"> CHS account connected to One login confirmation</a>  <strong class="govuk-tag govuk-tag--green">
       TBC
      </strong>
    </li>
  </ul>




  <h2 class="govuk-heading-m">Connecting Webfiling account to One login<strong class="govuk-tag govuk-tag--green">
    TBC
   </strong></h2> 
  <ul class="govuk-list govuk-list--bullet">
    <li>
      <a class="govuk-list" href="webfiling-interrupt.html">We need to connect your Webfiling - email recognised</a> 
    </li>

    <li>
      <a class="govuk-list" href="verify-email-address.html">Security code webfiling</a> 
    </li>

    <li>
      <a class="govuk-list" href="end-linking.html">Webfiling connected to One login confirmation</a> 
    </li>
</ul>


    <h2 class="govuk-heading-m" id="userRole">Webfiling screen <strong class="govuk-tag govuk-tag--green">
      TBC
     </strong></h2>
    <ul class="govuk-list govuk-list--bullet">
  
      <li>
        <a class="govuk-list" href="company-overview.html">Company overview</a>
      </li>
    </ul>
   
  
  
  
    <h2 class="govuk-heading-m"id="finalScreens">Other <strong class="govuk-tag govuk-tag--green">
      TBC
     </strong></h2>
     
  
  
  




    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">



  <h2 class="govuk-heading-m" id="userRole">Your Companies</h2>
  

  <h2 class="govuk-heading-m"id="finalScreens">Stop screens</h2>
  <h2 class="govuk-heading-m"id="finalScreens">Emails</h2>
    



  </div>
  

</div>


{% endblock %}
