
{% extends "layouts/webfiling.html" %}

{% block pageTitle %}
Request an authentication code – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<!-- 
##################################################################################################################

DEVS 
This HTML is completely unsuitable for use in production sites
This HTML is completely unsuitable for use in production sites
This HTML is completely unsuitable for use in production sites
This HTML is completely unsuitable for use in production sites
This HTML is completely unsuitable for use in production sites

##################################################################################################################
-->






{% block content %}
<form class="form" action="" method="post">

<div class="govuk-grid-row">


<div class="govuk-grid-column-one-quarter webfiling-menu">
{% include "/includes/webfiling-left-menu.html" %}
</div>


<div class="govuk-grid-column-two-thirds wfOverview">

  <button type="submit" class="govuk-button allForms" data-module="govuk-button">
  All forms
  </button>


  <h1 class="govuk-heading-xl">Request the authentication code</h1>
  <p class="govuk-body">When you select 'Request code', we'll post the authentication code to the company's registered office address. If the company does not have an existing authentication code, we'll generate a new one.</p>

  <h2 class="govuk-heading-l">Company details</h2>

  {{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-9',
    rows: [
    {
      key: {
        text: "Company name"
      },
      value: {
        text: "FLOWERS LIMITED"
      }
    },
      {
        key: {
          text: "Company number"
        },
        value: {
          text: "18882777"
        }
      },
      {
        key: {
          text: "Registered office address"
        },
        value: {
          html: "2nd Floor Red House<br>17 London Road<br>London<br>SA73 8PH"
        }
      }
    ]
  }) }}

  <p class="govuk-body"> <a href="company-number" class="govuk-link">Choose a different company</a></p>

  <br>

  {{ govukButton({
      text: "Request code",
      href:""
  }) }}




 </div>


  
  </div>
     </form>
{% endblock %}




