
{% extends "layouts/webfiling.html" %}

{% block pageTitle %}
Companies you file for – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<!-- 
##################################################################################################################

DEVS 
This HTML is completely unsuitable for use in production sites
This HTML is completely unsuitable for use in production sites
This HTML is completely unsuitable for use in production sites
This HTML is completely unsuitable for use in production sites
This HTML is completely unsuitable for use in production sites

##################################################################################################################
-->






{% block content %}
<form class="form" action="" method="post">

<div class="govuk-grid-row">


<div class="govuk-grid-column-one-quarter webfiling-menu">
{% include "/includes/webfiling-left-menu.html" %}
</div>


<div class="govuk-grid-column-three-quarters wfOverview">

  <button type="submit" class="govuk-button allForms" data-module="govuk-button">
  All forms
</button>




<p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold">Companies you file for</p>

<span class="warning"><span class="govuk-visually-hidden">Warning: </span>I am a warning, and check my HTML as you'll see a visually hidden bit of text.

You will need to enter the authentication code again in order to file for some of your companies. Alternatively, you can ask someone else who has added the authentication code and is digitally authorised for the company, to add you to the company.
</span>
<br> <!-- note the visually hidden class on WebFiling is just "hidden"-->
<span class="warning fullwidth"><span class="govuk-visually-hidden">Warning: </span>I am a full width warning, and check my HTML as you'll see a visually hidden bit of text.</span>
<br> <!-- note the visually hidden class on WebFiling is just "hidden"-->




<div class="govuk-form-group govuk-!-margin-top-4">
  <label class="govuk-label" for="event-name">
    <p class="govuk-body govuk-!-font-size-20 govuk-!-font-weight-bold">Search for a company</p>
    <p class="govuk-body">Enter the company number, or part of a company number. </strong></p>
  </label>
  <input class="govuk-input govuk-input--width-10" id="event-name" name="eventName" type="text">
  <button type="submit" class="govuk-button govuk-!-margin-left-2" data-module="govuk-button">
    Search
   </button>
   <a href="" class="govuk-link govuk-link--no-visited-state govuk-!-margin-left-2"> Clear  <span class="govuk-visually-hidden"></span> </a>
</div>



<table class="govuk-table">
<caption class="govuk-table__caption govuk-table__caption--s visuallyhidden"></caption>


  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Company name</th>
      <th scope="col" class="govuk-table__header">Company number</th>
      <th scope="col" class="govuk-table__header">Authorisation status</th>
      <th scope="col" class="govuk-table__header ">People digitally authorised
        to file online</th>
        <th scope="col" class="govuk-table__header ">Remove company</th>

    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">ANDROID TECHNOLOGY LTD<p class="govuk-body govuk-!-margin-top-2"><a href="" class="govuk-link--no-visited-state">Authentication code needed to file for this company </a></p> </th>
      <td class="govuk-table__cell">10866549</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">
        Not authorised 
       </strong>
      </a>
      </td>


      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell"><a href="https://find-update-company-info.herokuapp.com/v8-your-companies/remove-company" class="govuk-link govuk-link--no-visited-state"> Remove  <span class="govuk-visually-hidden">ANDROID TECHNOLOGY LTD</span> </a></td>

      
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">ENCOM VIDEO GAMES LIMITED

        <p class="govuk-body govuk-!-margin-top-2"><a href="" class="govuk-link--no-visited-state">File for this company </a></p>
      </th>
      <td class="govuk-table__cell">01234567</td>
      <td class="govuk-table__cell"> 
        <strong class="govuk-tag govuk-tag--blue">
          Active 
         </strong>
        </td>
      <td class="govuk-table__cell"><a href="https://find-update-company-info.herokuapp.com/v8-your-companies/manage-authorised-people" class="govuk-link govuk-link--no-visited-state"> View and manage  <span class="govuk-visually-hidden">ENCOM VIDEO GAMES LIMITED</span> </a></td>

      <td class="govuk-table__cell"><a href="https://find-update-company-info.herokuapp.com/v8-your-companies/remove-company" class="govuk-link govuk-link--no-visited-state"> Remove <span class="govuk-visually-hidden">ENCOM VIDEO GAMES LIMITED</span> </a></td>

    </tr>
   
    <!--BROWN AND SALTER LIMITED -->

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">BROWN AND SALTER LIMITED
        <p class="govuk-body govuk-!-margin-top-2"><a href="" class="govuk-link--no-visited-state">Authentication code needed to file for this company </a></p>
      </th>
      <td class="govuk-table__cell">08449801</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">
        Not authorised 
       </strong>  </td>

      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell"><a href="https://find-update-company-info.herokuapp.com/v8-your-companies/remove-company" class="govuk-link govuk-link--no-visited-state"> Remove <span class="govuk-visually-hidden">BROWN AND SALTER LIMITED</span> </a></td>

    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">CARNATION (UK) LIMITED
        <p class="govuk-body govuk-!-margin-top-2"><a href="" class="govuk-link--no-visited-state">Authentication code needed to file for this company</a></p>
      </th>
      <td class="govuk-table__cell">09433214</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">
        Not authorised 
       </strong> </td>


      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell"><a href="https://find-update-company-info.herokuapp.com/v8-your-companies/remove-company" class="govuk-link govuk-link--no-visited-state"> Remove <span class="govuk-visually-hidden">CARNATION (UK) LIMITED</span> </a></td>

    </tr>
    
   
  </tbody>
</table>


 </div>


  
  </div>
     </form>
{% endblock %}




