{% extends "layout.html" %}

{% block pageTitle %}
  Company incorporation email
{% endblock %}


{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Companies House email with new sign in link</h1>
        <p class="govuk-body">
          <a href="create-your-password" class="govuk-link">Sign in or create a new account </a> to file file for the company...
        </p>

        


        
      </div>
    </div>
  </main>
</div>



{% endblock %}
