{% extends "layout.html" %}


{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Email link expired - check your email</h1>
        <p class="govuk-body">
          The email link has expired. We've sent a link in an email to hannah.salt@example.com. This link will expire within 7 days.
        </p>
        <h2 class="govuk-heading-m">If you did not receive an email</h2>
        <p class="govuk-body">
          We can <a href="#" class="govuk-link">send the email again</a> if you did not get it.
        </p>
      </div>
    </div>
  </main>
</div>

{% endblock %}
