{% extends "layout.html" %}

{% block pageTitle %}
  Companies House account
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"sign-in"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">You have created a Companies House account</h1>

        {{ govukInsetText({
          text: "Your Companies House account has been created and hannah.salt@example.com has been verified. We've sent you a confirmation email."
        }) }}


      <h2 class="govuk-heading-m">Next steps</h2>
    <p class="govuk-body">Now you've created an account, you should add companies you want to update or file for online. You can also authorise people to file for a company.</p>

      {{ govukButton({
        text: "View your account",
        href:"user-account/home-no-companies"
      }) }}

    </div>
  </div>
{% endblock %}
