{% extends "layout.html" %}

{% block pageTitle %}
  Add a company to your account
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Link a company to your Companies House account</h1>

        {{ govukInsetText({
          text: "You can link more companies to your account later."
        }) }}


        {{ govukInput({
          label: {
            text: "Company number"
          },
          classes: "govuk-input--width-10",
          id: "width-10",
          name: "width-10"
        }) }}


        {{ govukDetails({
                summaryText: "Help with company number",
                html: "<p>Use the <a target='blank' href='https://beta.companieshouse.gov.uk/'>Companies House service</a> to find it.</p>"
            }) }}


        {{ govukButton({
          text: "Continue",
          href: "check-company-details"
        }) }}




  </div>
  </div>
{% endblock %}
