{% extends "layout.html" %}

{% block pageTitle %}
  Understanding your role within a company
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Enter Company XXX authentication code</h1>

        {{ govukInput({
          label: {
            text: ""
          },
          hint: {
                text: "Enter the 6 digit authentication code"
          },
          classes: "govuk-input--width-10",
          id: "authentication-code",
          name: "authentication-code"
        }) }}

        {{ govukDetails({
          summaryText: "Help with authentication code",
          text: "Details of what an authentication code does, where it is usually sent to and how to request a authentication code."
        }) }}

        {{ govukButton({
          text: "Continue",
          href:"company-role"
        }) }}







  </div>
  </div>
{% endblock %}