{% extends "layout-account-options.html" %}

{% block pageTitle %}
  Enter the company authentication code
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"check-company-details"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Enter the company authentication code</h1>

        {{ govukInput({
          label: {
            text: ""
          },
          hint: {
                text: "You need the authentication code to submit company information for FLOWERS LIMITED."
          },
          classes: "govuk-input--width-10",
          id: "authentication-code",
          name: "authentication-code"
        }) }}
        {{ govukDetails({
          summaryText: "Help with authentication code",
          html: "Read the <a href='' class='govuk-link'></a> <a href='#' class='govuk-link'>guidance about how to request an authentication code (opens in a new tab)</a>."
        }) }}

        {{ govukButton({
          text: "Continue",
          href:"company-role"
        }) }}
    </div>
  </div>
{% endblock %}
