{% extends "layout.html" %}

{% block pageTitle %}
  Enter the company authentication code
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"check-company-details"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

<div class="govuk-grid-row">


          <div class="govuk-grid-column-two-thirds">
            <form action="/authentication-code-v3" method="post">

              <span class='govuk-caption-xl'>FLOWERS LIMITED</span>
              <h1 class='govuk-heading-xl'> Enter the company authentication code</h1>

              {{ govukInput({
                label: {
                  html: " Authentication code",
                  isPageHeading: true
                },
                classes: "govuk-input--width-10",
                id: "authentication-code",
                name: "authentication-code"
              }) }}


<br>
              {{ govukButton({
                text: "Continue"
              }) }}

              {{ govukDetails({
                summaryText: "Help with authentication code",
                html: 'This is a 6 character code issued by us to each company. The code is used to authorise online filings. <br><br> <p class="govuk-body"><a href="../request-authorisation-to-file" class="govuk-link">I do not have the authentication code</a>.</p>'
              }) }}


            </form>
          </div>
        </div>

    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>





{% endblock %}
