{% extends "layout-account-options.html" %}

{% block pageTitle %}
  Enter the company authentication code
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"check-company-details"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/authentication-code-v2" method="post">

        <span class='govuk-caption-xl'>FLOWERS LIMITED</span>

        {% set yes %}
        {{ govukInput({
          id: "auth-code-yes",
          name: "auth-code-yes",
          type: "text",
          spellcheck: false,
          classes: "govuk-!-width-one-third",
          label: {
            text: "Authentication code"
          }
        }) }}
        {% endset -%}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "auth-code",
          name: "auth-code",
          fieldset: {
            legend: {
              text: "Do you have the authentication code for FLOWERS LIMITED?",
              isPageHeading: true,
               classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: yes
              }
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
    </div>
  </form>
  </div>
{% endblock %}
