{% extends "layout-account-options.html" %}

{% block pageTitle %}
  Enter the company authentication code
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"check-company-details"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/authentication-code-v2" method="post">

        <span class='govuk-caption-xl'>FLOWERS LIMITED</span>

        {% set yes %}
        {{ govukInput({
          id: "auth-code-yes",
          name: "auth-code-yes",
          type: "text",
          spellcheck: false,
          classes: "govuk-!-width-one-third",
          label: {
            text: "Authentication code"
          }
        }) }}
        {% endset -%}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "auth-code",
          name: "auth-code",
          fieldset: {
            legend: {
              text: "Do you have the authentication code for this company?",
              isPageHeading: true,
               classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: yes
              }
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        {% from "govuk/components/details/macro.njk" import govukDetails %}
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with authentication code
            </span>
          </summary>
          <div class="govuk-details__text">
            This is a 6 character code issued by us to each company. The code is currently used to authorise online filings. Once you have added a company to your account, you will no longer need the code to file online.<br><br>
            Read the <a href="https://www.gov.uk/guidance/company-authentication-codes-for-online-filing" class="govuk-link"> authentication code guidance (opens in a new tab)</a>, which includes how to request one.
          </div>
        </details>

        {{ govukButton({
          text: "Continue"
        }) }}
    </div>
  </form>
  </div>
{% endblock %}
