{% extends "layout.html" %}

{% block pageTitle %}
  Enter the company authentication code
{% endblock %}


{% block content %}

<div class="govuk-width-container">

<div class="govuk-grid-row">
    
    <div class="govuk-grid-row govuk-main-wrapper">

      <div class="govuk-grid-column-one-quarter">
        <nav aria-label="Account management">

          <ul class="account-menu">
            <li class="account-menu-item ">
              <a href="../user-account/home-version-2" class="account-menu-link govuk-link govuk-link--no-visited-state">Home</a>
              <span class="account-menu-link-description"> Overview of your account.</span>
            </li>
            <li class="account-menu-item account-menu__item--current">
              <a href="../user-account/home-no-companies-no-notification" class="account-menu-link govuk-link govuk-link--no-visited-state">Your companies</a>
              <span class="account-menu-link-description"> View and manage companies and people authorised to file on your behalf.</span>
            </li>
             <li class="account-menu-item">
              <a href="#" class="account-menu-link govuk-link govuk-link--no-visited-state">Your filings</a>
              <span class="account-menu-link-description"> Record of documents you have filed.</span>
            </li>
            <li class="account-menu-item">
              <a href="#" class="account-menu-link govuk-link govuk-link--no-visited-state">Companies you follow</a>
              <span class="account-menu-link-description"> View and manage companies you follow.</span>
            </li>
            <li class="account-menu-item account-menu__item">
              <a href="../user-account/manage-account" class="account-menu-link govuk-link govuk-link--no-visited-state">Manage your account</a>
              <span class="account-menu-link-description"> Make changes to your details and account settings. </span>
            </li>
          </ul>
        </nav>
      </div>

    
          <div class="govuk-grid-column-three-quarters">
            <form action="/authentication-code" method="post">

              {{ govukBackLink({
                text: "Back",
                href:"check-company-details"
              }) }}

              {{ govukInput({
                label: {
                  html: " <span class='govuk-caption-xl'>FLOWERS LIMITED</span>  <h1 class='govuk-heading-xl'> Enter the company Authentication code</h1>",
                  isPageHeading: true,
                  classes: "govuk-label--xl"
                },
                classes: "govuk-input--width-10",
                id: "authentication-code",
                name: "authentication-code"
              }) }}

              {{ govukDetails({
                summaryText: "Help with authentication code",
                html: 'This is a 6 character code issued by us to each company. The code is currently used to authorise online filings. Once you have added a company to your account, you will no longer need the code to file online.<br><br>
                  Read the <a href="https://www.gov.uk/guidance/company-authentication-codes-for-online-filing" target="_blank" class="govuk-link"> authentication code guidance (opens in a new tab)</a>, which includes how to request one.'
              }) }}

              {{ govukButton({
                text: "Continue"
              }) }}

              <p class="govuk-body"><a href="company-added-authorisation-sent" class="govuk-link">Request authorisation to file for this company</a></p>
            </form>
          </div>
        </div>

    </div>
</div>
        
   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">



{% endblock %}

