{% extends "layout.html" %}

{% block pageTitle %}
  Enter the company authentication code
{% endblock %}


{% block content %}

<div class="govuk-width-container">


<div class="govuk-grid-row">

    <div class="govuk-grid-row govuk-main-wrapper">

      <div class="govuk-grid-column-one-quarter">

        <nav aria-label="Account management">

          <ul class="account-menu">
            <li class="account-menu-item ">
              <a href="../user-account/home-no-companies" class="account-menu-link govuk-link govuk-link--no-visited-state">Home</a>
              <span class="account-menu-link-description"> Overview of your account.</span>
            </li>
            <li class="account-menu-item account-menu__item--current">
              <a href="../user-account/home-no-companies-no-notification" class="account-menu-link govuk-link govuk-link--no-visited-state">Your companies</a>
              <span class="account-menu-link-description"> View and manage companies and people authorised to file on your behalf.</span>
            </li>
             <li class="account-menu-item">
              <a href="#" class="account-menu-link govuk-link govuk-link--no-visited-state">Your filings</a>
              <span class="account-menu-link-description"> Record of documents you have filed.</span>
            </li>
            <li class="account-menu-item">
              <a href="#" class="account-menu-link govuk-link govuk-link--no-visited-state">Companies you follow</a>
              <span class="account-menu-link-description"> View and manage companies you follow.</span>
            </li>
            <li class="account-menu-item account-menu__item">
              <a href="../user-account/manage-account" class="account-menu-link govuk-link govuk-link--no-visited-state">Manage your account</a>
              <span class="account-menu-link-description"> Make changes to your details and account settings. </span>
            </li>
          </ul>
        </nav>
      </div>


      <div class="govuk-grid-column-two-thirds">
      <form action="/check-company-details" method="post" novalidate>

        {{ govukBackLink({
          text: "Back",
          href:"add-a-company"
        }) }}

      <h1 class="govuk-heading-xl">Confirm this is the correct company</h1>

      <h2 class="govuk-heading-l">FLOWERS LIMITED</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Company number"
            },
            value: {
              text: "18882777"
            }
          },
          {
            key: {
              text: "Status"
            },
            value: {
              text: "Active"
            }
          },
          {
            key: {
              text: "Incorporation date"
            },
            value: {
              text: "11 December 2006"
            }
          },
          {
            key: {
              text: "Company type"
            },
            value: {
              text: "Private Limited Company"
            }
          },
          {
            key: {
              text: "Registered office address"
            },
            value: {
              html: "2nd Floor Red House<br>17 London Road<br>London<br>SA73 8PH"
            }
          }
        ]
      }) }}



      {{ govukButton({
          text: "Confirm and continue"
      }) }}

      <p class="govuk-body"> <a href="add-a-company" class="govuk-link">Choose a different company</a></p>

    </form>
  </div>

  </div>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">



{% endblock %}
