{% extends "layout.html" %}

{% block pageTitle %}
  Verify your email address
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"verify-choice"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Verify your email address</h1>

        <p class='govuk-body'>We've sent an email to <span class='govuk-body govuk-!-font-weight-bold'> hannah.salt@example.com</span> which contains a verification link.</p>

        <ol class="govuk-list govuk-list--number">
          <li>Open the email.</li>
          <li>Select the verification link in the email.</li>
        </ol>

        {{ govukInsetText({
          text: "The verification link will expire if you do not verify your email address within 7 days."
        }) }}

        <p class="govuk-body govuk-!-font-weight-bold">This page will update automatically when you select the link.</p>


        {{ govukDetails({
          summaryText: "I have not received an email",
          html: "The email may take a few minutes to arrive. Its subject line is 'Verify your email address - Companies House'. </br> </br> Check your junk folder. If it still has not arrived, you can <a href='' class='govuk-link'>ask us to send you another email</a></a>. </br></br> If you have given us the wrong email address you can <a href='../user-account/home-no-companies' class='govuk-link'>give us a different email address</a>."
        }) }}

  </div>
  </div>
{% endblock %}
