{% extends "layout/layout-signin.html" %}

{% block pageTitle %}
  Send a new verification link - Companies House WebFiling account - GOV.UK
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"enter-your-name"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Send a new email</h1>

         <p class='govuk-body'>We'll send another email to <strong>hannah.salt@example.com</strong> which contains a verification link.</p>

        {{ govukButton({
          text: "Send email",
          href:"check-your-email-resent-notification"
        }) }}


  </div>
  </div>
{% endblock %}
