{% extends "layout/layout-signin.html" %}

{% block pageTitle %}
  Check your phone - Companies House WebFiling account - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"verify-choice"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <form action="/check-your-phone" method="post" novalidate>


    <h1 class="govuk-heading-xl">Send new security code</h1>

    <p class="govuk-body">Text messages may take a few minutes to arrive. If you do not receive the text message, you can ask for a new one.</p>


    {{ govukButton({
      text: "Send a new security code",
      href:"check-your-phone-resent-notification"
    }) }}

      

  </form>
</div>
</div>
{% endblock %}
