{% extends "layout.html" %}

{% block pageTitle %}
  Activate your Companies House account
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Check your phone</h1>
        <p class="govuk-body">We've sent you a text message with a security code.</p>

        {{ govukInput({
          label: {
            text: "Text message code"
          },
          classes: "govuk-input--width-10",
          id: "width-10",
          name: "width-10"
        }) }}

        {{ govukButton({
          text: "Continue",
          href:"create-your-password"
        }) }}

        {{ govukDetails({
          summaryText: "Not recieved a text message?",
          html: "Text messages sometimes take a few minutes to arrive. </br> </br> If you did not recieve the text, <a href='' class='govuk-link'>you can resend it</a>. </br></br> If you have provided the wrong mobile number <a href='#' class='govuk-link'>you can provide another mobile number</a>."
        }) }}



  </div>
  </div>
{% endblock %}