{% extends "layout.html" %}

{% block pageTitle %}
  Verify your mobile number
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"verify-choice"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Verify your mobile number</h1>
        <p class="govuk-body">We've sent a text message to 07769 321 456 that contains a security code.</p>

        {{ govukInput({
          label: {
            text: "Security code"
          },
          classes: "govuk-input--width-10",
          id: "width-10",
          name: "width-10"
        }) }}

        {{ govukButton({
          text: "Continue",
          href:"create-your-password"
        }) }}

        {{ govukDetails({
          summaryText: "I have not received a text message",
          html: "The text message may take a few minutes to arrive.</br> </br> If it does not arrive, you can <a href='' class='govuk-link'>ask us to send you another text message</a>. </br></br> If you have given us the wrong number <a href='#' class='govuk-link'>you can give us a different mobile number</a>."
        }) }}



  </div>
  </div>
{% endblock %}
