{% extends "layout-account-options.html" %}

{% block pageTitle %}
  Confirm company details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"add-a-company"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">Confirm this is the correct company</h1>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Company name",
              classes: 'govuk-!-width-one-half'
            },
            value: {
              text: "FLOWERS LIMITED",
              classes: 'govuk-!-width-one-half'
            }
          },
          {
            key: {
              text: "Company number"
            },
            value: {
              text: "18882777"
            }
          },
          {
            key: {
              text: "Status"
            },
            value: {
              text: "Active"
            }
          },
          {
            key: {
              text: "Incorporation date"
            },
            value: {
              text: "11 December 2006"
            }
          },
          {
            key: {
              text: "Company type"
            },
            value: {
              text: "Private Limited Company"
            }
          },
          {
            key: {
              text: "Registered office address"
            },
            value: {
              html: "2nd Floor Red House<br>17 London Road<br>London<br>SA73 8PH"
            }
          }
        ]
      }) }}

      <p class="govuk-body"> <a href="add-a-company" class="govuk-link">Change company</a></p>

      {{ govukButton({
          text: "Confirm and continue",
          href: "authentication-code"
      }) }}


    </div>
  </div>
{% endblock %}
