

{% extends "layout/layout-signin.html" %}

{% block pageTitle %}
  Check your details - Companies House WebFiling account - GOV.UK
{% endblock %}

{% block header %}
    {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigation: [
    {
      href: "sign-in",
      text: "Sign in"
    }
  ]
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"start-page"
  }) }}
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/create-an-account" method="post" novalidate>



      <h1 class="govuk-heading-xl">Check your details</h1>


      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Full name"
            },
            value: {
              text: "Sarah Philips"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "full name"
                }
              ]
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: "sphilips@example.com"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "email address"
                }
              ]
            }
          },
          {
            key: {
              text: "Mobile number"
            },
            value: {
              html: "01234567890"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "mobile number"
                }
              ]
            }
          }
        ]
      }) }}

        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
  </div>
  </div>
{% endblock %}
