{% extends "layout/layout-signin.html" %}

{% block pageTitle %}
  Verify your mobile number
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"verify-choice"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <form action="/check-your-phone" method="post" novalidate>


    <h1 class="govuk-heading-xl">Check your phone</h1>

    <p class="govuk-body">We've sent a text message with a security code to <span class="govuk-body govuk-!-font-weight-bold"> XXXXXXX3456</span>.</p>

    <p class="govuk-body"> It may take a few minutes to arrive.</p>

        {{ govukInput({
          label: {
            text: "Security code"
          },
          classes: "govuk-input--width-10",
          id: "width-7",
          name: "width-7"
        }) }}

        {{ govukDetails({
          summaryText: "I have not received a text message",
          html: "If the text message does not arrive after a few minutes, you can <a href='' class='govuk-link'>ask us to send you another text message</a>."
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

        <p> <a href="forgotten-password/reset-password-check-email" class="govuk-link">Send email with a link to reset my password instead</a></p>

        

  </form>
</div>
</div>
{% endblock %}
