{% extends "layout.html" %}

{% block pageTitle %}
  Companies House account
{% endblock %}


{% block content %}

<div class="govuk-width-container">
<div class="govuk-grid-row">

  {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

  {% set html %}
    <p class="govuk-notification-banner__heading">

      <p class="govuk-notification-banner__heading">
          Authorisation request sent
        </p>
        <p class="govuk-body">We have sent an email to the person who added this company to their account using the authentication code. They will confirm whether you are authorised to file for FLOWERS LIMITED.</p>



    </p>
  {% endset %}
  </div>

  {{ govukNotificationBanner({
    html: html,
    type: 'success'
  }) }}

    <div class="govuk-grid-row govuk-main-wrapper">

      <div class="govuk-grid-column-one-quarter">
        <nav aria-label="Account management">

          <ul class="account-menu">
            <li class="account-menu-item ">
              <a href="../user-account/home-version-2" class="account-menu-link govuk-link govuk-link--no-visited-state">Home</a>
              <span class="account-menu-link-description"> Overview of your account.</span>
            </li>
            <li class="account-menu-item account-menu__item--current">
              <a href="../user-account/home-no-companies-no-notification" class="account-menu-link govuk-link govuk-link--no-visited-state">Your companies</a>
              <span class="account-menu-link-description"> View and manage companies and people authorised to file on behalf of the companies on your account.</span> 
            </li>
             <li class="account-menu-item">
              <a href="#" class="account-menu-link govuk-link govuk-link--no-visited-state">Your filings</a>
              <span class="account-menu-link-description"> Record of documents you have filed.</span> 
            </li>
            <li class="account-menu-item">
              <a href="#" class="account-menu-link govuk-link govuk-link--no-visited-state">Companies you follow</a>
              <span class="account-menu-link-description"> View and manage companies you follow.</span>
            </li>
            <li class="account-menu-item account-menu__item">
              <a href="../user-account/manage-account" class="account-menu-link govuk-link govuk-link--no-visited-state">Manage your account</a>
              <span class="account-menu-link-description"> Make changes to your details and account settings </span>
            </li>
          </ul>
        </nav>
      </div>


        <div class="govuk-grid-column-three-quarters">


          <h1 class="govuk-heading-l">Your companies</h1>

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          <div style="background-color:#f3f2f1; padding: 2em;">

             <h2 class="govuk-heading-m">FLOWERS LIMITED <strong class="govuk-tag govuk-tag--blue">AUTHORISATION PENDING</strong> </h2>

            <p class="govuk-body govuk-!-font-weight-bold">
                <span class="govuk-body ">Company number</span><br>
           </span>18882777</p>

              <p class="govuk-body govuk-!-font-weight-bold">
                  <span class="govuk-body ">Correspondence address</span><br>
             </span> 2nd Floor Red House, 17 London Road, London, SA73 8PH </p>

             </div>


             <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            {{ govukButton({
                  text: "Add a company",
                  href:"../add-a-company"
            }) }}


        </div>
    </div>

   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

</div>
</div>


{% endblock %}
