{% extends "layout/layout-account-signout-your-companies.html" %}

{% block pageTitle %}
  Companies House account
{% endblock %}


{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
   <div class="govuk-grid-column-full">

  {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

  {% set html %}
    <p class="govuk-notification-banner__heading">

      <p class="govuk-notification-banner__heading">
          We've sent an email request to the person or people already authorised to file for FLOWERS LIMITED. <a href="#" class="govuk-link">View request</a>.</p>

    </p>
  {% endset %}


  {{ govukNotificationBanner({
    html: html,
    type: 'success'
  }) }}

          <h1 class="govuk-heading-l">Your companies <span class="govuk-caption-m" style = "padding-top:0.5em;">View and manage companies and people authorised to file on behalf of a company</span></h1>

          {{ govukButton({
            text: "Add a company",
            href:"../add-a-company"
          }) }}

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          <div style=" border-color: #b1b4b6; border-style: solid; border-width: 1px; padding: 2em;">

             <h2 class="govuk-heading-m">FLOWERS LIMITED <strong class="govuk-tag govuk-tag--blue">AUTHORISATION PENDING</strong> </h2>

            <p class="govuk-body govuk-!-font-weight-bold">
                <span class="govuk-body ">Company number</span><br>
           </span>18882777</p>

              <p class="govuk-body govuk-!-font-weight-bold">
                  <span class="govuk-body ">Correspondence address</span><br>
             </span> 2nd Floor Red House, 17 London Road, London, SA73 8PH </p>

             </div>



   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

</div>
</div>


{% endblock %}
