{% extends "layout-account-options.html" %}

{% block pageTitle %}
  Companies House account
{% endblock %}


{% block content %}

<span class="govuk-caption-xl" >Home</span>
<h1 class="govuk-heading-l">Hannah Salt</h1>

<h2 class="govuk-heading-s" id = "notification-banner-title" style="margin-top: 1em; border:5px; border-style:solid; border-color:#00703c; padding: 1em;">A request has been sent to confirm you are an authorised person to file for FLOWERS LIMITED.</h2>

<h1 class="govuk-heading-m">Your companies</h1>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div style="background-color:#f3f2f1; padding: 1em;"> 

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
     <h2 class="govuk-heading-m">FLOWERS LIMITED <strong class="govuk-tag govuk-tag--blue"> Pending - email sent </strong> </h2>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          <p class="govuk-body govuk-!-font-weight-bold">
              <span class="govuk-body ">Company number</span><br>
         </span>18882777</p>

            <p class="govuk-body govuk-!-font-weight-bold">
                <span class="govuk-body ">Correspondence address</span><br>
           </span> 2nd Floor Red House, 17 London Road, London, SA73 8PH </p>

    </div>
    <div class="govuk-grid-column-one-third">
        

    </div>
  </div>
</div>

   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    {{ govukButton({
      text: "Add another company",
      href:"../../add-a-company"
    }) }}
</div>

{% endblock %}
