

{% extends "layout-not-signed-in.html" %}

{% block pageTitle %}
  Create a Companies House account
{% endblock %}

{% block header %}
    {{ govukHeader({ serviceName: "Companies House account" }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"start-page"
  }) }}
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/create-an-account" method="post" novalidate>

        {% if errorEmail == true or errorFullName  == true %}

          {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: errorList
          }) }}

        {% endif %}

        <h1 class="govuk-heading-xl">Create a Companies House account</h1>



        {% if errorEmail  == true %}
        {{ govukInput({
          label: {
            text: "Email address"
          },
          hint: {
            text: "We'll send a link to this email address to verify it belongs to you and make your account more secure."
          },
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          errorMessage: {
            text: "Enter your email address"
          },
          spellcheck: false
        }) }}
        {% else %}

        {{ govukInput({
          label: {
            text: "Email address"
          },
          hint: {
            text: "We'll send a link to this email address to verify it belongs to you and make your account more secure."
          },
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          spellcheck: false
        }) }}
        {% endif %}


        {{ govukButton({
            text: "Continue"
        }) }}

        <p class="govuk-body">If you already have an account, you can <a href="sign-in" class="govuk-link">sign in</a>.</p>

      </form>
  </div>
  </div>
{% endblock %}
