{% extends "layout.html" %}

{% block pageTitle %}
  Create a Companies House account
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"start-now"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/create-an-account" method="post" novalidate>

        {% if errorEmail == true or errorPassword == true or errorConfirmPassword  == true %}

          {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: errorList
          }) }}

        {% endif %}

        <h1 class="govuk-heading-xl">What are your details?</h1>
        {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
<p class="govuk-body">You will need to verify the email address you provide to make your account more secure.</p>
        {{ govukInsetText({
          text: "For your security, we may ask you to verify your email address again when you sign back in to your Companies House account."
        }) }}

        {% if errorEmail  == true %}
        {{ govukInput({
          label: {
            text: "Email address"
          },
          hint: {
            text: "We will send a link to this email address to confirm it belongs to you."
          },
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          errorMessage: {
            text: "Enter your email address"
          },
          spellcheck: false
        }) }}
        {% else %}

        {{ govukInput({
          label: {
            text: "Email address"
          },
          hint: {
            text: "We will send a link to this email address to confirm it belongs to you."
          },
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          spellcheck: false
        }) }}
        {% endif %}

         {% if errorPassword  == true %}

          {{ govukInput({
            label: {
            text: "Enter password"
          },
          hint:{
            text:"This must be at least 8 characters long"
          },
          suffix: {
            html: "<a href='#' class='govuk-link' style = 'padding: 1em'>Show</a>"
          },
          errorMessage: {
              text: "Enter your password"
          },
          id: "password",
          name: "password",
          type: "password"
          }) }}

        {% else %}

          {{ govukInput({
            label: {
            text: "Enter a password"
          },
          hint:{
            text:"This must be at least 8 characters long and hard to guess."
          },
          suffix: {
            html: "<a href='#' class='govuk-link' style = 'padding: 1em'>Show</a>"
          },
          id: "password",
          name: "password",
          type: "password"
          }) }}

        {% endif %}

        {% if errorConfirmPassword  == true %}

          {{ govukInput({
            label: {
            text: "Re-enter password"
          },
          suffix: {
            html: "<a href='#' class='govuk-link' style = 'padding: 1em'>Show</a>"
          },
          errorMessage: {
              text: "Re-enter your password"
          },
          id: "confirm-password",
          name: "confirm-password",
          type: "password"
          }) }}

        {% else %}

          {{ govukInput({
            label: {
            text: "Re-enter password"
          },
          suffix: {
            html: "<a href='#' class='govuk-link' style = 'padding: 1em'>Show</a>"
          },
          id: "confirm-password",
          name: "confirm-password",
          type: "password"
          }) }}

        {% endif %}

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with creating your password
            </span>
          </summary>
          <div class="govuk-details__text">
            You can use numbers, symbols and spaces.
            <br><br>
          A good way to create a secure and memorable password is to use 3 random words.
          </div>
        </details>


        {{ govukButton({
            text: "Continue"
        }) }}

        <p class="govuk-body">If you already have an account, you can <a href="sign-in" class="govuk-link">sign in</a>.</p>

      </form>
  </div>
  </div>
{% endblock %}
