{% extends "layout.html" %}

{% block pageTitle %}
  Create a password
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"verify-choice"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/create-your-password" method="post" novalidate>

        {% if errorPassword  == true or errorPassword == true %}

          {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: errorList
          }) }}

        {% endif %}

        <h1 class="govuk-heading-xl">Create a password for your Companies House account</h1>


        {{ govukInsetText({
           html: "<p class='govuk-body'>Create a password for <span class='govuk-body govuk-!-font-weight-bold'>hannah.salt@example.com</span></p> "
        }) }}

        {% if errorPassword  == true %}

          {{ govukInput({
            label: {
            text: "Enter password"
          },
          hint:{
            text:"This must be at least 8 characters long"
          },
          suffix: {
            html: "<a href='#' class='govuk-link' style = 'padding: 1em'>Show</a>"
          },
          errorMessage: {
              text: "Enter your password"
          },
          id: "password",
          name: "password",
          type: "password"
          }) }}

        {% else %}

          {{ govukInput({
            label: {
            text: "Enter a password"
          },
          hint:{
            text:"This must be at least 8 characters long and hard to guess."
          },
          suffix: {
            html: "<a href='#' class='govuk-link' style = 'padding: 1em'>Show</a>"
          },
          id: "password",
          name: "password",
          type: "password"
          }) }}

        {% endif %}

        {% if errorConfirmPassword  == true %}

          {{ govukInput({
            label: {
            text: "Re-enter password"
          },
          errorMessage: {
              text: "Re-enter your password"
          },
          suffix: {
            html: "<a href='#' class='govuk-link' style = 'padding: 1em'>Show</a>"
          },
          id: "confirm-password",
          name: "confirm-password",
          type: "password"
          }) }}

        {% else %}

          {{ govukInput({
            label: {
            text: "Re-enter password"
          },
          suffix: {
            html: "<a href='#' class='govuk-link' style = 'padding: 1em'>Show</a>"
          },
          id: "confirm-password",
          name: "confirm-password",
          type: "password"
          }) }}

        {% endif %}
        {{ govukDetails({
          summaryText: "How to create a secure password",
          text: "..... "
        }) }}

        {{ govukButton({
                  text: "Create and continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
