

{% extends "layout/layout-signin.html" %}

{% block pageTitle %}
  Create a Companies House account
{% endblock %}

{% block header %}
    {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigation: [
    {
      href: "sign-in",
      text: "Sign in"
    }
  ]
  }) }} 
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"start-page"
  }) }}
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/create-an-account" method="post" novalidate>

        <h1 class="govuk-heading-xl">Create a Companies House account</h1>

        {% if errorFullName == true or errorEmail == true %}

          {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: errorList
          }) }}

        {% endif %}
       

        {{ govukInput({
          label: {
            text: "Full name"
          },
          hint: {
              text:"This is the name that will be displayed in your account."
          },
          id: "full-name",
          name: "full-name",
          autocomplete: "name",
          spellcheck: false
        }) }}

        {% if errorEmail  == true %}
        {{ govukInput({
          label: {
            text: "What is your email address?"
          },
          hint: {
            text: "We'll send a link to this email address to verify it belongs to you and make your account more secure."
          },
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          errorMessage: {
            text: "Enter your email address"
          },
          spellcheck: false
        }) }}
        {% else %}

        {{ govukInput({
          label: {
            text: "Email address"
          },
          hint: {
            text: "We'll send a link to this email address to verify it belongs to you and make your account more secure."
          },
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          spellcheck: false
        }) }}
        {% endif %}

        {{ govukInput({
            label: {
              text: "Mobile number"
            },
            hint: {
              text: "We'll send you a security code by text message."
            },
            id: "telephone-number",
            name: "telephone-number",
            type: "tel",
            autocomplete: "tel",
            classes: "govuk-input--width-20"
          }) }}


        {{ govukButton({
            text: "Continue"
        }) }}

        <p class="govuk-body">If you already have an account, you can <a href="sign-in" class="govuk-link">sign in</a>.</p>

      </form>
  </div>
  </div>
{% endblock %}
