

{% extends "layout/layout-no-sign-in.html" %}

{% block pageTitle %}
  Create a Companies House account
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"start-page"
  }) }}
{% endblock %}



{% block content %}



<script>
  function showPassword() {
  var x = document.getElementById("password");
  var y = document.getElementById("show-hide");
  if (x.type === "password") {
    x.type = "text";
    y.text = 'Hide'
  } else {
    x.type = "password";
    y.text = 'Show'
  }
}

  function showConfirmPassword() {
  var x = document.getElementById("confirm-password");
  var y = document.getElementById("show-hide-confirm");
  if (x.type === "password") {
    x.type = "text";
    y.text = 'Hide'
  } else {
    x.type = "password";
    y.text = 'Show'
  }
}
</script>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/create-your-password" method="post" novalidate>


        {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

        {% set html %}
          <h3 class="govuk-notification-banner__heading">
            Email address verified
          </h3>
          <p class="govuk-body">You have sucessfully verified the email address <span class='govuk-body govuk-!-font-weight-bold'>hannah.salt@example.com</span> </p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}

        {% if errorEmail == true or errorPassword == true or errorConfirmPassword  == true %}

          {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: errorList
          }) }}

        {% endif %}

        <h1 class="govuk-heading-xl">Create a password</h1>


         {% if errorPassword  == true %}

          {{ govukInput({
            label: {
            text: "Create a password"
          },
          hint:{
            text:"This must be at least 8 characters long"
          },
          suffix: {
            html: "<a id='show-hide' href='javascript:showPassword();' class='govuk-link' style = 'padding: 1em'>Show</a>"
          },
          errorMessage: {
              text: "Create a password"
          },
          id: "password",
          name: "password",
          type: "password"
          }) }}

        {% else %}

          {{ govukInput({
            label: {
            text: "Enter password"
          },
          hint:{
            text:"This must be at least 8 characters long and hard to guess."
          },
          suffix: {
            html: "<a id='show-hide' href='javascript:showPassword();' class='govuk-link' style = 'padding: 1em'>Show</a>"
          },
          id: "password",
          name: "password",
          type: "password"
          }) }}

        {% endif %}

        {% if errorConfirmPassword  == true %}

          {{ govukInput({
            label: {
            text: "Re-enter password"
          },
          suffix: {
            html: "<a id='show-hide-confirm' href='javascript:showConfirmPassword();' class='govuk-link' style = 'padding: 1em'>Show</a>"
          },
          errorMessage: {
              text: "Re-enter your password"
          },
          id: "confirm-password",
          name: "confirm-password",
          type: "password"
          }) }}

        {% else %}

          {{ govukInput({
            label: {
            text: "Re-enter password"
          },
          suffix: {
            html: "<a id='show-hide-confirm' href='javascript:showConfirmPassword();' class='govuk-link' style = 'padding: 1em'>Show</a>"
          },
          id: "confirm-password",
          name: "confirm-password",
          type: "password"
          }) }}

        {% endif %}

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with creating a password
            </span>
          </summary>
          <div class="govuk-details__text">
            You can use numbers, symbols and spaces.
            <br><br>
          A good way to create a secure and memorable password is to use 3 random words.
          </div>
        </details>


        {{ govukButton({
            text: "Continue"
        }) }}


      </form>
  </div>
  </div>
{% endblock %}
