{% extends "layout.html" %}

{% block pageTitle %}
  Companies House account
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Your Companies House account has been updated</h1>


      {{ govukInsetText({
        text: "FLOWERS LIMITED is now linked to your account."
      }) }}

      <p class="govuk-body"></p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">An email has been sent to JILL EDWARDS.</p>
      <p class="govuk-body">When JILL EDWARDS has verified their email address, they can file for this company.</p>
      <p class="govuk-body">You can make changes to who is authorised to file for this company in your account.</p>

      {{ govukButton({
        text: "View your account",
        href:"user-account/home"
      }) }}


    </div>
  </div>
{% endblock %}
