{% extends "layout.html" %}

{% block pageTitle %}
  Contact details for account
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">What are your details?</h1>
        <p class="govuk-body">We'll use this information to verify who you are.</p>

        {{ govukInsetText({
          text: "For your security, we might ask you to verify who you are again by text message or email when you sign in to your Companies House account in the future."
        }) }}

        {{ govukInput({
          label: {
            text: "Full name"
          },
          id: "full-name",
          name: "full-name",
          autocomplete: "name",
          spellcheck: false
        }) }}


        {{ govukInput({
          label: {
            text: "Email address"
          },
          hint:{

            text:"We'll send you a verification link by email"

          },
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          spellcheck: false
        }) }}


        {{ govukInput({
          label: {
            text: "Mobile number"
          },
          hint:{

            text:"We'll send you a security code by text message"

          },
          id: "telephone-number",
          name: "telephone-number",
          type: "tel",
          autocomplete: "tel"
        }) }}

        {{ govukButton({
                  text: "Continue",
                  href:"check-your-email"
        }) }}
  </div>
  </div>
{% endblock %}
