{% extends "layout.html" %}

{% block pageTitle %}
  What are your contact details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"start-now"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">What are your details?</h1>
        <p class="govuk-body">We will send you an email that contains a verification link. This will verify that you have access to the email address you give us and will make your account more secure.</p>

        {{ govukInsetText({
          text: "For your security, we may ask you to verify your details again when you sign back in to your Companies House account."
        }) }}

{{ govukInput({
  label: {
    text: "Full name"
  },
  hint: {
    text: "This is the name that will be displayed in your account."
  },
  id: "email",
  name: "email",
  type: "email",
  autocomplete: "email",
  spellcheck: false
}) }}


        {{ govukInput({
          label: {
            text: "Email address"
          },

          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          spellcheck: false
        }) }}

        {{ govukButton({
                  text: "Continue",
                  href:"check-your-email"
        }) }}
  </div>
  </div>
{% endblock %}
