{% extends "layout.html" %}
{% block pageTitle %}
  Sign in to Companies House
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <h1 class="govuk-heading-l">Companies House account</h1>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <h1 class="govuk-heading-m">First 'FLOWERS LIMITED' user - has their authentication code</h1>

        <p class="govuk-body"> The user can add 'FLOWERS LIMITED' to their account.</p>
        
        <h1 class="govuk-heading-m">First 'FLOWERS LIMITED' user - does not have their authentication code</h1>

        <p class="govuk-body"> Request that the authentiction code is sent to the registed office address.</p>

        {{ govukButton({
          text: "First account user for 'FLOWERS LIMITED'",
          classes: "govuk-button--secondary",
          href:"start-page-s1-s2"
        }) }}

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


        <h1 class="govuk-heading-m">Second 'FLOWERS LIMITED' user - does not have the authentication code</h1>

        <p class="govuk-body">Requests authorisation</p>

     
        {{ govukButton({
          text: "Second account user for 'FLOWERS LIMITED'",
          classes: "govuk-button--secondary",
          href: "start-page-s3"
        }) }}

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

         <h1 class="govuk-heading-m">Scenario Four - Request for an authorised person to file for a company</h1>

        <p class="govuk-body">A 'director/PSC/Authorised person' has been added as an authorised person for a company. The request needs to be confirmed.</p>

        {{ govukButton({
          text: "Scenario Four",
          classes: "govuk-button--secondary",
          href: "/messages/email-confirm-you-are-the-presenter"
        }) }}


        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


        <h2 class="govuk-heading-m">All users - Email</h2> 

        <ul class="govuk-list">
          <li>
            <a class="govuk-link" target="_blank"  href="/messages/verify-email">Companies House account: verify your email address (opens in a new tab)</a>
          </li>
          <li>
            <a class="govuk-link" target="_blank" href="">IN PROGRESS - Account created confirmation (opens in a new tab)</a>
          </li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


        <h2 class="govuk-heading-m">All users - Setting up mobile - 2-step sign in </h2> 

        {{ govukButton({
          text: "Add your mobile number",
          classes: "govuk-button--secondary",
          href: "../add-mobile/manage-account"
        }) }}


        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


        <h1 class="govuk-heading-m">Scenario Five - Post Companies House Account</h1>

        <p class="govuk-body">New companies set up, post Companies House account, no authentication code required. An email will ask for the user to create an account, using the email address that was used for Incorporation, the company will automatically we added to their account.</p>

        {{ govukButton({
          text: "Scenario Five",
          classes: "govuk-button--secondary",
          href: "/messages/email-confirm-you-are-the-presenter"
        }) }}


        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <h2 class="govuk-heading-m">Webfiling and CHS</h2> 
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="#">Webfiling</a>
          </li>
          <li>
            <a class="govuk-link" href="#">CHS</a>
          </li>
        </ul>





    </div>
  </div>
{% endblock %}
