
{% extends "layout.html" %}

{% block pageTitle %}
  Create a Companies House account
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Create a Companies House account</span>
        <h1 class="govuk-heading-xl">Alpha prototypes & Research</h1>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <h2 class="govuk-heading-l">Version 1</h2>

        <p class="govuk-body">Outline of the users, in particluar a company directors journey based on <a href="https://companieshouse.atlassian.net/l/c/84aJBzX2" class="govuk-link"> the user journey workshop.</a></p>

        

        <h3 class="govuk-heading-m">Prototype</h3>

        <ul class="govuk-list govuk-list--bullet">
          <li>Director journey (not an existing user)</li>
          <li>A director can link one company to their account and has the option to a presenter</li>
          <li>The director can then explore their user account and options.</li>
        </ul>

        <p class="govuk-body"> <a href="https://ch-account-prototype-dev.herokuapp.com/start-page" class="govuk-link"> Prototype version 1</a> </p>

        <p class="govuk-body"> <a href="https://ch-account-prototype-dev.herokuapp.com/shortcuts" class="govuk-link"> All service shortcuts</a> </p>

        <h3 class="govuk-heading-m">Email and text messages (In progress)</h3>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="messages/verify-email" class="govuk-link">Email verification link</a></li>
          <li><a href="messages/verify-text-message" class="govuk-link">Mobile verification code</a></li>
          <li><a href="" class="govuk-link">Confirmation your account has been created</a></li>
          <li><a href="messages/email-confirm-you-are-the-presenter" class="govuk-link">Email - confirm you are the presenter</a></li>
        </ul>

        <h3 class="govuk-heading-m">Feedback</h3>

        <p class="govuk-body"> <a href="https://companieshouse.atlassian.net/l/c/cHJETQt0" class="govuk-link"> Internal team review feedback session</a> </p>




        <h3 class="govuk-heading-m">User research findings</h3>


        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        
    </div>
  </div>

{% endblock %}
