{% extends "layout.html" %}
{% block pageTitle %}
  Sign in to Companies House
{% endblock %}


{% block header %}
    {{ govukHeader({ serviceName: "Companies House account" }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <h1 class="govuk-heading-l">Companies House account</h1>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <h1 class="govuk-heading-m">First 'FLOWERS LIMITED' user</h1>

        <ul class="govuk-list govuk-list--bullet">
          <li>User has the authentication code. Company added.</li>
          <li>User does not have their authentication code and requests code to their registered office address.</li>
        </ul>

        {{ govukButton({
          text: "First user for 'FLOWERS LIMITED'",
          classes: "govuk-button--secondary",
          href:"start-page-s1-s2"
        }) }}

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <h1 class="govuk-heading-m">Second 'FLOWERS LIMITED' user </h1>
        <ul class="govuk-list govuk-list--bullet">
          <li>User has their authentication code. Company added.</li>
          <li>User does not have their authentication code. Requests authorisation.</li>
        </ul>

     
        {{ govukButton({
          text: "Second user for 'FLOWERS LIMITED'",
          classes: "govuk-button--secondary",
          href: "start-page-s3"
        }) }}

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

         <h1 class="govuk-heading-m">*** CH account within a CHS service ***</h1>

      
        {{ govukButton({
          text: "Start service",
          classes: "govuk-button--secondary",
          href: ""
        }) }}



        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

         <h1 class="govuk-heading-m">Email - Request to add you as an authorised person for FLOWERS LIMITED</h1>

      
        {{ govukButton({
          text: "Confirm or reject authorised person request",
          classes: "govuk-button--secondary",
          href: "../messages/email-confirm-you-are-the-presenter"
        }) }}


        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


        <h2 class="govuk-heading-m">All users - Email</h2> 

        <ul class="govuk-list">
          <li>
            <a class="govuk-link" target="_blank"  href="/messages/verify-email">Companies House account: verify your email address (opens in a new tab)</a>
          </li>
          <li>
            <a class="govuk-link" target="_blank" href="">IN PROGRESS - Account created confirmation (opens in a new tab)</a>
          </li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


        <h2 class="govuk-heading-m">All users - Setting up mobile - 2-step sign in </h2> 

        {{ govukButton({
          text: "Add your mobile number",
          classes: "govuk-button--secondary",
          href: "../add-mobile/manage-account"
        }) }}


        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


        <h1 class="govuk-heading-m">Scenario Five - Post Companies House Account</h1>

        <p class="govuk-body">New companies set up, post Companies House account, no authentication code required. An email will ask for the user to create an account, using the email address that was used for Incorporation, the company will automatically we added to their account.</p>

        {{ govukButton({
          text: "Scenario Five",
          classes: "govuk-button--secondary",
          href: "/messages/email-confirm-you-are-the-presenter"
        }) }}


        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <h2 class="govuk-heading-m">Webfiling and CHS</h2> 
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="#">Webfiling</a>
          </li>
          <li>
            <a class="govuk-link" href="#">CHS</a>
          </li>
        </ul>





    </div>
  </div>
{% endblock %}
