{% extends "layout.html" %}

{% block pageTitle %}
  Companies House account
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-m">Your Companies House account has been created </h1>

      <h2 class="govuk-heading-m">Director</h2>

      <p class="govuk-body">Flowers LTD has been added to your account.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>An email has been sent to 'NAME'.</li>
        <li>They need to click the link in the email to confirm they are your presenter.</li>
        <li>Once this has be confirmed, they can file on behalf of your company.</li>
        <li>You can change your presenter and what they can file in your account.</li>
      </ul>

      <h2 class="govuk-heading-m">Presenter</h2>


      <ul class="govuk-list govuk-list--bullet">
        <li>An email has been sent to 'NAME'.</li>
        <li>They need to click the link in the email to confirm you are their presenter.</li>
        <li>Once this has be confirmed, the company will be added to your account and you can file on behalf of your company.</li>
        <li>You can view the status of this request in your account.</li>
      </ul>




      <p class="govuk-body">Next, you'll be taken to your account where you can: </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>update your details</li>
        <li>update your account details</li>
        <li>manage your agents settings</li>
        <li>....</li>
      </ul>


      {{ govukButton({
        text: "View my account",
        href:"user-account/home"
      }) }}


    </div>
  </div>
{% endblock %}