{% extends "layout.html" %}

{% block pageTitle %}
  Companies House account
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-m">Your Companies House account has been created </h1>

      <p class="govuk-body">Your company, Flowers LTD has been added to your account.</p>

      <p class="govuk-body">Next, you'll be taken to your account where you can: </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>update your details</li>
        <li>update your account details</li>
        <li>manage your agents settings</li>
        <li>....</li>
      </ul>


      {{ govukButton({
        text: "View my account",
        href:"user-account/home"
      }) }}


    </div>
  </div>
{% endblock %}