{% extends "layout.html" %}

{% set serviceName = serviceName %}
{% set serviceUrl = serviceURL %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Activate your Companies House account
      </h1>
      <p class="govuk-body-l">Choose a password for
        <span class="govuk-!-font-weight-bold">{{ accountEmail }}
        </span>
      </p>
      <form action="" method="POST">
        {{ govukInput({
          label: {
            text: "Password"
          },
          type: "password",
          id: "password",
          name: "password",
          classes: "govuk-!-width-three-quarters"
        }) }}
        {{ govukInput({
          label: {
            text: "Confirm password"
          },
          type: "password",
          id: "confirm-password",
          name: "confirmPassword",
          classes: "govuk-!-width-three-quarters"
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
        <input type="hidden" name="accountEmail" value="{{ accountEmail }}">
        <input type="hidden" name="serviceName" value="{{ serviceName }}">
        <input type="hidden" name="serviceURL" value="{{ serviceURL }}">
        <input type="hidden" name="continueURL" value="{{ continueURL }}">
      </form>
    </div>
  </div>

{% endblock %}