{% extends "layout.html" %}

{% block pageTitle %}
  Request an authentication code
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"authentication-code"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-width-container">


<div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <form action="/authentication-code-v2" method="post">

          <span class='govuk-caption-xl'>FLOWERS LIMITED</span><h1 class='govuk-heading-xl'>Do you want us to send the authentication code to the registered office address?</h1>

          <p class="govuk-body">We'll send the authentication code by post to:</p>

          <p class='govuk-body govuk-!-font-weight-bold'>37 London Road<br> London <br> SE3 6GI</p>
                  <p class="govuk-body">It can take up to 5 days to arrive.</p>

          {{ govukButton({
            text: "Send the authentication code",
            href:"user-account/home-no-companies-auth-code-notification"
          }) }}

          {{ govukButton({
            text: "Cancel",
            classes: "govuk-button--secondary"
          }) }}

        </form>
      </div>
    </div>
  </div>
<p><a href="https://find-and-update.company-information.service.gov.uk/auth-code-requests/start" class="govuk-link" rel="noreferrer noopener" target="_blank">Request authentication code to be sent to a home address (opens in new tab)</a><p>
   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>


{% endblock %}
