{% extends "layout-account-options.html" %}

{% block pageTitle %}
  Enter the company authentication code
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"check-company-details"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/authentication-code-v2" method="post">

        <span class='govuk-caption-xl'>FLOWERS LIMITED</span><h1 class='govuk-heading-xl'>Do you want to request an authentication code for FLOWERS LIMTIED?</h1>

        {{ govukInsetText({
          text: "The authentication code is sent by post to your company’s registered office and can take up to 5 days to arrive."
        }) }}

        {{ govukRadios({
          idPrefix: "auth-code",
          name: "auth-code",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: yes
              }
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
    </div>
  </form>
  </div>
{% endblock %}
