{% extends "layout.html" %}

{% block pageTitle %}
  Request an authentication code
{% endblock %}


{% block content %}

<div class="govuk-width-container">


<div class="govuk-grid-row">

      <div class="govuk-grid-column-one-quarter">

        <nav aria-label="Account management">

          <ul class="account-menu">
            <li class="account-menu-item ">
              <a href="../user-account/home-version-2" class="account-menu-link govuk-link govuk-link--no-visited-state">Home</a>
              <span class="account-menu-link-description"> Overview of your account.</span>
            </li>
            <li class="account-menu-item account-menu__item--current">
              <a href="../user-account/home-no-companies-no-notification" class="account-menu-link govuk-link govuk-link--no-visited-state">Your companies</a>
              <span class="account-menu-link-description"> View and manage companies and people authorised to file on behalf of a company.</span>
            </li>
             <li class="account-menu-item">
              <a href="#" class="account-menu-link govuk-link govuk-link--no-visited-state">Your filings</a>
              <span class="account-menu-link-description"> Record of documents you have filed.</span>
            </li>
            <li class="account-menu-item">
              <a href="#" class="account-menu-link govuk-link govuk-link--no-visited-state">Companies you follow</a>
              <span class="account-menu-link-description"> View and manage companies you follow.</span>
            </li>
            <li class="account-menu-item account-menu__item">
              <a href="../user-account/manage-account" class="account-menu-link govuk-link govuk-link--no-visited-state">Manage your account</a>
              <span class="account-menu-link-description"> Make changes to your details and account settings </span>
            </li>
          </ul>
        </nav>
      </div>


      <div class="govuk-grid-column-two-thirds">

        <form action="/request-authorisation-to-file" method="post">


            {{ govukBackLink({
              text: "Back",
              href:"check-company-details"
            }) }}

            {% if errorRequestAuthorisation  == true %}

            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: errorList
            }) }}

            {% endif %}

            {% if errorRequestAuthorisation  == true %}

            {{ govukRadios({
            idPrefix: "request-authorisation",
            name: "request-authorisation",
            fieldset: {
              legend: {
                text: "Do you want to request authorisation to file for this company?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            hint:{
              text:"We will send an email request to the person who added this company to their account using the authentication code."
            },
            errorMessage: {
              text: "Select yes to request authorisation to file for this company"
            },
            items: [
              {
                value: "yes",
                text: "Yes",
                conditional: {
                  html: "<p> We will send an email request to the person who added this company to their account using the authentication code.</p>"
                }
              },
              {
                value: "no",
                text: "No",
                conditional: {
                  html: "<p> Send the authentication code sent to the regsitered office address which will take 5 days.</p>"
                }
              }
            ]
          }) }}

          {% else %}

          {{ govukRadios({
            idPrefix: "request-authorisation",
            name: "request-authorisation",
            fieldset: {
              legend: {
                text: "Do you want to request authorisation to file for this company?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes",
                conditional: {
                  html: "<p> We'll send an email request to the person who added this company to their account using the authentication code. As soon as the request has been granted, you will be authorised to file for this company.</p>"
                }

              },
              {
                value: "no",
                text: "No",
                conditional: {
                  html: "<p>We can send the authentication code to the registered office address by post. This usually takes up to 5 days.</p>"
                }
              }
            ]
          }) }}

          {% endif %}

          {{ govukButton({
            text: "Continue"
          }) }}

        </form>
      </div>
    </div>
  </div>
  
   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>


{% endblock %}
