{% extends "layout.html" %}

{% block pageTitle %}
  Request an authentication code
{% endblock %}


{% block content %}

<div class="govuk-width-container">


<div class="govuk-grid-row">
    
    <div class="govuk-grid-row govuk-main-wrapper">

      <div class="govuk-grid-column-one-quarter">

        <nav aria-label="Account management">

          <ul class="account-menu">
            <li class="account-menu-item ">
              <a href="../user-account/home-version-2" class="account-menu-link govuk-link govuk-link--no-visited-state">Home</a>
              <span class="account-menu-link-description"> Overview of your account.</span>
            </li>
            <li class="account-menu-item account-menu__item--current">
              <a href="../user-account/home-no-companies-no-notification" class="account-menu-link govuk-link govuk-link--no-visited-state">Your companies</a>
              <span class="account-menu-link-description"> View and manage companies and people authorised to file on behalf of the companies on your account.</span> 
            </li>
             <li class="account-menu-item">
              <a href="#" class="account-menu-link govuk-link govuk-link--no-visited-state">Your filings</a>
              <span class="account-menu-link-description"> Record of documents you have filed.</span> 
            </li>
            <li class="account-menu-item">
              <a href="#" class="account-menu-link govuk-link govuk-link--no-visited-state">Companies you follow</a>
              <span class="account-menu-link-description"> View and manage companies you follow.</span>
            </li>
            <li class="account-menu-item account-menu__item">
              <a href="../user-account/manage-account" class="account-menu-link govuk-link govuk-link--no-visited-state">Manage your account</a>
              <span class="account-menu-link-description"> Make changes to your details and account settings </span>
            </li>
          </ul>
        </nav>
      </div>


      <div class="govuk-grid-column-two-thirds">

        <form action="/authentication-code-v2" method="post">

          {{ govukBackLink({
            text: "Back",
            href:"check-company-details"
          }) }}

          <span class='govuk-caption-xl'>FLOWERS LIMITED</span><h1 class='govuk-heading-xl'>Do you want to request an authentication code for this company?</h1>

          <p class="govuk-body">We will send the authentication code by post to the registered office address:</p>

          <p class='govuk-body govuk-!-font-weight-bold'>37 London Road<br> London <br> SE3 6GI</p>
                  <p class="govuk-body">It can take up to 5 days to arrive.</p>

          {{ govukButton({
            text: "Request an authentication code",
            href:"user-account/home-no-companies-auth-code-notification"
          }) }}
          {{ govukButton({
            text: "Cancel",
            classes: "govuk-button--secondary"
          }) }}
        </form>
      </div>
    </div>
  </div>
</div>
        
   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% endblock %}


