{% extends "layout.html" %}
{% block pageTitle %}
  Sign in to Companies House
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <h1 class="govuk-heading-l">Companies House account</h1>

      <h2 class="govuk-heading-m">Creating a Companies House acccount</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="start-page" class="govuk-link">Start page</a></li>
        <li><a href="enter-your-details" class="govuk-link">What are your details?</a></li>
        <li><a href="create-your-password" class="govuk-link">Create a password</a></li>
        <li><a href="check-your-email" class="govuk-link">Verify your email address</a></li>
      </ul>

      <h2 class="govuk-heading-m">Verify your email address</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="../messages/verify-email" class="govuk-link">Companies House account:
verify your email address</a></li>
        <li><a href="../messages/verify-email-confirmation" class="govuk-link">Email address verified</a></li>
        <li><a href="../user-account/home-no-companies" class="govuk-link">You've successfully verified your email address and created your account</a></li>
      </ul>


      <h2 class="govuk-heading-m">Sign in</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="sign-in" class="govuk-link">Sign in</a></li>
      </ul>

      <h2 class="govuk-heading-m">Change your password (In progress)</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="../forgotten-password/change-your-password" class="govuk-link">Change your password</a></li>
         <li><a href="../forgotten-password/reset-password-check-email" class="govuk-link">Reset your password - check your email</a></li>
         <li><a href="../forgotten-password/email-reset-password" class="govuk-link">Email reset your password </a></li>


         <li><a href="../forgotten-password/reset-your-password" class="govuk-link">Reset your password</a></li>
         <li><a href="../forgotten-password/sign-in-password-reset" class="govuk-link">You've successfully updated the password for your Companies House account</a></li>
      </ul>





      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      
      <h2 class="govuk-heading-m">Add a company to your account</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="../add-a-company" class="govuk-link">What is the company number?</a></li>
        <li><a href="check-company-details" class="govuk-link">Check company details</a></li>
        <li><a href="authentication-code-v2" class="govuk-link">Do you have the authentication code for this company?</a></li>
      </ul>


      <h3 class="govuk-heading-s">Authentication code - Yes</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="user-account/company-added" class="govuk-link">Authentication code - Yes - Company added to your account</a></li>
        
        <li><a href=".//user-account/company-added" class="govuk-link">Company added to your account</a></li>
      </ul>

      <h3 class="govuk-heading-s">Authentication code - No</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="request-an-authentication-code" class="govuk-link">Do you want to request an authentication code for this company?</a></li>
        <li><a href="../request-authorisation" class="govuk-link">Do you want to request authorisation to file for this company?</a></li>

        <li><a href="../company-added-authorisation-sent" class="govuk-link">A request has been sent to confirm you are an authorised person to file for FLOWERS LIMITED.</a></li>
        <li><a href="../user-account/home-no-companies-auth-code-notification" class="govuk-link">The authentication code for 'FLOWERS LIMITED' will be posted to the registered office address within 5 days.</a></li>
      </ul>


      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


      <h2 class="govuk-heading-m">Add an authorised person</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="../delegate-to-presenter/enter-presenter-details" class="govuk-link">What are the authorised person's contact details?</a></li>
        <li><a href="../user-account/auth-person-added" class="govuk-link">Email request sent</a></li>
      </ul>

      <h2 class="govuk-heading-m">Email request for an authorised person to file for a company</h2>

      <p class="govuk-body">** We need to ask the user to sign in or create an account before they confirm the request.****</p>


      <ul class="govuk-list govuk-list--bullet">
        <li><a href="../messages/email-confirm-you-are-the-presenter" class="govuk-link">Companies House account:
Request to add you as an authorised person for FLOWERS LIMITED</a></li>
        
        <li><a href="../delegate-to-presenter/confirm-authorised-person" class="govuk-link">Confirm you want to be authorised to file for this company</a></li>
        <li><a href="../delegate-to-presenter/auth-person-request-added" class="govuk-link">You are now authorised to file for 'FLOWERS LIMITED'.</a></li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h3 class="govuk-heading-s">*** User account ***</h3>
     
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/user-account/home" class="govuk-link">Home</a></li>
        <li><a href="https://ch-account-prototype-dev.herokuapp.com/user-account/your-details" class="govuk-link">Your details</a></li>
        <li><a href="https://ch-account-prototype-dev.herokuapp.com/user-account/messages" class="govuk-link">Messages</a></li>
        <li><a href="https://ch-account-prototype-dev.herokuapp.com/user-account/account-settings" class="govuk-link">Manage account</a></li>
        <li><a href="https://ch-account-prototype-dev.herokuapp.com/user-account/manage-presenters" class="govuk-link">Manage presenters</a></li>
        <li><a href="https://ch-account-prototype-dev.herokuapp.com/user-account/add-presenter" class="govuk-link">Add another company</a></li>
      </ul>


      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m">Out of scope</h2>


      <h2 class="govuk-heading-m">Identifying and matching users</h2>

      <h3 class="govuk-heading-s">Director matched</h3>
     
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://ch-account-prototype-dev.herokuapp.com/link-director-to-a-company" class="govuk-link">One director name matches - Are you Hannah Salt?</a></li>

        <li><a href="" class="govuk-link">More than one director name matches. Select from a list, which director are you?</a></li>
      </ul>


       <h3 class="govuk-heading-s"> Officer details incorrect (In progress)</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="" class="govuk-link">You need to update your officer information.</a></li>
      </ul>

      <h3 class="govuk-heading-s"> Confirm officer details or officer missing (In progress)</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="" class="govuk-link">Check officer details and confirm</a></li>
      </ul>

        



    </div>
  </div>
{% endblock %}