{% extends "layout.html" %}
{% block pageTitle %}
  Sign in to Companies House
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <h1 class="govuk-heading-l">Companies House account</h1>

      <h2 class="govuk-heading-m">Entry points to the service</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://ch-account-prototype-dev.herokuapp.com/sign-in" class="govuk-link">CHS sign in page</a></li>
        <li><a href="https://ch-account-prototype-dev.herokuapp.com/sign-in" class="govuk-link">Webfiling sign in</a></li>
      </ul>

      <h2 class="govuk-heading-m">Start page and two-factor authentication</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://ch-account-prototype-dev.herokuapp.com/start-page" class="govuk-link">New service - start page</a></li>
        <li><a href="https://ch-account-prototype-dev.herokuapp.com/enter-your-details" class="govuk-link">Enter your details</a></li>
        <li><a href="https://ch-account-prototype-dev.herokuapp.com/check-your-email" class="govuk-link">Check your email</a></li>
        <li><a href="https://ch-account-prototype-dev.herokuapp.com/check-your-phone" class="govuk-link">Check your phone</a></li>
      </ul>

      <h2 class="govuk-heading-m">?? Create a password and sign in (new users)</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://ch-account-prototype-dev.herokuapp.com/enter-your-password" class="govuk-link">Create your password</a></li>
        <li><a href="https://ch-account-prototype-dev.herokuapp.com/sign-in" class="govuk-link">Sign in to continue</a></li>
      </ul>


      <h2 class="govuk-heading-m">Add a company to your account</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://ch-account-prototype-dev.herokuapp.com/account-created-interruption-page" class="govuk-link">Account created, now you need to add a company to your account</a></li>
        <li><a href="https://ch-account-prototype-dev.herokuapp.com/add-a-company" class="govuk-link">Add a company to your account</a></li>
        <li><a href="https://ch-account-prototype-dev.herokuapp.com/check-company-details" class="govuk-link">Check company details</a></li>
        <li><a href="https://ch-account-prototype-dev.herokuapp.com/authentication-code" class="govuk-link">Enter authentication code</a></li>

        <li><a href="https://ch-account-prototype-dev.herokuapp.com/add-another-company" class="govuk-link">Do you want to add another company to your account?</a></li>
      </ul>

      <h2 class="govuk-heading-m">Identifying and matching users</h2>

      <h3 class="govuk-heading-s">Director matched</h3>
     
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://ch-account-prototype-dev.herokuapp.com/link-director-to-a-company" class="govuk-link">One director name matches - Are you Hannah Salt?</a></li>

        <li><a href="" class="govuk-link">More than one director name matches. Select from a list, which director are you?</a></li>
      </ul>


       <h3 class="govuk-heading-s"> Officer details incorrect (In progress)</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="" class="govuk-link">You need to update your officer information.</a></li>
      </ul>

      <h3 class="govuk-heading-s"> Confirm officer details or officer missing (In progress)</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="" class="govuk-link">Check officer details and confirm</a></li>
      </ul>

      <h3 class="govuk-heading-s"> * USER VERIFIES THEIR IDENTITY *</h3>



   

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

       <p> *** For now, we assume they have one company and one presenter. *** </p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">



      <h3 class="govuk-heading-s">Adding a presenter</h3>

     
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://ch-account-prototype-dev.herokuapp.com/who-files-for-the-company" class="govuk-link">Do you want to add a presenter? </a></li>
        <li><a href="https://ch-account-prototype-dev.herokuapp.com/delegate-to-presenter/enter-presenter-details" class="govuk-link">Enter your presenter details</a></li>
        <li><a href="https://ch-account-prototype-dev.herokuapp.com/delegate-to-presenter/presenter-settings" class="govuk-link">Which documents can the presenter file?</a></li>
        <li><a href="https://ch-account-prototype-dev.herokuapp.com/delegate-to-presenter/presenter-request-sent" class="govuk-link">Check presenter details</a></li>
      </ul>











      <h3 class="govuk-heading-s"> Add a presenter (either in flow or through account...)</h3>

        <li><a href="" class="govuk-link"> Enter full name, Company Number and email address a director.</a></li>
        <li><a href="" class="govuk-link"> Request sent to director, they need to confirm before you can file for this company.</a></li>
      </ul>

      <p> User taken to 'Information page'.</p>












       <h3 class="govuk-heading-s">Information page</h3>
     
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://ch-account-prototype-dev.herokuapp.com/interruption-card-before-account" class="govuk-link">Summary page of the new process and the features of the account.  </a></li>
      </ul>


       <h3 class="govuk-heading-s">User account</h3>
     
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://ch-account-prototype-dev.herokuapp.com/interruption-card-before-account" class="govuk-link">Home</a></li>
        <li><a href="https://ch-account-prototype-dev.herokuapp.com/interruption-card-before-account" class="govuk-link">Your details</a></li>
        <li><a href="https://ch-account-prototype-dev.herokuapp.com/interruption-card-before-account" class="govuk-link">Messages</a></li>
        <li><a href="https://ch-account-prototype-dev.herokuapp.com/interruption-card-before-account" class="govuk-link">Account settings</a></li>
        <li><a href="https://ch-account-prototype-dev.herokuapp.com/interruption-card-before-account" class="govuk-link">Manage presenters</a></li>
        <li><a href="https://ch-account-prototype-dev.herokuapp.com/interruption-card-before-account" class="govuk-link">Add another company</a></li>
      </ul>








   <p> What is the main reason you use Companies House? Are you a director or presenter?</p>


        



    </div>
  </div>
{% endblock %}