{% extends "layout.html" %}
{% block pageTitle %}
  Sign in to Companies House account
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"create-your-password"
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/sign-in" method="post" novalidate>

        {% if errorEmail == true or errorPassword == true %}

          {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: errorList
            }) }}

        {% endif %}

      <h1 class="govuk-heading-xl">Sign in to your Companies House account</h1>

      <p class="govuk-body">If you do not have an account, <a href="sign-in" class="govuk-link">you can create one now</a>.</p>

        {% if errorEmail == true %}
          
          {{ govukInput({
            label: {
            text: "Email address"
          },
          id: "email",
          type: "email",
          name: "email",
          autocomplete: "email",
          errorMessage: {
            text: "Enter your email address"
          }
          }) }}

        {% else %}

          {{ govukInput({
            label: {
            text: "Email address"
          },
          type: "email",
          autocomplete: "email",
          id: "email",
          name: "email"
          }) }}

        {% endif %}

        {% if errorPassword == true %}

          {{ govukInput({
          label: {
          text: "Password"
          },
          id: "password",
          name: "password",
          type: "password",
          errorMessage: {
            text: "Enter your password"
          }

        }) }}

        {% else %}

          {{ govukInput({
          label: {
          text: "Password"
          },
          id: "password",
          name: "password",
          type: "password"
          }) }}
          {% endif %}

          {{ govukButton({
          text: "Sign in"

        }) }}

         

      
        <p><a href="../forgotten-password/change-your-password" class="govuk-link govuk-link--no-visited-state">I've forgotten my password</a>

      </p>
      </form>
    </div>
  </div>
{% endblock %}
