{% extends "layout.html" %}
{% block pageTitle %}
  Sign in to Webfiling
{% endblock %}


{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/sign-in-summary" method="post" novalidate>

      <h1 class="govuk-heading-xl">Sign in to WebFiling</h1>

      <div class="govuk-inset-text">
Your WebFiling account has changed. <a href="https://www.gov.uk/government/news/companies-house-will-soon-be-introducing-a-new-webfiling-account" class="govuk-link">Read about the introduction of the new WebFiling account</a>.</p>
      </div>

      <p class="govuk-body">In WebFiling, you can:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-3">
        <li>file your company’s annual accounts</li>
        <li>file your company’s confirmation statement</li>
        <li>file your company’s director or secretary changes and other information</li>
        <li>sign up to get <a href="https://www.gov.uk/guidance/register-for-email-reminders-from-companies-house" class="govuk-link">email reminders</a> when your company’s accounts and confirmation statement are due</li>
        <li>digitally authorise people to file for your company online</li>
      </ul>

<h2 class="govuk-heading-m">Try our new File a confirmation statement service</h2>
<p class="govuk-body">If you have a private company limited by shares, with 1 to 5 officers (including directors and secretaries), up to 5 people with significant control, and 1 shareholder, you can use our <a href="https://find-and-update.company-information.service.gov.uk/confirmation-statement" class="govuk-link">new File a confirmation statement service (opens in a new tab)</a>. You will not be able to pay with a Companies House payment account.</p>

          {{ govukButton({
          text: "Sign in",
          href:"sign-in"

        }) }}





        <p class="govuk-body"><a href="create-an-account" class="govuk-link">Create an account</a></p>


        <p> <a href="https://ewf.companieshouse.gov.uk/sframe?name=aboutWebFiling&lang=en" class="govuk-link">Who can use WebFiling</a><p>

        <p> <a href="https://ewf-kermit.companieshouse.gov.uk/help/en/stdwf/glossaryHelp.html" class="govuk-link">Read the WebFiling guidance</a><p>

        <p> <a href="https://ewf.companieshouse.gov.uk/" class="govuk-link">I need to file a charge (mortgage) document using a lender authentication code</a><p>


      </form>
    </div>
  </div>
{% endblock %}
