{% extends "layout/layout-signin.html" %}

{% block pageTitle %}
  Companies House account
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/start-page" method="post" novalidate>


      <h1 class="govuk-heading-xl">Sign in to WebFiling</h1>

      <p class="govuk-body">In WebFiling, you can:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>file your company’s annual accounts</li>
        <li>file your company’s confirmation statement</li>
        <li>file your company’s director or secretary changes and other information</li>
        <li>sign up to get <a href="https://www.gov.uk/guidance/register-for-email-reminders-from-companies-house" class="govuk-link">email reminders</a> when your company’s accounts and confirmation statement are due</li>
          <li>authorise people to file documents for your company online</li>
      </ul>
      {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}


      {{ govukButton({
        text: "Sign in",
        isStartButton: true
      }) }}
<p class="govuk-body"><a class="govuk-link" href="#">Create a new account</a></p>

<p class="govuk-body"><a class="govuk-link" href="#">Who can use WebFiling</a></p>




      </form>
    </div>
  </div>
{% endblock %}
