{% extends "layout.html" %}

{% block pageTitle %}
  Companies House account
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Create a Companies House account</h1>

      <p class="govuk-body">Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>create a Companies House user account</li>
        <li>connect your account with any companies you are connected to</li>
        <li>if you are a director or person of significant control, you will need to prove your identity</li>
      </ul>

      <p class="govuk-body">Registering takes around 5 minutes.</p>

      {{ govukButton({
        text: "Start now",
        href: "enter-your-details",
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">Before you start</h2>

      <p class="govuk-body">You'll need your company authentication code.</p>

      <p class="govuk-body">The online service is also available in <a class="govuk-link" href="#">Welsh (Cymraeg)</a>.</p>

      <p class="govuk-body">You cannot register for this service if you’re in the UK illegally.</p>
    </div>

  </div>
{% endblock %}