{% extends "layout.html" %}

{% block pageTitle %}
  Companies House account
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Create a Companies House account</h1>

      <p class="govuk-body-l">Use this service to create a Companies House user account.</p>
      <p class="govuk-body">A Companies House account allows you to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>access and use WebFiling and the Companies House service</li>
        <li>add people (or 'presenters') who can update information and file on behalf of your company</li>
        <li>link your account with any companies you are connected to</li>
      </ul>
      <p class="govuk-body">You'll need:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>an email address</li>
        <li>a mobile phone</li>
        <li>to sign in to or create a Companies House account</li>
        <li>to prove your identity if you are a director or person of significant control (PSC)</li>
      </ul>

      <p class="govuk-body">Registering takes around 5 minutes.</p>

      {{ govukButton({
        text: "Start now",
        href: "enter-your-details",
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">Before you start</h2>

      <p class="govuk-body">The online service is also available in <a class="govuk-link" href="#">Welsh (Cymraeg)</a>.</p>

      <p class="govuk-body">You cannot register for this service if you’re in the UK illegally.</p>
    </div>

  </div>
{% endblock %}
