{% extends "layout.html" %}

{% block pageTitle %}
  Create a Companies House account
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/start-page" method="post" novalidate>


      <h1 class="govuk-heading-xl">Companies House account</h1>

      <p class="govuk-body">A Companies House account allows you to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>find and update company information</li>
        <li>file for your company online</li>
        <li>authorise people who can update information and file documents for your company</li>
      </ul>


      {{ govukInsetText({
        text: "You’ll need to provide an email address and verify that you have access to it to create a Companies House account."
      }) }}

      {{ govukButton({
        text: "Create an account",
        isStartButton: true
      }) }}

      <p class="govuk-body">If you already have an account, you can <a href="sign-in" class="govuk-link">sign in</a>.</p>

      </form>
    </div>
  </div>
{% endblock %}
