{% extends "layout.html" %}

{% block pageTitle %}
  Verify your account preference
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"enter-your-details"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "verify-choice",
        name: "verify-choice",
        fieldset: {
          legend: {
            text: "How would you like to verify your account?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "We will send an email or text message to verify your account "
        },
        items: [
          {
            value: "email",
            text: "Email"
          },
          {
            value: "text-message",
            text: "Text message"
          }
        ]
      }) }}

      {{ govukButton({
          text: "Continue"
      }) }}
      </form>
    </div>
  </div>
{% endblock %}
