{% extends "layout.html" %}

{% block pageTitle %}
  Confirming directors information
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

   

      {{ govukCheckboxes({
        idPrefix: "confirm-presenter-or-diy-filer",
        name: "confirm-presenter-or-diy-filer",
        fieldset: {
          legend: {
            text: "Who maintains your company information with Companies House?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "Select all that apply."
        },
        items: [
          {
            value: "diy-filer",
            text: "I do"
          },
          {
            value: "a-director",
            text: "Another director in the company"
          },
          {
            value: "presenter",
            text: "An accountant or agent"
          },
          {
            value: "friend",
            text: "A friend"
          }
        ]
      }) }}

        {{ govukButton({
          text: "Continue",
          href:"company-profile/company-added"
        }) }}


  </div>
  </div>
{% endblock %}