{% extends "layout-account-options.html" %}

{% block pageTitle %}
  Authorise a person to file for a company
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"link-director-to-a-company"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">
        <h1 class="govuk-heading-xl">
          <span class="govuk-caption-xl">FLOWERS LIMITED</span>
          Do you want to authorise another person to file for this company?
        </h1>
                <p class="govuk-body">You can authorise another person (or people) to file for this company such as an accountant or an agent.</p>

        {{ govukInsetText({
        text: "You can change who is authorised to file at any time."
        }) }}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "who-files",
          name: "who-files",
          fieldset: {
            legend: {
              text: ""
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

      {{ govukButton({
          text: "Continue"
      }) }}
      </form>
    </div>
  </div>
{% endblock %}
