{% extends "layout.html" %}

{% block pageTitle %}
  Check your emails - Companies House WebFiling account - GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/mfa/check-your-email" method="post" novalidate>

        {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

        {% set html %}
        <h3 class="govuk-notification-banner__heading">
          Email sent
        </h3>
        <p class="govuk-body">We've sent another email which contains a security code to <span class='govuk-body govuk-!-font-weight-bold'> hannah.salt@example.com</span>.</p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}

        <h1 class="govuk-heading-xl">Check your emails</h1>

        {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

        <p class="govuk-body">We've sent an email to <span class='govuk-body govuk-!-font-weight-bold'>hannah.salt@example.com</span> which contains a security code.

          {{ govukInput({
            label: {
              text: "Security code"
            },
            classes: "govuk-input--width-10",
            id: "width-7",
            name: "width-7"
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}


        {{ govukDetails({
            summaryText: "I have not received an email",
            html: "The email may take a few minutes to arrive. Its subject line is 'Companies House: security code'. </br> </br> Check your junk folder. If it still has not arrived, you can <a href='check-your-email-resent-notification' class='govuk-link'>ask us to send you another email</a></a>."
          }) }}

      </form>
    </div>
  </div>
{% endblock %}
