{% extends "layout.html" %}

{% block pageTitle %}
  Send new security code - Companies House WebFiling account - GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/mfa/check-your-email" method="post" novalidate>


      <h1 class="govuk-heading-xl">Send new security code</h1>

      <p class="govuk-body">Emails may take a few minutes to arrive. If you do not receive the email, you can ask for a new one.</p>


        {{ govukButton({
          text: "Send a new security code",
          href:"check-your-email-resent-notification"
        }) }}



      </form>
    </div>
  </div>
{% endblock %}
