{% extends "layout.html" %}

{% block pageTitle %}
  Change your password
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/mfa/choose-verify-option" method="post" novalidate>


      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "verify-option-mfa",
        name: "verify-option",
        fieldset: {
          legend: {
            text: "How do you want to get an access code?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "mfa-text-message",
            text: "Text message",
            hint: {
              text: "********456"
            }
          },
          {
            value: "mfa-email",
            text: "Email",
            hint: {
              text: "h*********@example.com"
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>
    </div>
  </div>
{% endblock %}
