{% extends "layout.html" %}

{% block pageTitle %}
  Companies House account
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
      <p class="govuk-body">IN PROGRESS -- User account dashboard</p>


      <ul class="govuk-list govuk-list--bullet">
        <li>manage account</li>
        <li>view your companies - how many companies - add more companies</li>
        <li>Who can file for you - settings options</li>
        <li>Notificiation and messages</li>
        <li>account settings</li>
        <li>users details</li>
      </ul>
    
    </div>
  </div>
{% endblock %}