{% extends "layout-account-options.html" %}

{% block pageTitle %}
  Contact details for account
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">Confirm the request to add you as an authorised person for FLOWERS LIMITED</h1>



        {{ govukInsetText({
          text: "The director can change what an authorised person can do for this company."
        }) }}


        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Name"
              },
              value: {
                text: "Jill Edwards"
              }
            },
            {
              key: {
                text: "Email address"
              },
              value: {
                text: "jill.edwards@example.com"
              }
            },
            {
              key: {
                text: "What can the authorised person do for the company?"
              },
              value: {
                html: "File company accounts<br>File confirmation statements<br>Make changes to the company"
              }
            },
            {
              key: {
                text: "Can Jill Edwards authorise other people to file for this company?"
              },
              value: {
                html: "Yes"
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Confirm and continue",
          classes: "govuk-!-margin-right-1",
          href:"../user-account/home-for-auth-person"
        }) }}

        {{ govukButton({
          text: "Cancel",
          classes: "govuk-button--secondary"
        }) }}

  </div>
  </div>
{% endblock %}
