{% extends "layout.html" %}

{% block pageTitle %}
  Verify your account preference
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"enter-your-details"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">
        <span class="govuk-caption-l">FLOWERS LIMITED</span>

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "delegate-responsbility",
        name: "delegate-responsbility",
        fieldset: {
          legend: {
            text: "Can Jill Edwards authorise other people to file for this company?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "...... "
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
          text: "Continue",
          href:"presenter-request-sent"
      }) }}
      </form>
    </div>
  </div>
{% endblock %}
