{% extends "layout.html" %}

{% block pageTitle %}
  Enter the authorised person's details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"who-files-for-the-company"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Enter the authorised person's details</h1>
  <p class="govuk-body">Tell us the details of the authorised person you want to give access to so that they can file for this company.</p>

        {{ govukInput({
          label: {
            text: "Authorised person's full name"
          },
          id: "full-name",
          name: "full-name",
          autocomplete: "name",
          spellcheck: false
        }) }}


        {{ govukInput({
          label: {
            text: "Authorised person's email address"
          },
          hint:{

            text:"We'll send the authorised person an email which they must verify"

          },
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          spellcheck: false
        }) }}

        {{ govukInput({
          label: {
            text: "Authorised person's mobile number"
          },
          hint:{

            text:"We'll send the authorised person a text message which they must verify"

          },
          id: "presenters-telephone-number",
          name: "telephone-number",
          type: "tel",
          autocomplete: "tel"
        }) }}


        {{ govukButton({
                  text: "Continue",
                  href:"presenter-settings"
        }) }}
  </div>
  </div>
{% endblock %}
