{% extends "layout.html" %}

{% block pageTitle %}
  Contact details for account
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukCheckboxes({
          idPrefix: "presenter-options",
          name: "presenter-options",
          fieldset: {
            legend: {
              text: "Select the documents you want your presenter to file for your company",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "confirmation-statement",
              text: "Confirmation statement (annual return)"
            },
            {
              value: "company-accounts",
              text: "Company accounts"
            },
            {
              value: "changes-to-company-details",
              text: "Changes to company details"
            },
            {
              value: "close-a-company",
              text: "Close company"
            }
          ]
        }) }}


        {{ govukButton({
                  text: "Continue",
                  href:"presenter-request-sent"
        }) }}
  </div>
  </div>
{% endblock %}