{% extends "layout-account-options.html" %}

{% block pageTitle %}
  Contact details for account
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-xl">FLOWERS LIMITED</span>
<h1 class="govuk-heading-xl">Check the authorised person's details</h1>



        {{ govukInsetText({
          text: "You can change what an authorised person can do for this company in your account at any time."
        }) }}


        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Name"
              },
              value: {
                text: "Jill Edwards"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "agents name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Email address"
              },
              value: {
                text: "jill.edwards@example.com"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "agents email address"
                  }
                ]
              }
            },
            {
              key: {
                text: "What can the authorised person do for the company?"
              },
              value: {
                html: "File company accounts<br>File confirmation statements<br>Make changes to the company"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "documents agent can file"
                  }
                ]
              }
            },
            {
              key: {
                text: "Can Jill Edwards authorise other people to file for this company?"
              },
              value: {
                html: "Yes"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "delegate fiiling to another person"
                  }
                ]
              }
            }
          ]
        }) }}

        {{ govukButton({
                  text: "Confirm and send request",
                  href:"../user-account/home-auth-person-added"
        }) }}

  </div>
  </div>
{% endblock %}
