{% extends "layout.html" %}

{% block pageTitle %}
  Contact details for account
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukCheckboxes({
          idPrefix: "presenter-options",
          name: "presenter-options",
          fieldset: {
            legend: {
              text: "What do you want the authorised person to do for this company?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
   text: "Select all that apply"
 },
          items: [
            {
              value: "confirmation-statement",
              text: "File company accounts"
            },
            {
              value: "company-accounts",
              text: "File confirmation statements"
            },
            {
              value: "changes-to-company-details",
              text: "Make changes to the company"
            },
            {
              value: "close-a-company",
              text: "Apply to close the company"
            }
          ]
        }) }}


        {{ govukButton({
                  text: "Continue",
                  href:"presenter-request-sent"
        }) }}
  </div>
  </div>
{% endblock %}
